%form-color-default {
  --#{$prefix}idle-bg-regular: #{$input-default-idle-bg-regular};
  --#{$prefix}idle-fg-active: #{$input-default-idle-fg-active};
  --#{$prefix}idle-fg-inactive: #{$input-default-idle-fg-inactive};
  --#{$prefix}idle-border-color: #{$input-default-idle-border-color};
  --#{$prefix}idle-assist-color: #{$input-default-idle-assist-color};
  --#{$prefix}focus-bg-regular: #{$input-default-focus-bg-regular};
  --#{$prefix}focus-fg-active: #{$input-default-focus-fg-active};
  --#{$prefix}focus-fg-inactive: #{$input-default-focus-fg-inactive};
  --#{$prefix}focus-border-color: #{$input-default-focus-border-color};
  --#{$prefix}focus-assist-color: #{$input-default-focus-assist-color};
  --#{$prefix}disabled-bg-regular: #{$input-default-disabled-bg-regular};
  --#{$prefix}disabled-fg-active: #{$input-default-disabled-fg-active};
  --#{$prefix}disabled-fg-inactive: #{$input-default-disabled-fg-inactive};
  --#{$prefix}disabled-border-color: #{$input-default-disabled-border-color};
  --#{$prefix}disabled-assist-color: #{$input-default-disabled-assist-color};
  --#{$prefix}error-bg-regular: #{$input-default-error-bg-regular};
  --#{$prefix}error-fg-active: #{$input-default-error-fg-active};
  --#{$prefix}error-fg-inactive: #{$input-default-error-fg-inactive};
  --#{$prefix}error-border-color: #{$input-default-error-border-color};
  --#{$prefix}error-assist-color: #{$input-default-error-assist-color};
  --#{$prefix}success-bg-regular: #{$input-default-success-bg-regular};
  --#{$prefix}success-fg-active: #{$input-default-success-fg-active};
  --#{$prefix}success-fg-inactive: #{$input-default-success-fg-inactive};
  --#{$prefix}success-border-color: #{$input-default-success-border-color};
  --#{$prefix}success-assist-color: #{$input-default-success-assist-color};

  --#{$prefix}idle-bg-floating: #{$input-default-idle-bg-floating};
  --#{$prefix}focus-bg-floating: #{$input-default-focus-bg-floating};
  --#{$prefix}disabled-bg-floating: #{$input-default-disabled-bg-floating};
  --#{$prefix}error-bg-floating: #{$input-default-error-bg-floating};
  --#{$prefix}success-bg-floating: #{$input-default-success-bg-floating};

  --#{$prefix}file-button-fg-color: #{$form-file-button-default-fg-color};
  --#{$prefix}file-button-bg-image: #{$form-file-button-default-bg-image};
  --#{$prefix}file-button-bg-color: #{$form-file-button-default-bg-color};
  --#{$prefix}file-button-bg-hover: #{$form-file-button-default-bg-hover};

  --#{$prefix}input-addon-fg-color: #{$form-input-addon-default-fg-color};
  --#{$prefix}input-addon-bg-image: #{$form-input-addon-default-bg-image};
  --#{$prefix}input-addon-bg-color: #{$form-input-addon-default-bg-color};
  --#{$prefix}input-addon-border-color: #{$form-input-addon-default-border-color};

  --#{$prefix}form-range-track-color: #{$form-range-default-track-color};
  --#{$prefix}form-range-thumb-color: #{$form-range-default-thumb-color};
  --#{$prefix}form-range-thumb-disabled: #{$form-range-default-thumb-disabled};
  --#{$prefix}form-range-thumb-active: #{$form-range-default-thumb-active};

  --#{$prefix}focus-box-shadow: #{$form-input-default-focus-box-shadow};
}

%form-color-alternate {
  --#{$prefix}idle-bg-regular: #{$input-alternate-idle-bg-regular};
  --#{$prefix}idle-fg-active: #{$input-alternate-idle-fg-active};
  --#{$prefix}idle-fg-inactive: #{$input-alternate-idle-fg-inactive};
  --#{$prefix}idle-border-color: #{$input-alternate-idle-border-color};
  --#{$prefix}idle-assist-color: #{$input-alternate-idle-assist-color};
  --#{$prefix}focus-bg-regular: #{$input-alternate-focus-bg-regular};
  --#{$prefix}focus-fg-active: #{$input-alternate-focus-fg-active};
  --#{$prefix}focus-fg-inactive: #{$input-alternate-focus-fg-inactive};
  --#{$prefix}focus-border-color: #{$input-alternate-focus-border-color};
  --#{$prefix}focus-assist-color: #{$input-alternate-focus-assist-color};
  --#{$prefix}disabled-bg-regular: #{$input-alternate-disabled-bg-regular};
  --#{$prefix}disabled-fg-active: #{$input-alternate-disabled-fg-active};
  --#{$prefix}disabled-fg-inactive: #{$input-alternate-disabled-fg-inactive};
  --#{$prefix}disabled-border-color: #{$input-alternate-disabled-border-color};
  --#{$prefix}disabled-assist-color: #{$input-alternate-disabled-assist-color};
  --#{$prefix}error-bg-regular: #{$input-alternate-error-bg-regular};
  --#{$prefix}error-fg-active: #{$input-alternate-error-fg-active};
  --#{$prefix}error-fg-inactive: #{$input-alternate-error-fg-inactive};
  --#{$prefix}error-border-color: #{$input-alternate-error-border-color};
  --#{$prefix}error-assist-color: #{$input-alternate-error-assist-color};
  --#{$prefix}success-bg-regular: #{$input-alternate-success-bg-regular};
  --#{$prefix}success-fg-active: #{$input-alternate-success-fg-active};
  --#{$prefix}success-fg-inactive: #{$input-alternate-success-fg-inactive};
  --#{$prefix}success-border-color: #{$input-alternate-success-border-color};
  --#{$prefix}success-assist-color: #{$input-alternate-success-assist-color};

  --#{$prefix}idle-bg-floating: #{$input-alternate-idle-bg-floating};
  --#{$prefix}focus-bg-floating: #{$input-alternate-focus-bg-floating};
  --#{$prefix}disabled-bg-floating: #{$input-alternate-disabled-bg-floating};
  --#{$prefix}error-bg-floating: #{$input-alternate-error-bg-floating};
  --#{$prefix}success-bg-floating: #{$input-alternate-success-bg-floating};

  --#{$prefix}file-button-fg-color: #{$form-file-button-alternate-fg-color};
  --#{$prefix}file-button-bg-image: #{$form-file-button-alternate-bg-image};
  --#{$prefix}file-button-bg-color: #{$form-file-button-alternate-bg-color};
  --#{$prefix}file-button-bg-hover: #{$form-file-button-alternate-bg-hover};

  --#{$prefix}input-addon-fg-color: #{$form-input-addon-alternate-fg-color};
  --#{$prefix}input-addon-bg-image: #{$form-input-addon-alternate-bg-image};
  --#{$prefix}input-addon-bg-color: #{$form-input-addon-alternate-bg-color};
  --#{$prefix}input-addon-border-color: #{$form-input-addon-alternate-border-color};

  --#{$prefix}form-range-track-color: #{$form-range-alternate-track-color};
  --#{$prefix}form-range-thumb-color: #{$form-range-alternate-thumb-color};
  --#{$prefix}form-range-thumb-disabled: #{$form-range-alternate-thumb-disabled};
  --#{$prefix}form-range-thumb-active: #{$form-range-alternate-thumb-active};

  --#{$prefix}focus-box-shadow: #{$form-input-alternate-focus-box-shadow};
}


%form-colors {
  @extend %form-color-default;
}

@if $enable-alternate-forms {
  .form-default,
  .form-default *:not(*.form-alternate, .form-default .form-alternate *) {
    @extend %form-color-default;
  }

  .form-alternate,
  .form-alternate *:not(*.form-default, .form-alternate .form-default *){
    @extend %form-color-alternate;
  }
}


%form-size-medium {
  @include map-font($input-medium-text-font, input);
  --#{$prefix}padding-x: var(--#{$prefix}input-padding-x, #{$input-medium-padding-x});
  --#{$prefix}padding-y: var(--#{$prefix}input-padding-y, #{$input-medium-padding-y});
  --#{$prefix}gap: var(--#{$prefix}input-gap, #{$input-medium-gap});
  --#{$prefix}border-width: var(--#{$prefix}input-border-width, #{$input-regular-border-width});
  --#{$prefix}border-radius: var(--#{$prefix}input-border-radius, #{$input-medium-border-radius});
  --#{$prefix}caret-size: var(--#{$prefix}input-caret-size, #{$input-medium-caret-size});
  --#{$prefix}icon-size: var(--#{$prefix}input-icon-size, #{$input-medium-icon-size});
}

%form-size-small {
  --#{$prefix}input-font-size: #{map-get($input-small-text-font, "font-size")};
  --#{$prefix}input-line-height: #{map-get($input-small-text-font, "line-height")};
  --#{$prefix}input-padding-x: #{$input-small-padding-x};
  --#{$prefix}input-padding-y: #{$input-small-padding-y};
  --#{$prefix}input-gap: #{$input-small-gap};
  --#{$prefix}input-border-radius: #{$input-small-border-radius};
  --#{$prefix}input-caret-size: #{$input-small-caret-size};
  --#{$prefix}input-icon-size: #{$input-medium-icon-size};
}

%form-size-large {
  --#{$prefix}input-font-size: #{map-get($input-large-text-font, "font-size")};
  --#{$prefix}input-line-height: #{map-get($input-large-text-font, "line-height")};
  --#{$prefix}input-padding-x: #{$input-large-padding-x};
  --#{$prefix}input-padding-y: #{$input-large-padding-y};
  --#{$prefix}input-gap: #{$input-large-gap};
  --#{$prefix}input-border-radius: #{$input-large-border-radius};
  --#{$prefix}input-caret-size: #{$input-large-caret-size};
  --#{$prefix}input-icon-size: #{$input-medium-icon-size};
}

%form-input {
  // Extend `%component` to assign the default component properties
  @extend %component, %form-colors, %form-size-medium;
  --#{$prefix}fg-color: var(--#{$prefix}input-fg-color, var(--#{$prefix}idle-fg-active));
  --#{$prefix}bg-color: var(--#{$prefix}input-bg-color, var(--#{$prefix}idle-bg-regular));
  --#{$prefix}border-color: var(--#{$prefix}input-border-color, var(--#{$prefix}idle-border-color));
  // --#{$prefix}box-shadow: var(--#{$prefix}input-box-shadow, #{$form-input-box-shadow});

  --#{$prefix}min-height: var(--#{$prefix}input-min-height, #{$form-input-min-height});

  display: block;
  width: 100%;
  min-height: var(--#{$prefix}min-height);
  @include box-padding();
  appearance: none; // Fix appearance for date inputs in Safari
  background-clip: padding-box;

  @include box-shadow($form-input-box-shadow);
  @include transition($form-input-transition);


  &.small {
    @extend %form-size-small;
  }

  &.large {
    @extend %form-size-large;
  }

  &:focus {
    --#{$prefix}fg-color: var(--#{$prefix}focus-fg-active);
    --#{$prefix}bg-color: var(--#{$prefix}focus-bg-regular);
    --#{$prefix}border-color: var(--#{$prefix}focus-border-color);
    --#{$prefix}box-shadow: var(--#{$prefix}focus-box-shadow);
    outline: 0;
    @if $enable-component-shadows {
      @include box-shadow($form-input-box-shadow, var(--#{$prefix}box-shadow));
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: var(--#{$prefix}box-shadow);
    }
  }

  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled {
    --#{$prefix}fg-color: var(--#{$prefix}disabled-fg-active);
    --#{$prefix}bg-color: var(--#{$prefix}disabled-bg-regular);
    --#{$prefix}border-color: var(--#{$prefix}disabled-border-color);
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    // color: var(--#{$prefix}disabled-fg-active);
    opacity: 1;
    &::placeholder {
      color: var(--#{$prefix}disabled-fg-inactive);
    }
  }

}
