// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {

  @extend %context, %solid-context, %component, %box-padding;

  --#{$prefix}size: var(--#{$prefix}badge-size, #{$badge-medium-size});
  --#{$prefix}gap: var(--#{$prefix}badge-gap, #{$badge-medium-gap});
  --#{$prefix}padding-y: var(--#{$prefix}badge-padding-y, #{$badge-medium-padding-y});
  --#{$prefix}padding-x: var(--#{$prefix}badge-padding-x, #{$badge-medium-padding-x + $badge-medium-gap});
  --#{$prefix}border-width: var(--#{$prefix}badge-border-width, #{$badge-border-width});
  --#{$prefix}border-radius: var(--#{$prefix}badge-border-radius, #{$badge-medium-border-radius});
  --#{$prefix}icon-size: var(--#{$prefix}badge-icon-size, #{$badge-medium-icon-size});
  @include map-font($badge-medium-font, badge);

  display: inline-flex;
  gap: var(--#{$prefix}gap);
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  vertical-align: middle;

  &.circle {
    @extend .rounded-circle;
    box-sizing: border-box;
    width: var(--#{$prefix}size);
    height: var(--#{$prefix}size);
    padding: 0;
  }

  &.outline {
    @extend %outline-context;
  }

  &.smooth {
    @extend %smooth-context;
  }

  &.large {
    --#{$prefix}size: #{$badge-large-size};
    --#{$prefix}gap: #{$badge-large-gap};
    --#{$prefix}padding-y: #{$badge-large-padding-y};
    --#{$prefix}padding-x: #{$badge-large-padding-x + $badge-large-gap};
    @include map-font($badge-large-font, badge);
    --#{$prefix}border-radius: #{$badge-large-border-radius};
    --#{$prefix}icon-size: #{$badge-large-icon-size};
  }

  &.small {
    --#{$prefix}size: #{$badge-small-size};
    --#{$prefix}gap: #{$badge-small-gap};
    --#{$prefix}padding-y: #{$badge-small-padding-y};
    --#{$prefix}padding-x: #{$badge-small-padding-x + $badge-small-gap};
    @include map-font($badge-small-font, badge);
    --#{$prefix}border-radius: #{$badge-small-border-radius};
    --#{$prefix}icon-size: #{$badge-small-icon-size};
  }

  > .icon-start {
    margin-left: #{calc(-1 * var(--#{$prefix}gap))};
  }
  > .icon-end {
    margin-right: #{calc(-1 * var(--#{$prefix}gap))};
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

.badge-adaptive {
  --#{$prefix}badge-font-size: .75em;
  --#{$prefix}badge-line-height: 1.5;
  --#{$prefix}badge-icon-size: 1.25em;
  --#{$prefix}badge-gap: .25em;
}

