.breadcrumb {

  @extend %component;

  --#{$prefix}padding-y: var(--#{$prefix}breadcrumb-padding-y, #{$breadcrumb-padding-y});
  --#{$prefix}padding-x: var(--#{$prefix}breadcrumb-padding-x, #{$breadcrumb-padding-x});
  --#{$prefix}margin-bottom: var(--#{$prefix}breadcrumb-margin-bottom, #{$breadcrumb-margin-bottom});
  @include map-font($breadcrumb-font, breadcrumb);
  --#{$prefix}fg-color: var(--#{$prefix}breadcrumb-fg-color, #{$breadcrumb-fg-color});
  --#{$prefix}bg-color: var(--#{$prefix}breadcrumb-bg-color, #{$breadcrumb-bg-color});
  --#{$prefix}border-width: var(--#{$prefix}breadcrumb-border-width, #{$breadcrumb-border-width});
  --#{$prefix}border-color: var(--#{$prefix}breadcrumb-border-color, #{$breadcrumb-border-color});
  --#{$prefix}border-radius: var(--#{$prefix}breadcrumb-border-radius, #{$breadcrumb-border-radius});
  --#{$prefix}border-radius: var(--#{$prefix}breadcrumb-border-radius, #{$breadcrumb-border-radius});
  --#{$prefix}divider-color: var(--#{$prefix}breadcrumb-divider-color, #{$breadcrumb-divider-color});
  --#{$prefix}item-padding-x: var(--#{$prefix}breadcrumb-item-padding-x, #{$breadcrumb-item-padding-x});

  display: flex;
  flex-wrap: wrap;
  padding: var(--#{$prefix}padding-y) var(--#{$prefix}padding-x);
  margin-bottom: var(--#{$prefix}margin-bottom);
  list-style: none;
}

.breadcrumb-page {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-page {
    padding-left: var(--#{$prefix}item-padding-x);

    &::before {
      float: left; // Suppress inline spacings and underlining of the separator
      padding-right: var(--#{$prefix}item-padding-x);
      color: var(--#{$prefix}divider-color);
      content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
    }
  }

  &.active {
    color: var(--#{$prefix}fg-color);
  }
}
