//
// Base styles
//

.card {
  --#{$prefix}spacer-y: var(--#{$prefix}card-spacer-y, #{$card-spacer-y});
  --#{$prefix}spacer-x: var(--#{$prefix}card-spaxer-x, #{$card-spacer-x});
  --#{$prefix}title-spacer-y: var(--#{$prefix}card-title-spacer-y, #{$card-title-spacer-y});
  --#{$prefix}title-fg-color: var(--#{$prefix}card-title-fg-color, #{$card-title-color});
  --#{$prefix}subtitle-fg-color: var(--#{$prefix}card-subtitle-fg-color, #{$card-subtitle-color});
  --#{$prefix}border-width: var(--#{$prefix}card-border-width, #{$card-border-width});
  --#{$prefix}border-color: var(--#{$prefix}card-border-color, #{$card-border-color});
  --#{$prefix}border-radius: var(--#{$prefix}card-border-radius, #{$card-border-radius});
  --#{$prefix}box-shadow: var(--#{$prefix}card-box-shadow, #{$card-box-shadow});
  --#{$prefix}box-radius: var(--#{$prefix}card-box-radius, #{$card-box-radius});
  --#{$prefix}header-padding-y: var(--#{$prefix}card-header-padding-y, #{$card-header-padding-y});
  --#{$prefix}header-padding-x: var(--#{$prefix}card-header-padding-x, #{$card-header-padding-x});
  --#{$prefix}header-fg-color: var(--#{$prefix}card-header-fg-collor, #{$card-header-fg-color});
  --#{$prefix}header-bg-color: var(--#{$prefix}card-header-bg-color, #{$card-header-bg-color});
  --#{$prefix}height: var(--#{$prefix}card-heading, #{$card-height});
  --#{$prefix}fg-color: var(--#{$prefix}card-fg-color, #{$card-fg-color});
  --#{$prefix}bg-color: var(--#{$prefix}card-bg-color, #{$card-bg-color});
  --#{$prefix}image-overlay-padding: var(--#{$prefix}card-image-overlay-padding, #{$card-image-overlay-padding});
  --#{$prefix}group-margin: var(--#{$prefix}card-group-margin, #{$card-group-margin});

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: var(--#{$prefix}height);
  // color: var(--#{$prefix}fg-color);
  word-wrap: break-word;
  background-clip: border-box;
  @include box-shadow(var(--#{$prefix}box-shadow));

  @extend %component;

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
      @include border-top-radius(var(--#{$prefix}box-radius));
    }

    &:last-child  {
      border-bottom-width: 0;
      @include border-bottom-radius(var(--#{$prefix}box-radius));
    }
  }

  // Due to specificity of the above selector (`.card > .list-group`), we must
  // use a child selector here to prevent double borders.
  > .card-header + .list-group,
  > .list-group + .card-footer {
    border-top: 0;
  }
}

.card-content {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: var(--#{$prefix}spacer-y) var(--#{$prefix}spacer-x);
}

.card-title {
  margin-bottom: var(--#{$prefix}title-spacer-y);
  color: var(--#{$prefix}card-title-fg-color);
}

.card-subtitle {
  margin-top: calc(-.5 * var(--#{$prefix}title-spacer-y)); // stylelint-disable-line function-disallowed-list
  margin-bottom: 0;
  color: var(--#{$prefix}subtitle-fg-color);
}

.card-body:last-child {
  margin-bottom: 0;
}

.card-link {
  &:hover {
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  + .card-link {
    margin-left: var(--#{$prefix}spacer-x);
  }
}

//
// Optional textual headers
//

.card-header {
  padding: var(--#{$prefix}header-padding-y) var(--#{$prefix}header-padding-x);
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color: var(--#{$prefix}header-fg-color);
  background-color: var(--#{$prefix}header-bg-color);
  border-bottom: var(--#{$prefix}border-width) solid var(--#{$prefix}separator-color);

  &:first-child {
    @include border-radius(var(--#{$prefix}box-radius) var(--#{$prefix}box-radius) 0 0);
  }
}

.card-footer {
  padding: var(--#{$prefix}header-padding-y) var(--#{$prefix}header-padding-x);
  color: var(--#{$prefix}header-fg-color);
  background-color: var(--#{$prefix}header-bg-color);
  border-top: var(--#{$prefix}border-width) solid var(--#{$prefix}separator-color);

  &:last-child {
    @include border-radius(0 0 var(--#{$prefix}box-radius) var(--#{$prefix}box-radius));
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: calc(-.5 * var(--#{$prefix}header-padding-x)); // stylelint-disable-line function-disallowed-list
  margin-bottom: calc(-1 * var(--#{$prefix}header-padding-y)); // stylelint-disable-line function-disallowed-list
  margin-left: calc(-.5 * var(--#{$prefix}header-padding-x)); // stylelint-disable-line function-disallowed-list
  border-bottom: 0;

  .nav-link.active {
    background-color: var(--#{$prefix}bg-color);
    border-bottom-color: var(--#{$prefix}bg-color);
  }
}

.card-header-pills {
  margin-right: calc(-.5 * var(--#{$prefix}header-padding-x)); // stylelint-disable-line function-disallowed-list
  margin-left: calc(-.5 * var(--#{$prefix}header-padding-x)); // stylelint-disable-line function-disallowed-list
}

// Card image
.card-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--#{$prefix}image-overlay-padding);
  @include border-radius(var(--#{$prefix}box-radius));
}

.card-image,
.card-image-top,
.card-image-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.card-image,
.card-image-top {
  @include border-top-radius(var(--#{$prefix}box-radius));
}

.card-image,
.card-image-bottom {
  @include border-bottom-radius(var(--#{$prefix}box-radius));
}


//
// Card groups
//

.card-group {
  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: var(--#{$prefix}group-margin);
  }

  @include media-breakpoint-up(small) {
    display: flex;
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded-borders {
        &:not(:last-child) {
          @include border-end-radius(0);

          .card-image-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-right-radius: 0;
          }
          .card-image-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-start-radius(0);

          .card-image-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-left-radius: 0;
          }
          .card-image-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}
