// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  // scss-docs-start nav-css-vars
  // --#{$prefix}nav-link-padding-y: #{$nav-link-padding-y};
  // --#{$prefix}nav-link-padding-x: #{$nav-link-padding-x};
  // --#{$prefix}nav-link-link-color: #{$nav-link-color};
  // --#{$prefix}nav-link-hover-color: #{$nav-link-hover-color};
  // --#{$prefix}nav-link-active-color: #{$nav-link-active-color};
  // --#{$prefix}nav-link-disabled-color: #{$nav-link-disabled-color};

  @if $nav-link-font {
    @include map-font($nav-link-font, nav);
  }
  // scss-docs-end nav-css-vars

  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  // scss-docs-start nav-link-css-vars
  --#{$prefix}padding-y: var(--#{$prefix}nav-link-padding-y, #{$nav-link-padding-y});
  --#{$prefix}padding-x: var(--#{$prefix}nav-link-padding-x, #{$nav-link-padding-x});
  --#{$prefix}link-color: var(--#{$prefix}nav-link-color, #{$nav-link-color});
  --#{$prefix}hover-color: var(--#{$prefix}nav-link-hover-color, #{$nav-link-hover-color});
  --#{$prefix}active-color: var(--#{$prefix}nav-link-active-color, #{$nav-link-active-color});
  --#{$prefix}disabled-color: var(--#{$prefix}nav-link-disabled-color, #{$nav-link-disabled-color});
  // scss-docs-end nav-link-css-vars
  --#{$prefix}fg-color: var(--#{$prefix}link-color);

  display: block;
  // align-items: center;
  @include padding();
  @include font();
  color: var(--#{$prefix}fg-color);
  text-decoration: if($link-decoration == none, null, none);
  background: none;
  border: 0;
  @include transition($nav-link-transition);

  &:hover,
  &:focus {
    --#{$prefix}fg-color: var(--#{$prefix}hover-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  &:focus-visible {
    outline: 0;
    box-shadow: $nav-link-focus-box-shadow;
  }

  &.active,
  &:active {
    --#{$prefix}link-color: var(--#{$prefix}active-color);
  }

  // Disabled state lightens text
  &.disabled,
  &:disabled {
    --#{$prefix}link-color: var(--#{$prefix}disabled-color);
    pointer-events: none;
    cursor: default;
  }

  // .nav.flex-column & {
  //   display: flex;
  //   justify-content: space-between;
  // }

}

//
// Tabs
//

.nav-tabs {
  // scss-docs-start nav-tabs-css-vars
  --#{$prefix}border-width: var(--#{$prefix}nav-tabs-border-width, #{$nav-tabs-border-width});
  --#{$prefix}border-color: var(--#{$prefix}nav-tabs-border-color, #{$nav-tabs-border-color});
  --#{$prefix}border-radius: var(--#{$prefix}nav-tabs-border-radius, #{$nav-tabs-border-radius});
  --#{$prefix}hover-border-color: var(--#{$prefix}nav-tabs-hover-border-color, #{$nav-tabs-hover-border-color});
  --#{$prefix}active-fg-color: var(--#{$prefix}nav-tabs-active-fg-color, #{$nav-tabs-active-fg-color});
  --#{$prefix}active-bg-color: var(--#{$prefix}nav-tabs-active-bg-color, #{$nav-tabs-active-bg-color});
  --#{$prefix}active-ornament-color: var(--#{$prefix}nav-tabs-active-ornament-color, #{$nav-tabs-active-ornament-color});
  --#{$prefix}active-ornament-width: var(--#{$prefix}nav-tabs-active-ornament-width, #{$nav-tabs-active-ornament-width});
  // scss-docs-end nav-tabs-css-vars
  border-bottom: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);

  .nav-link {
    @include box-padding();
    margin-bottom: calc(-1 * var(--#{$prefix}border-width)); // stylelint-disable-line function-disallowed-list
    border: var(--#{$prefix}border-width) solid transparent;
    @include border-top-radius(var(--#{$prefix}border-radius));


    &:hover,
    &:focus {
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      isolation: isolate;
      border-color: var(--#{$prefix}hover-border-color);
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    padding: #{calc(var(--#{$prefix}padding-y) - var(--#{$prefix}active-ornament-width))} #{calc(var(--#{$prefix}padding-x) - var(--#{$prefix}border-width))} #{calc(var(--#{$prefix}padding-y) - var(--#{$prefix}border-width))};
    color: var(--#{$prefix}active-fg-color);
    background-color: var(--#{$prefix}active-bg-color);
    // border-color: var(--#{$prefix}active-border-color);
    border-color: var(--#{$prefix}border-color) var(--#{$prefix}border-color) var(--#{$prefix}active-bg-color);
    border-top: var(--#{$prefix}active-ornament-width) solid var(--#{$prefix}active-ornament-color);
  }

  //.dropdown-menu {
  //  // Make dropdown border overlap tab border
  //  margin-top: #{calc(-1 * var(--#{$prefix}border-width))};
  //  // Remove the top rounded corners here since there is a hard edge above the menu
  //  @include border-top-radius(0);
  //}
}


//
// Pills
//

.nav-pills {
  // scss-docs-start nav-pills-css-vars
  --#{$prefix}border-radius: var(--#{$prefix}nav-pills-border-radius, #{$nav-pills-border-radius});
  --#{$prefix}active-fg-color: var(--#{$prefix}nav-pills-active-fg-color, #{$nav-pills-active-fg-color});
  --#{$prefix}active-bg-color: var(--#{$prefix}nav-pills-active-bg-color, #{$nav-pills-active-bg-color});
  // scss-docs-end nav-pills-css-vars

  .nav-link {
    @include border-radius(var(--#{$prefix}border-radius));
    // justify-content: center;
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--#{$prefix}active-fg-color);
    @include gradient-bg(var(--#{$prefix}active-bg-color));
  }
}


//
// Underline
//

.nav-underline {
  // scss-docs-start nav-underline-css-vars
  --#{$prefix}gap: var(--#{$prefix}nav-underline-gap, #{$nav-underline-gap});
  --#{$prefix}border-width: var(--#{$prefix}nav-underline-border-width, #{$nav-underline-border-width});
  --#{$prefix}active-fg-color: var(--#{$prefix}nav-underline-active-color, #{$nav-underline-active-color});
  // scss-docs-end nav-underline-css-vars

  gap: var(--#{$prefix}gap);

  .nav-link {
    padding-right: 0;
    padding-left: 0;
    border-bottom: var(--#{$prefix}border-width) solid transparent;

    &:hover,
    &:focus {
      border-bottom-color: currentcolor;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    font-weight: $font-weight-bold;
    color: var(--#{$prefix}active-fg-color);
    border-bottom-color: currentcolor;
  }
}


//
// Collapsible navigation
//

.nav-collapse {
  // scss-docs-start nav-collapse-css-vars
  --#{$prefix}indicator-icon: var(--#{$prefix}nav-collapse-indicator-icon, #{$nav-collapse-indicator-icon});
  --#{$prefix}indicator-transition: var(--#{$prefix}nav-collapse-indicator-transition, #{$nav-collapse-indicator-transition});
  // scss-docs-end nav-collapse-css-vars

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include caret(up, $icon: var(--#{$prefix}indicator-icon));

  &.collapsed {
    @include caret(down, $icon: var(--#{$prefix}indicator-icon));
  }
  &::after {
    @include transition(var(--#{$prefix}indicator-transition));
  }
}


//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }
}

.nav-fill,
.nav-justified {
  .nav-item .nav-link {
    width: 100%; // Make sure button will grow
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
