// Disable animation if transitions are disabled

// scss-docs-start progress-keyframes
@if $enable-transitions {
  @keyframes progress-bar-stripes {
    0% { background-position-x: $progress-height; }
  }
}
// scss-docs-end progress-keyframes

.progress,
.progress-stacked {
  --#{$prefix}height: var(--#{$prefix}progress-height, #{$progress-height});
  @include rfs($progress-font-size, --#{$prefix}font-size);

  display: flex;
  height: var(--#{$prefix}height);
  overflow: hidden; // force rounded corners by cropping it
  @include font-size(var(--#{$prefix}font-size));
  @include line-height();
  background-color: var(--#{$prefix}progress-bg-color, #{$progress-bg-color});
  @include border-radius(var(--#{$prefix}progress-border-radius, #{$progress-border-radius}));
  @include box-shadow(var(--#{$prefix}progress-box-shadow, #{$progress-box-shadow}));
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--#{$prefix}progress-bar-fg-color, #{$progress-bar-fg-color});
  text-align: center;
  white-space: nowrap;
  background-color: var(--#{$prefix}progress-bar-bg-color, #{$progress-bar-bg-color});
  @include transition(var(--#{$prefix}progress-bar-transition, #{$progress-bar-transition}));
}

.progress-bar-striped {
  @include gradient-striped();
  background-size: var(--#{$prefix}height) var(--#{$prefix}height);
}

.progress-stacked > .progress {
  overflow: visible;
}

.progress-stacked > .progress > .progress-bar {
  width: 100%;
}

@if $enable-transitions {
  .progress-bar-animated {
    animation: var(--#{$prefix}progress-bar-animation-timing, $progress-bar-animation-timing) progress-bar-stripes;

    @if $enable-reduced-motion {
      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }
}
