//
// Headings
//
.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

//
// Lists
//
// stylelint-disable
ul,
ol {
  &.bulletless {
    @include bulletless();
  }
  &.inline {
    @include bulletless();

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: $list-inline-padding;
      }
    }
  }
}
// stylelint-enable

//
// Font sizes with line height
//
@each $name, $value in $font-sizes {
  .font-#{$name} {
    //stylelint-disable-next-line property-disallowed-list
    font-size: var(--#{$prefix}font-size-#{$name}) if($enable-important-utilities, !important, null);
    line-height: var(--#{$prefix}line-height-#{$name}) if($enable-important-utilities, !important, null);
  }
}

// Type display classes
@each $name, $value in $display-font-sizes {
  .font-display.font-#{$name} {
    //stylelint-disable-next-line property-disallowed-list
    font-size: var(--#{$prefix}font-size-display-#{$name}) if($enable-important-utilities, !important, null);
    line-height: var(--#{$prefix}line-height-display-#{$name}) if($enable-important-utilities, !important, null);
  }
}

// Type display classes
@each $name, $value in $display-font-weights {
  .font-display.font-#{$name} {
    font-weight: var(--#{$prefix}font-weight-display-#{$name}) if($enable-important-utilities, !important, null);
  }
}

// Type display classes
@each $name, $value in $context-fonts {
  .font-#{$name} {
    $font-family: map-get($value, "font-family");
    $font-size: map-get($value, "font-size");
    $line-height: map-get($value, "line-height");
    $font-weight: map-get($value, "font-weight");
    $font-style: map-get($value, "font-style");
    $letter-spacing: map-get($value, "letter-spacing");
    $text-transform: map-get($value, "text-transform");
    $text-decoration: map-get($value, "text-decoration");
    $margin-bottom: map-get($value, "margin-bottom");
    margin-bottom: $margin-bottom;
    font: $font-style $font-weight #{$font-size} / #{$line-height} $font-family;
    text-decoration: $text-decoration;
    text-transform: $text-transform;
    letter-spacing: $letter-spacing;
    // @include map-font($context-fonts, $prop: true);
  }
}

//
// Misc
//

// Builds on `abbr`
// Blockquotes
.blockquote {
  $font-family: map-get($blockquote-font, "font-family");
  $font-size: map-get($blockquote-font, "font-size");
  $line-height: map-get($blockquote-font, "line-height");
  $font-weight: map-get($blockquote-font, "font-weight");
  $font-style: map-get($blockquote-font, "font-style");

  margin-bottom: $blockquote-margin-y;
  font: $font-style $font-weight #{$font-size} / #{$line-height} $font-family;

  @include last-child();
}

.attribution {
  $font-family: map-get($attribution-font, "font-family");
  $font-size: map-get($attribution-font, "font-size");
  $line-height: map-get($attribution-font, "line-height");
  $font-weight: map-get($attribution-font, "font-weight");
  $font-style: map-get($attribution-font, "font-style");

  font: $font-style $font-weight #{$font-size} / #{$line-height} $font-family;
  color: $attribution-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }

  .blockquote + & {
    margin-top: -$blockquote-margin-y;
    margin-bottom: $blockquote-margin-y;
  }
}

//
// Emphasis
//
// .small {
//   @extend small;
// }

.text-small {
  //stylelint-disable-next-line property-disallowed-list
  font-size: $small-font-size if($enable-important-utilities, !important, null);
}
.text-large {
  //stylelint-disable-next-line property-disallowed-list
  font-size: $large-font-size if($enable-important-utilities, !important, null);
}
.text-initials {
  //stylelint-disable-next-line property-disallowed-list
  font-size: $initials-font-size if($enable-important-utilities, !important, null);
  text-transform: uppercase;
}
.text-mark {
  @extend mark;
}
.text-monospace {
  @extend .font-code;
}
