<header class="navbar navbar-expand-large cxd-navbar sticky-top">
  <nav class="container-2xlarge px-medium px-small-xlarge cxd-gutter flex-wrap flex-large-nowrap" aria-label="Main navigation">
    {{- if eq .Layout "docs" }}
    <div class="cxd-navbar-toggle">
      <button class="navbar-toggler p-small" type="button" data-cx-toggle="offcanvas" data-cx-target="#cxdSidebar" aria-controls="cxdSidebar" aria-label="Toggle docs navigation">
        {{ partial "icons/hamburger.svg" (dict "class" "bi" "width" "24" "height" "24") }}
        <span class="d-none fs-6 pe-xsmall">Browse</span>
      </button>
    </div>
    {{- else }}
      <div class="d-large-none" style="width: 4.25rem;"></div>
    {{- end }}

    <a class="navbar-brand" href="/" aria-label="Chassis - CSS">
      {{ partial "icons/chassis-logo.svg" (dict "class" "d-block my-xsmall" "width" "171" "height" "32") }}
    </a>

    <div class="d-flex">
      <div class="cxd-search" id="docsearch" data-cxd-docs-version="{{ .Site.Params.docs_version }}"></div>

      <button class="navbar-toggler d-flex d-large-none order-3 p-small" type="button" data-cx-toggle="offcanvas" data-cx-target="#cxdNavbar" aria-controls="cxdNavbar" aria-label="Toggle navigation">
        <svg class="bi" aria-hidden="true"><use xlink:href="#three-dots"></use></svg>
      </button>
    </div>

    <div class="offcanvas-large offcanvas-end flex-grow-1" tabindex="-1" id="cxdNavbar" aria-labelledby="cxdNavbarOffcanvasLabel">
      <div class="offcanvas-header px-large pb-0">
        <h5 class="offcanvas-title text-white" id="cxdNavbarOffcanvasLabel">Chassis - CSS</h5>
        <button type="button" class="close-button" data-cx-dismiss="offcanvas" aria-label="Close" data-cx-target="#cxdNavbar"></button>
      </div>

      <div class="offcanvas-body p-large pt-0 p-large-0">
        <hr class="d-large-none text-white-50">
        <ul class="navbar-nav flex-row flex-wrap cxd-navbar-nav">
          <li class="nav-item col-6 col-large-auto">
            <a class="nav-link py-xsmall px-0 px-large-2{{ if eq .Page.Layout "docs" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/introduction/overview/">Docs</a>
          </li>
          <li class="nav-item col-6 col-large-auto">
            <a class="nav-link py-xsmall px-0 px-large-2{{ if or (eq .Page.Title "Icons") (eq .Page.Layout "icons-detail") }} active" aria-current="true{{ end }}" href="/icons/">Icons</a>
          </li>
          <li class="nav-item col-6 col-large-auto">
            <a class="nav-link py-xsmall px-0 px-large-2{{ if or (eq .Page.Title "Tokens") (eq .Page.Layout "tokens") }} active" aria-current="true{{ end }}" href="/tokens/">Tokens</a>
          </li>
          <li class="nav-item col-6 col-large-auto">
            <a class="nav-link py-xsmall px-0 px-large-2{{ if eq .Page.Title "Examples" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a>
          </li>
        </ul>

        <ul class="navbar-nav flex-row flex-wrap ms-medium-auto">
          <li class="nav-item dropdown">
            {{ partial "theme-toggler" . }}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
