{{- $isExamples := eq .Layout "examples" -}}
<button class="button {{ if $isExamples }}button-cxd-primary{{ else }}link nav-link px-0 px-large-small{{ end }} py-2xsmall dropdown-toggle d-flex align-items-center"
        id="cxd-theme"
        type="button"
        aria-expanded="false"
        data-cx-toggle="dropdown"
        {{ if not $isExamples }}data-cx-display="static"{{ end }}
        aria-label="Toggle theme (auto)">
  <svg class="bi my-xsmall theme-icon-active"><use href="#circle-half"></use></svg>
  <span class="{{ if $isExamples }}visually-hidden{{ else }}d-large-none ms-small{{ end }}" id="cxd-theme-text">Toggle theme</span>
</button>
<ul class="dropdown-menu dropdown-menu-end{{ if $isExamples }} shadow{{ end }}" aria-labelledby="cxd-theme-text">
  <li>
    <button type="button" class="dropdown-item d-flex align-items-center" data-cx-theme-value="light" aria-pressed="false">
      <svg class="bi me-small opacity-50"><use href="#sun-fill"></use></svg>
      Light
      <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
    </button>
  </li>
  <li>
    <button type="button" class="dropdown-item d-flex align-items-center" data-cx-theme-value="dark" aria-pressed="false">
      <svg class="bi me-small opacity-50"><use href="#moon-stars-fill"></use></svg>
      Dark
      <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
    </button>
  </li>
  <li>
    <button type="button" class="dropdown-item d-flex align-items-center active" data-cx-theme-value="auto" aria-pressed="true">
      <svg class="bi me-small opacity-50"><use href="#circle-half"></use></svg>
      Auto
      <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
    </button>
  </li>
</ul>
