
<div class="grid body-colors-grid font-smaller mb-medium" style="--cx-grid-rows: 11;">

  <!--// VARIABLE COLUMN -->
  <div class="grid-col variable-col">
    <div class="header grid-item"><div>Variable Name</div></div>
    <div class="grid-item">
      <code>--cx-fg-color</code>
    </div>
    <div class="grid-item">
      <code>--cx-bg-color</code>
    </div>
    <div class="grid-item">
      <code>--cx-border-color</code>
    </div>
    <div class="grid-item">
      <code>--cx-separator-color</code>
    </div>
    <div class="grid-item">
      <code>--cx-icon-color</code>
    </div>
    <div class="grid-item">
      <code>--cx-bullet-color</code>
    </div>
    <div class="grid-item">
      <code>--cx-indicator-color</code>
    </div>
    <div class="grid-item">
      <code>--cx-link-color</code>
    </div>  
    <div class="grid-item">
      <code>--cx-hover-color</code>
    </div>  
    <div class="grid-item">
      <code>--cx-active-color</code>
    </div>  
    <div class="grid-item">
      <code>--cx-visited-color</code>
    </div>  
  </div>
  
  <!--// COLOR COLUMN -->
  <div class="grid-col color-col">
    <div class="header grid-item"><div>Color</div></div>
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-fg-color);">&nbsp;</div>
    </div>
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-bg-color);">&nbsp;</div>
    </div>
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-border-color);">&nbsp;</div>
    </div>
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-separator-color);">&nbsp;</div>
    </div>
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-icon-color);">&nbsp;</div>
    </div>
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-bullet-color);">&nbsp;</div>
    </div>
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-indicator-color);">&nbsp;</div>
    </div>
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-link-color);">&nbsp;</div>
    </div>  
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-hover-color);">&nbsp;</div>
    </div>  
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-active-color);">&nbsp;</div>
    </div>  
    <div class="grid-item">
      <div class="h-100 w-100 rounded-medium" style="background-color: var(--cx-visited-color);">&nbsp;</div>
    </div>  
  </div>
  
  <!--// PROPERTY COLUMN -->
  <div class="grid-col property-col">
    <div class="header grid-item"><div>Related Property</div></div>
    <div class="grid-item">
      <code>color</code>
    </div>
    <div class="grid-item">
      <code>background-color</code>
    </div>
    <div class="grid-item">
      <code>border-color</code>
    </div>
    <div class="grid-item">
      <code>border-color</code>
    </div>
    <div class="grid-item">
      <code>color, fill</code>
    </div>
    <div class="grid-item">
      <code>color, fill</code>
    </div>
    <div class="grid-item">
      <code>accent, fill</code>
    </div>
    <div class="grid-item">
      <code>color</code>
    </div>  
    <div class="grid-item">
      <code>color (:hover)</code>
    </div>  
    <div class="grid-item">
      <code>color (:active)</code>
    </div>  
    <div class="grid-item">
      <code>color (:visited)</code>
    </div>  
  </div>
  
  <!--// VALUE COLUMN -->
  <div class="grid-col variable-col">
    <div class="header grid-item"><div>Default Value</div></div>
    <div class="grid-item">
      <code>--cx-fg-main</code>
    </div>
    <div class="grid-item">
      <code>--cx-bg-main</code>
    </div>
    <div class="grid-item">
      <code>--cx-border-main</code>
    </div>
    <div class="grid-item">
      <code>--cx-border-subtle</code>
    </div>
    <div class="grid-item">
      <code>--cx-icon-main</code>
    </div>
    <div class="grid-item">
      <code>--cx-icon-subtle</code>
    </div>
    <div class="grid-item">
      <code>--cx-indicator-main</code>
    </div>
    <div class="grid-item">
      <code>--cx-link-main</code>
    </div>  
    <div class="grid-item">
      <code>--cx-link-hover</code>
    </div>  
    <div class="grid-item">
      <code>--cx-link-active</code>
    </div>  
    <div class="grid-item">
      <code>--cx-link-visited</code>
    </div>  
  </div>
  
  </div>
  