<footer class="cxd-footer container-fluid">
    <div class="row border-top cx-border-subtle mx-2xlarge pt-xlarge text-center">
      <div class="mb-3 p-0">
        <a class="text-center mb-small text-decoration-none" href="/" aria-label="Chassis - CSS">
          {{ partial "icons/chassis-mascot.svg" (dict "class" "d-block m-auto mb-small" "width" "40" "height" "32") }}
          <p>Chassis - CSS</p>
        </a>
        <p>© 2025 Chassis</p>
      </div>
<!--
      <div class="col-large-3 mb-medium">
        <a class="d-inline-flex align-items-center mb-small text-body-emphasis text-decoration-none" href="/" aria-label="Chassis - CSS">
          {{ partial "icons/chassis-white-fill.svg" (dict "class" "d-block me-small" "width" "40" "height" "32") }}
          <span class="fs-5">Chassis - CSS</span>
        </a>
        <ul class="bulletless small">
          <li class="mb-2">Designed and built with all the love in the world by the <a href="/docs/{{ .Site.Params.docs_version }}/about/team/">Chassis - CSS team</a> with the help of <a href="{{ .Site.Params.repo }}/graphs/contributors">our contributors</a>.</li>
          <li class="mb-2">Code licensed <a href="{{ .Site.Params.repo }}/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
          <li class="mb-2">Currently v{{ .Site.Params.current_version }}.</li>
        </ul>
      </div>
      <div class="col-6 col-large-2 offset-large-1 mb-medium">
        <h5>Links</h5>
        <ul class="bulletless">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/">Docs</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.icons }}">Icons</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.themes }}">Themes</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.blog }}">Blog</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.swag }}" target="_blank" rel="noopener">Swag Store</a></li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Guides</h5>
        <ul class="bulletless">
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/introduction/">Getting started</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/examples/starter-template/">Starter template</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/introduction/webpack/">Webpack</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/introduction/parcel/">Parcel</a></li>
          <li class="mb-2"><a href="/docs/{{ .Site.Params.docs_version }}/introduction/vite/">Vite</a></li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Projects</h5>
        <ul class="bulletless">
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/chassis" target="_blank" rel="noopener">Chassis - CSS 5</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/chassis/tree/v4-dev" target="_blank" rel="noopener">Chassis - CSS 4</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/icons" target="_blank" rel="noopener">Icons</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/rfs" target="_blank" rel="noopener">RFS</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/examples" target="_blank" rel="noopener">Examples repo</a></li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Community</h5>
        <ul class="bulletless">
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/chassis/issues" target="_blank" rel="noopener">Issues</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.github_org }}/chassis/discussions" target="_blank" rel="noopener">Discussions</a></li>
          <li class="mb-2"><a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Corporate sponsors</a></li>
          <li class="mb-2"><a href="{{ .Site.Params.opencollective }}" target="_blank" rel="noopener">Open Collective</a></li>
          <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/chassis-5" target="_blank" rel="noopener">Stack Overflow</a></li>
        </ul>
      </div>
-->
    </div>
</footer>
