<div id="sprite-section" class="my-5">
  <div class="d-flex mb-large">
    <h2 class="mb-0">Icons</h2>
    <form class="subnav-search d-flex flex-nowrap ms-auto">
      <label for="search" class="visually-hidden">Search for icons</label>
      <input class="form-control search mb-0" id="search" type="search" placeholder="Start typing to filter..." autocomplete="off">
    </form>
  </div>
  <ul id="icons-list" class="row row-cols-3 row-cols-small-4 row-cols-large-6 row-cols-xlarge-8 bulletless list icon-xlarge">
    {{ range (where .Site.RegularPages "Type" "icons") -}}
      {{- $filename := .File.TranslationBaseName -}}
      {{- with .Site.GetPage .File.Path }}
      <li class="col mb-large" data-name="{{ $filename }}"{{ with .Params.tags }} data-tags="{{ delimit . " " }}"{{ end }}{{ with .Params.categories }} data-categories="{{ delimit . " " | lower }}"{{ end }}>
        <a class="d-block text-decoration-none" href="{{ .RelPermalink }}">
          <div class="bg-even px-medium py-3xlarge mb-xsmall text-center rounded">
            {{ if $.IsHome -}}
            <icon class="icon icon-{{ $filename }}"></i>
            {{- else -}}
            <svg width="32" height="33" class="icon">
              <use xlink:href="#{{ $filename }}"/>
            </svg>
            {{- end }}
          </div>
          <div class="name text-muted text-decoration-none text-center">{{ $filename }}</div>
        </a>
      </li>
      {{- end }}
    {{- end }}
  </ul>
</div>
<script type="module" async="" src="/docs/0.2/assets/js/icon-search.js"></script>
