{{ define "body_override" }}<body{{ if (eq .Page.Params.toc true) }} data-cx-spy="scroll" data-cx-target="#TableOfContents"{{ end }}>{{ end }}
{{ define "main" }}
  <div class="container-2xlarge cxd-gutter cxd-layout">
    <aside class="cxd-sidebar">
      <div class="offcanvas-large offcanvas-start" tabindex="-1" id="cxdSidebar" aria-labelledby="cxdSidebarOffcanvasLabel">
        <div class="offcanvas-header border-bottom">
          <h5 class="offcanvas-title" id="cxdSidebarOffcanvasLabel">Browse docs</h5>
          <button type="button" class="close-button" data-cx-dismiss="offcanvas" aria-label="Close" data-cx-target="#cxdSidebar"></button>
        </div>

        <div class="offcanvas-body">
          {{ partial "docs-sidebar" . }}
        </div>
      </div>
    </aside>

    <main class="cxd-main order-1">
      <div class="cxd-intro">
        <div class="d-medium-flex flex-medium-row align-items-center justify-content-between">
          <!--
          <div class="mb-3 mb-medium-0 d-flex text-nowrap">
            {{- /* This is needed because we want to show the badge if show_badge isn't present or is set to false */ -}}
            {{- if (or (and (.Page.Params.added) (not (isset .Page.Params.added "show_badge"))) (and (.Page.Params.added) (isset .Page.Params.added "show_badge") (not (eq .Page.Params.added.show_badge false)))) -}}
              <small class="d-inline-flex px-small py-xsmall fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 me-small">Added in v{{ .Page.Params.added.version }}</small>
            {{- end -}}
            <a class="button small default" href="{{ .Site.Params.repo }}/blob/v{{ .Site.Params.current_version }}/site/content/{{ .Page.File.Path | replaceRE `\\` "/" }}" title="View and edit this file on GitHub" target="_blank" rel="noopener">
              View on GitHub
            </a>
          </div>
          -->
          <h1 class="cxd-title" id="content">{{ .Title | markdownify }}</h1>
        </div>
        <p class="cxd-lead">{{ .Page.Params.Description | markdownify }}</p>
      </div>

      {{ if (eq .Page.Params.toc true) }}
        <div class="cxd-toc">
          <button class="btn btn-link p-medium-0 mb-small mb-medium-0 text-decoration-none cxd-toc-toggle d-medium-none" type="button" data-cx-toggle="collapse" data-cx-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
            On this page
            <svg class="bi d-medium-none ms-small" aria-hidden="true"><use xlink:href="#chevron-expand"></use></svg>
          </button>
          <strong class="d-none d-medium-block h6 my-small ms-medium">On this page</strong>
          <hr class="d-none d-medium-block my-small ms-medium">
          <div class="collapse cxd-toc-collapse" id="tocContents">
            {{ .TableOfContents }}
          </div>
        </div>
      {{ end }}

      <div class="cxd-content">
        {{ if .Page.Params.sections }}
          <div class="row g-medium">
            {{ range .Page.Params.sections }}
            <div class="col-medium-6">
              <a class="d-block text-decoration-none" href="../{{ urlize .title }}/">
                <strong class="d-block h5 mb-0">{{ .title }}</strong>
                <span class="fg-subtle">{{ .description }}</span>
              </a>
            </div>
            {{ end }}
          </div>
        {{ end }}

        {{ .Content }}
      </div>
    </main>
  </div>
{{ end }}
{{ define "footer" }}
  {{ range .Page.Params.extra_js -}}
    <script{{ with .async }} async{{ end }}{{ with .defer }} defer{{ end }} src="{{ .src }}"></script>
  {{- end -}}
  <div class="position-fixed" aria-hidden="true"><input type="text" tabindex="-1"></div>
{{ end }}
