{{ define "main" }}
  <header class="py-5 border-bottom">
  <div class="container-2xlarge cxd-gutter pt-medium-1 pb-medium-4">
      <div class="row">
        <div class="col-xlarge-8">
          <h1 class="cxd-title mt-0">{{ .Title | markdownify }}</h1>
          <p class="cxd-lead">{{ .Page.Params.Description | markdownify }}</p>
          {{ if eq .Title "Examples" -}}
          <div class="d-flex flex-column flex-medium-row gap-medium">
            <a href="{{ .Site.Params.download.dist_examples }}" class="cxd-button large primary">
              <svg class="bi me-small" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
              Download examples
            </a>
            <a href="{{ .Site.Params.download.source }}" class="cxd-button large secondary">
              Download source code
            </a>
            <a href="/chassis" class="button large default">
              Chassis Example
            </a>
          </div>
          {{- end }}
        </div>
      </div>
    </div>
  </header>

  <main class="cxd-content order-1 py-xlarge" id="content">
    <div class="container-2xlarge cxd-gutter">
      {{ .Content }}

      {{ if eq .Title "Examples" -}}
        {{ partial "examples/main" . }}
        {{ partial "examples/cx-themes" . }}
      {{- end }}
    </div>
  </main>
{{ end }}
