---
import { getVersionedDocsPath } from '@libs/path'
import Code from '@shortcodes/Code.astro'
---

<section class="row g-medium-5 pb-medium-5 mb-xlarge align-items-center">
  <div class="col-large-8 mb-xlarge">
    <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cxd-pink-rgb);">
      <svg class="bi fs-1" aria-hidden="true"><use xlink:href="#brackets-curly-solid"></use></svg>
    </div>
    <h2 class="display-5 mb-medium fw-semibold lh-small">Build and extend in real-time with CSS&nbsp;variables</h2>
    <p class="lead fw-normal">
      Chassis 5 is evolving with each release to better utilize CSS variables for global theme styles, individual
      components, and even utilities. We provide dozens of variables for colors, font styles, and more at a <code
        >:root</code
      > level for use anywhere. On components and utilities, CSS variables are scoped to the relevant class and can easily
      be modified.
    </p>
    <p class="d-flex flex-column lead fw-normal mb-0">
      <a href={getVersionedDocsPath('customize/css-variables')} class="icon-link icon-link-hover fw-semibold mb-medium">
        Learn more about CSS variables
        <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right-long-solid"></use></svg>
      </a>
    </p>
  </div>
  <div class="row gx-medium-5">
    <div class="col-large-6 mb-medium">
      <h3 class="fw-semibold">Using CSS variables</h3>
      <p>
        Use any of our <a href={getVersionedDocsPath('customize/css-variables/#root-variables')}
          >global <code>:root</code> variables</a
        > to write new styles. CSS variables use the <code>var(--cx-variableName)</code> syntax and can be inherited by children
        elements.
      </p>
      <Code
        code={`.component {
  color: var(--cx-gray-800);
  background-color: var(--cx-gray-100);
  border: 1px solid var(--cx-gray-200);
  border-radius: .25rem;
}

.component-header {
  color: var(--cx-purple);
}`}
        lang="scss"
      />
    </div>
    <div class="col-large-6 mb-medium">
      <h3 class="fw-semibold">Customizing via CSS variables</h3>
      <p>
        Override global, component, or utility class variables to customize Chassis just how you like. No need to
        redeclare each rule, just a new variable value.
      </p>
      <Code
        code={`body {
  --cx-body-font-family: var(--cx-font-monospace);
  --cx-body-line-height: 1.4;
  --cx-body-bg: var(--cx-gray-100);
}

.table {
  --cx-table-color: var(--cx-gray-600);
  --cx-table-bg: var(--cx-gray-100);
  --cx-table-border-color: transparent;
}`}
        lang="scss"
      />
    </div>
  </div>
</section>
