---
import { getVersionedDocsPath } from '@libs/path'
import Code from '@shortcodes/Code.astro'
---

<section class="col-large-7 mb-xlarge">
  <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cx-primary-rgb);">
    <svg class="bi fs-1" aria-hidden="true"><use xlink:href="#palette2"></use></svg>
  </div>
  <h2 class="display-5 mb-medium fw-semibold lh-small">Customize everything with&nbsp;Sass</h2>
  <p class="lead fw-normal">
    Chassis utilizes Sass for a modular and customizable architecture. Import only the components you need, enable
    global options like gradients and shadows, and write your own CSS with our variables, maps, functions, and mixins.
  </p>
  <p class="d-flex lead fw-normal">
    <a href={getVersionedDocsPath('customize/overview/')} class="icon-link icon-link-hover fw-semibold">
      Learn more about customizing
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </p>
</section>

<section class="row g-medium-5 mb-xlarge pb-medium-5">
  <div class="col-large-6">
    <h3>Include all of Chassis - CSS’s Sass</h3>
    <p>Import one stylesheet and you're off to the races with every feature of our CSS.</p>
    <Code
      code={`// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Chassis
@import "../node_modules/chassis-css/scss/chassis";`}
      lang="scss"
    />
    <p>Learn more about our <a href={getVersionedDocsPath('customize/options')}>global Sass options</a>.</p>
  </div>
  <div class="col-large-6">
    <h3>Include what you need</h3>
    <p>The easiest way to customize Chassis—include only the CSS you need.</p>
    <Code
      code={`// Functions first
@import "../node_modules/chassis-css/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Chassis imports
@import "../node_modules/chassis-css/scss/variables";
@import "../node_modules/chassis-css/scss/variables-dark";
@import "../node_modules/chassis-css/scss/maps";
@import "../node_modules/chassis-css/scss/mixins";
@import "../node_modules/chassis-css/scss/root";

// Optional components
@import "../node_modules/chassis-css/scss/utilities";
@import "../node_modules/chassis-css/scss/reboot";
@import "../node_modules/chassis-css/scss/containers";
@import "../node_modules/chassis-css/scss/grid";
@import "../node_modules/chassis-css/scss/helpers";
@import "../node_modules/chassis-css/scss/utilities/api";`}
      lang="scss"
    />
    <p>Learn more about <a href={getVersionedDocsPath('customize/sass')}>using Chassis with Sass</a>.</p>
  </div>
</section>
