---
import { getConfig } from '@libs/config'
import { getVersionedDocsPath } from '@libs/path'
import Code from '@shortcodes/Code.astro'
---

<div class="col-large-7 mx-auto pb-medium mb-medium mb-medium-5 text-medium-center">
  <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cxd-violet-rgb);">
    <svg class="bi fs-1" aria-hidden="true"><use xlink:href="#code"></use></svg>
  </div>
  <h2 class="display-5 mb-medium fw-semibold lh-small">Get started any way you&nbsp;want</h2>
  <p class="lead fw-normal">
    Jump right into building with Chassis—use the CDN, install it via package manager, or download the source code.
  </p>
  <p class="d-flex justify-content-medium-center lead fw-normal">
    <a href={getVersionedDocsPath('getting-started/download/')} class="icon-link icon-link-hover fw-semibold ps-medium-4">
      Read installation docs
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </p>
</div>

<section class="row g-3 g-medium-5 mb-xlarge pb-xlarge justify-content-center">
  <div class="col-large-6 py-large-4 pe-large-5">
    <svg class="bi mb-xsmall fs-2 fg-subtle" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
    <h3 class="fw-semibold">Install via package manager</h3>
    <p class="pe-large-5">
      Install Chassis - CSS’s source Sass and JavaScript files via npm, RubyGems, Composer, or Meteor. Package-managed
      installs don’t include documentation or our full build scripts. You can also <a
        href="https://github.com/twbs/examples/">use any demo from our Examples repo</a
      > to quickly jumpstart Chassis projects.
    </p>
    <Code code={`npm install chassis-css@${getConfig().current_version}`} lang="sh" />
    <Code code={`gem install chassis-css -v ${getConfig().current_ruby_version}`} lang="sh" />
    <p>
      <a href={getVersionedDocsPath('getting-started/download')}>Read our installation docs</a> for more info and additional
      package managers.
    </p>
  </div>
  <div class="col-large-6 py-large-4 ps-large-5 border-large-start">
    <svg class="bi mb-xsmall fs-2 fg-subtle" aria-hidden="true"><use xlink:href="#globe2"></use></svg>
    <h3 class="fw-semibold">Include via CDN</h3>
    <p class="pe-large-5">
      When you only need to include Chassis - CSS’s compiled CSS or JS, you can use <a
        href="https://www.jsdelivr.com/package/npm/chassis">jsDelivr</a
      >. See it in action with our simple <a href={getVersionedDocsPath('getting-started/introduction/#quick-start')}
        >quick start</a
      >, or <a href={getVersionedDocsPath('examples')}>browse the examples</a> to jumpstart your next project. You can also
      choose to include Popper and our JS <a href={getVersionedDocsPath('getting-started/introduction/#separate')}
        >separately</a
      >.
    </p>
    <Code
      code={`<link href="${getConfig().cdn.css}" rel="stylesheet" integrity="${
        getConfig().cdn.css_hash
      }" crossorigin="anonymous">`}
      lang="html"
    />
    <Code
      code={`<script src="${getConfig().cdn.js_bundle}" integrity="${
        getConfig().cdn.js_bundle_hash
      }" crossorigin="anonymous"></script>`}
      lang="html"
    />
  </div>

  <div class="col-medium-8 mx-auto text-center">
    <h4 class="fw-semibold">Read our getting started guides</h4>
    <p>Get a jump on including Chassis's source files in a new project with our official guides.</p>
    <div class="d-flex flex-wrap align-items-center justify-content-center gap-large mt-large">
      <a
        class="d-flex flex-column align-items-center text-decoration-none animate-img"
        href={getVersionedDocsPath('getting-started/webpack/')}
      >
        <img
          class="d-block mb-xsmall"
          src={getVersionedDocsPath('/assets/img/webpack.svg')}
          alt=""
          width="72"
          height="72"
          loading="lazy"
        />
        <span class="fg-subtle">Webpack</span>
      </a>
      <a
        class="d-flex flex-column align-items-center text-decoration-none animate-img"
        href={getVersionedDocsPath('getting-started/parcel/')}
      >
        <img
          class="d-block mb-xsmall"
          src={getVersionedDocsPath('/assets/img/parcel.png')}
          alt=""
          width="72"
          height="72"
          loading="lazy"
        />
        <span class="fg-subtle">Parcel</span>
      </a>
      <a
        class="d-flex flex-column align-items-center text-decoration-none animate-img"
        href={getVersionedDocsPath('getting-started/vite/')}
      >
        <img
          class="d-block mb-xsmall"
          src={getVersionedDocsPath('/assets/img/vite.svg')}
          alt=""
          width="72"
          height="72"
          loading="lazy"
        />
        <span class="fg-subtle">Vite</span>
      </a>
    </div>
  </div>
</section>
