---
export const title = 'Jumbotrons'
export const extra_css = ['jumbotrons.css']
---

<div class="container my-xlarge">
  <div class="p-xlarge text-center bg-evident rounded-3">
    <svg class="bi mt-large mb-medium" style="color: var(--cx-indigo);" width="100" height="100" aria-hidden="true"><use xlink:href="#chassis-icon"/></svg>
    <h1 class="text-body-emphasis">Jumbotron with icon</h1>
    <p class="col-large-8 mx-auto fs-5 text-muted">
      This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a responsive <code>.col-*</code> class, and a customized call to action.
    </p>
    <div class="d-inline-flex gap-xsmall mb-xlarge">
      <button class="d-inline-flex align-items-center button primary large px-large rounded-pill" type="button">
        Call to action
        <svg class="bi ms-xsmall" width="24" height="24" aria-hidden="true"><use xlink:href="#arrow-right-solid"/></svg>
      </button>
      <button class="button outline secondary large px-large rounded-pill" type="button">
        Secondary link
      </button>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-xlarge">
  <div class="position-relative p-xlarge text-center text-muted bg-main border border-dashed rounded-5">
    <button type="button" class="position-absolute top-0 end-0 p-medium m-medium close-button bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
    <svg class="bi mt-xlarge mb-medium" width="48" height="48" aria-hidden="true"><use xlink:href="#check-circle-solid"/></svg>
    <h1 class="text-body-emphasis">Placeholder jumbotron</h1>
    <p class="col-large-6 mx-auto mb-large">
      This faded back jumbotron is useful for placeholder content. It's also a great way to add a bit of context to a page or section when no content is available and to encourage visitors to take a specific action.
    </p>
    <button class="button primary px-xlarge mb-xlarge" type="button">
      Call to action
    </button>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="my-xlarge">
  <div class="p-xlarge text-center bg-evident">
    <div class="container py-xlarge">
      <h1 class="text-body-emphasis">Full-width jumbotron</h1>
      <p class="col-large-8 mx-auto lead">
        This takes the basic jumbotron above and makes its background edge-to-edge with a <code>.container</code> inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
      </p>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-xlarge">
  <div class="p-xlarge text-center bg-evident rounded-3">
    <h1 class="text-body-emphasis">Basic jumbotron</h1>
    <p class="lead">
      This is a simple Chassis jumbotron that sits within a <code>.container</code>, recreated with built-in utility classes.
    </p>
  </div>
</div>

<div class="b-example-divider"></div>
