.list-group {
  width: 100%;
  max-width: 460px;
  margin-inline: 1.5rem;
}

.option-input:checked + .form-optioned-content {
  opacity: .5;
}

.option-input-placeholder {
  border-style: dashed;
}
[contenteditable]:focus {
  outline: 0;
}

.list-group-checkable .list-item {
  cursor: pointer;
}
.list-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.list-item-check:hover + .list-item {
  background-color: var(--cx-bg-even);
}
.list-item-check:checked + .list-item {
  color: #fff;
  background-color: var(--cx-primary);
  border-color: var(--cx-primary);
}
.list-item-check[disabled] + .list-item,
.list-item-check:disabled + .list-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.list-group-radio .list-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-radio .option-input {
  z-index: 2;
  margin-top: -.5em;
}
.list-group-radio .list-item:hover,
.list-group-radio .list-item:focus {
  background-color: var(--cx-bg-even);
}

.list-group-radio .option-input:checked + .list-item {
  background-color: var(--cx-body);
  border-color: var(--cx-primary);
  box-shadow: 0 0 0 2px var(--cx-primary);
}
.list-group-radio .option-input[disabled] + .list-item,
.list-group-radio .option-input:disabled + .list-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}
