$rfs-base-value: 12px !default;
$rfs-unit: px !default;
$rfs-breakpoint: 800 !default;
$rfs-breakpoint-unit: rem !default;
$rfs-two-dimensional: true !default;
$rfs-factor: 5 !default;
@import "main.test";
