<div class="col-large-7 mx-auto pb-medium mb-medium mb-medium-5 text-medium-center">
  <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cxd-subtle-rgb);">
    <svg class="icon icon-2xlarge icon-primary "><use xlink:href="#code"></use></svg>
  </div>
  <h2 class="display-5 mb-medium fw-semibold lh-small">Get started any way you&nbsp;want</h2>
  <p class="lead fw-normal">
    Jump right into building with Chassis - CSS—use the CDN, install it via package manager, or download the source code.
  </p>
  <p class="d-flex justify-content-medium-start justify-content-medium-center lead fw-normal">
    <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/" class="icon-link icon-link-hover fw-semibold ps-medium-4">
      Read installation docs
      <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </p>
</div>

<section class="row g-medium g-medium-5 mb-xlarge pb-xlarge justify-content-center">
  <div class="col-large-6 py-large-4 pe-large-5">
    <svg class="icon icon-2xlarge icon-primary mb-small"><use xlink:href="#box-seam"></use></svg>
    <h3 class="fw-semibold">Install via package manager</h3>
    <p class="pe-large-5">
      Install Chassis - CSS’s source Sass and JavaScript files via npm, RubyGems, Composer, or Meteor. Package managed installs don’t include documentation or our full build scripts.
    </p>
    {{ highlight (printf ("npm install %s") .Site.Params.install_name) "sh" "" }}
    {{ highlight (printf ("gem install %s") .Site.Params.install_name) "sh" "" }}
    <p>
      <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Read our installation docs</a> for more info and additional package managers.
    </p>
  </div>
  <div class="col-large-6 py-large-4 ps-large-5 border-large-start">
    <svg class="icon icon-2xlarge icon-primary mb-small"><use xlink:href="#globe2"></use></svg>
    <h3 class="fw-semibold">Include via CDN</h3>
    <p class="pe-large-5">
      When you only need to include Chassis - CSS’s compiled CSS or JS, you can use <a href="https://www.jsdelivr.com/package/npm/chassis">jsDelivr</a>. See it in action with our simple <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/quick-start/#quick-start">quick start</a>, or <a href="/docs/{{ .Site.Params.docs_version }}/examples/">browse the examples</a> to jumpstart your next project. You can also choose to include Popper and our JS <a href="/docs/{{ .Site.Params.docs_version }}/introduction/overview/#separate">separately</a>.
    </p>
    {{ highlight (printf (`<link href="%s" rel="stylesheet" integrity=%q crossorigin="anonymous">`) .Site.Params.cdn.css (.Site.Params.cdn.css_hash | safeHTMLAttr)) "html" "" }}
    {{ highlight (printf (`<script src="%s" integrity=%q crossorigin="anonymous"></script>`) .Site.Params.cdn.js_bundle (.Site.Params.cdn.js_bundle_hash | safeHTMLAttr)) "html" "" }}
  </div>

  <div class="col-medium-8 mx-auto text-center">
    <h4 class="fw-semibold">Read our getting started guides</h4>
    <p>Get a jump on including Chassis - CSS's source files in a new project with our official guides.</p>
    <div class="d-flex flex-wrap align-items-center justify-content-center gap-large mt-large">
      <a class="d-flex flex-column align-items-center text-decoration-none animate-image" href="/docs/{{ .Site.Params.docs_version }}/getting-started/webpack/">
        <img class="d-block mb-small" src="/docs/{{ .Site.Params.docs_version }}/assets/img/webpack.svg" alt="" width="72" height="72" loading="lazy">
        <span class="text-body-secondary">Webpack</span>
      </a>
      <a class="d-flex flex-column align-items-center text-decoration-none animate-image" href="/docs/{{ .Site.Params.docs_version }}/getting-started/parcel/">
        <img class="d-block mb-small" src="/docs/{{ .Site.Params.docs_version }}/assets/img/parcel.png" alt="" width="72" height="72" loading="lazy">
        <span class="text-body-secondary">Parcel</span>
      </a>
      <a class="d-flex flex-column align-items-center text-decoration-none animate-image" href="/docs/{{ .Site.Params.docs_version }}/getting-started/vite/">
        <img class="d-block mb-small" src="/docs/{{ .Site.Params.docs_version }}/assets/img/vite.svg" alt="" width="72" height="72" loading="lazy">
        <span class="text-body-secondary">Vite</span>
      </a>
    </div>
  </div>
</section>
