<section class="row g-medium g-medium-5 pb-medium-5 mb-xlarge align-items-center">
  <div class="col-large-6">
    <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cxd-teal-rgb);">
      {{ partial "icons/circle-square.svg" (dict "width" "32" "height" "32") }}
    </div>
    <h2 class="display-5 mb-medium fw-semibold lh-small">Personalize it with Chassis - CSS&nbsp;Icons</h2>
    <p class="lead fw-normal">
      <a href="{{ .Site.Params.icons }}">Chassis - CSS Icons</a> is an open source SVG icon library featuring over 1,800 glyphs, with more added every release. They're designed to work in any project, whether you use Chassis - CSS itself or not. Use them as SVGs or icon fonts—both options give you vector scaling and easy customization via CSS.
    </p>
    <p class="d-flex justify-content-start lead fw-normal mb-medium-0">
      <a href="{{ .Site.Params.icons }}" class="icon-link icon-link-hover fw-semibold">
        Get Chassis - CSS Icons
        <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
      </a>
    </p>
  </div>
  <div class="col-large-6">
    {{ partial "responsive-image" (dict "context" .
      "imgPath" "/assets/img/chassis-icons.png"
      "alt" "Chassis - CSS Icons"
      "classes" "d-block mt-medium") }}
  </div>
</section>
