<div class="cxd-masthead" id="content">
  <div class="container-2xlarge cxd-gutter">
    <div class="col-medium-8 mx-auto text-center">
      {{ partial "responsive-image" (dict "context" .
        "imgPath" "/assets/brand/chassis-mascot.png"
        "alt" "Chassis"
        "width" "178"
        "height" "128"
        "classes" "d-none d-small-block my-4xlarge"
        "lazyload" false) }}
      <h1 class="mb-3">Reducing Emissions <span class="d-block"></span> Even in the UI</h1>
      <p class="lead mb-5xlarge">
        Chassis - CSS consists of a complete set including Figma components, design tokens and their transformers for multiple products on multiple platforms under the name of multiple brands.
      </p>
      <div class="d-flex flex-column flex-large-row align-items-medium-stretch justify-content-medium-center gap-medium mb-large">
        <div class="d-inline-block v-align-middle">
          {{ highlight (print "npm i " .Site.Params.install_name) "shell" }}
        </div>
        <a href="/docs/{{ .Site.Params.docs_version }}/introduction/overview/" class="cxd-button primary large">
          <svg class="bi me-small" aria-hidden="true"><use xlink:href="#book-half"></use></svg>
          Read the docs
        </a>
      </div>
      <p class="text-body-secondary">
        Currently <strong>v{{ .Site.Params.current_version }}</strong>
        <span class="px-1">&middot;</span>
        <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Download</a>
        <!--
        <span class="px-1">&middot;</span>
        <a href="/docs/versions/" class="text-nowrap">All releases</a>
        -->
      </p>
    </div>
  </div>
</div>
