<section class="pb-medium-5 mb-xlarge">
  <div class="col-large-8 mb-xlarge">
    <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cx-warning-rgb);">
      <svg class="bi fs-1"><use xlink:href="#plugin"></use></svg>
    </div>
    <h2 class="display-5 mb-medium fw-semibold lh-small">Powerful JavaScript plugins without&nbsp;jQuery</h2>
    <p class="lead fw-normal">
      Add toggleable hidden elements, modals and offcanvas menus, popovers and tooltips, and so much more—all without jQuery. Chassis - CSS's JavaScript is HTML-first, meaning most plugins are added with <code>data</code> attributes in your HTML. Need more control? Include individual plugins programmatically.
    </p>
    <p class="d-flex justify-content-start lead fw-normal mb-medium-0">
      <a href="/docs/{{ .Site.Params.docs_version }}/introduction/javascript/" class="icon-link icon-link-hover fw-semibold">
        Learn more about Chassis - CSS JavaScript
        <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
      </a>
    </p>
  </div>
  <div class="row gx-medium-5">
    <div class="col-large-6 mb-medium">
      <h3 class="fw-semibold">Data attribute API</h3>
      <p>Why write more JavaScript when you can write HTML? Nearly all of Chassis - CSS's JavaScript plugins feature a first-class data API, allowing you to use JavaScript just by adding <code>data</code> attributes.</p>
      <div class="p-large mb-medium border rounded-3">
        <div class="dropdown">
          <button class="button primary dropdown-toggle" type="button" data-cx-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Dropdown item</button></li>
            <li><button class="dropdown-item" type="button">Dropdown item</button></li>
            <li><button class="dropdown-item" type="button">Dropdown item</button></li>
          </ul>
        </div>
      </div>

      {{ highlight (printf `<div class="dropdown">
  <button class="button primary dropdown-toggle" type="button" data-cx-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
    <li><button class="dropdown-item" type="button">Dropdown item</button></li>
  </ul>
</div>
`) "html" "" }}
      <p>Learn more about <a href="/docs/{{ .Site.Params.docs_version }}/introduction/javascript/#using-chassis-as-a-module">our JavaScript as modules</a> and <a href="/docs/{{ .Site.Params.docs_version }}/introduction/javascript/#programmatic-api">using the programmatic API</a>.</p>
    </div>
    <div class="col-large-6 mb-medium">
      <h3 class="fw-semibold">Comprehensive set of plugins</h3>
      <p>Chassis - CSS features a dozen plugins that you can drop into any project. Drop them in all at once, or choose just the ones you need.</p>
      <hr class="my-4">
      <div class="row g-medium">
        {{- range $plugin := .Site.Data.plugins -}}
          {{- /* TODO we should use urls.JoinPath here too, but the links include `#` which gets escaped */ -}}
          {{- $href := printf "/docs/%s/%s" $.Site.Params.docs_version $plugin.link }}
          <div class="col-small-6 mb-small">
            <a class="d-block pe-large-4 text-decoration-none lh-small" href="{{ $href }}">
              <h4 class="mb-0 fs-5 fw-semibold">{{ $plugin.name }}</h4>
              <small class="text-body-secondary">{{ $plugin.description }}</small>
            </a>
          </div>
        {{- end }}
      </div>
    </div>
  </div>

</section>
