.dropdown-item-danger {
  color: var(--cx-red);
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--cx-red);
}
.dropdown-item-danger.active {
  background-color: var(--cx-red);
}

.button-hover-light {
  color: var(--cx-fg-color);
  background-color: var(--cx-bg-color);
}
.button-hover-light:hover,
.button-hover-light:focus {
  color: var(--cx-link-hover-color);
  background-color: var(--cx-bg-evident);
}

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-button:not([disabled]) {
  font-weight: 500;
  color: var(--cx-fg-color);
}
.cal-button:hover,
.cal-button:focus {
  background-color: var(--cx-bg-even);
}
.cal-button[disabled] {
  border: 0;
  opacity: .5;
}

.w-220px {
  width: 220px;
}

.w-280px {
  width: 280px;
}

.w-340px {
  width: 340px;
}

.opacity-10 {
  opacity: .1;
}
