---
export const title = 'Dropdowns'
export const extra_css = ['dropdowns.css']
---

<div class="d-flex flex-column flex-medium-row p-large gap-large py-medium-5 align-items-center justify-content-center">
  <ul class="dropdown-menu position-static d-grid gap-2xsmall p-xsmall rounded-3 mx-0 shadow w-220px" data-cx-theme="light">
    <li><a class="dropdown-item rounded-2 active" href="#">Action</a></li>
    <li><a class="dropdown-item rounded-2" href="#">Another action</a></li>
    <li><a class="dropdown-item rounded-2" href="#">Something else here</a></li>
    <li><hr class="dropdown-separator"></li>
    <li><a class="dropdown-item rounded-2" href="#">Separated link</a></li>
  </ul>
  <ul class="dropdown-menu position-static d-grid gap-2xsmall p-xsmall rounded-3 mx-0 border-0 shadow w-220px" data-cx-theme="dark">
    <li><a class="dropdown-item rounded-2 active" href="#">Action</a></li>
    <li><a class="dropdown-item rounded-2" href="#">Another action</a></li>
    <li><a class="dropdown-item rounded-2" href="#">Something else here</a></li>
    <li><hr class="dropdown-separator"></li>
    <li><a class="dropdown-item rounded-2" href="#">Separated link</a></li>
  </ul>
</div>

<div class="b-example-divider"></div>

<div class="d-flex flex-column flex-medium-row p-large gap-large py-medium-5 align-items-center justify-content-center">
  <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px" data-cx-theme="light">
    <form class="p-xsmall mb-xsmall bg-evident border-bottom">
      <input type="search" class="form-control" autocomplete="false" placeholder="Type to filter...">
    </form>
    <ul class="list-unstyled mb-0">
      <li><a class="dropdown-item d-flex align-items-center gap-xsmall py-xsmall" href="#">
        <span class="d-inline-block bg-success rounded-circle p-2xsmall"></span>
        Action
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-xsmall py-xsmall" href="#">
        <span class="d-inline-block bg-primary rounded-circle p-2xsmall"></span>
        Another action
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-xsmall py-xsmall" href="#">
        <span class="d-inline-block bg-danger rounded-circle p-2xsmall"></span>
        Something else here
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-xsmall py-xsmall" href="#">
        <span class="d-inline-block bg-info rounded-circle p-2xsmall"></span>
        Separated link
      </a></li>
    </ul>
  </div>

  <div class="dropdown-menu d-block position-static border-0 pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px" data-cx-theme="dark">
    <form class="p-xsmall mb-xsmall bg-dark border-bottom border-dark">
      <input type="search" class="form-control bg-dark" autocomplete="false" placeholder="Type to filter...">
    </form>
    <ul class="list-unstyled mb-0">
      <li><a class="dropdown-item d-flex align-items-center gap-xsmall py-xsmall" href="#">
        <span class="d-inline-block bg-success rounded-circle p-2xsmall"></span>
        Action
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-xsmall py-xsmall" href="#">
        <span class="d-inline-block bg-primary rounded-circle p-2xsmall"></span>
        Another action
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-xsmall py-xsmall" href="#">
        <span class="d-inline-block bg-danger rounded-circle p-2xsmall"></span>
        Something else here
      </a></li>
      <li><a class="dropdown-item d-flex align-items-center gap-xsmall py-xsmall" href="#">
        <span class="d-inline-block bg-info rounded-circle p-2xsmall"></span>
        Separated link
      </a></li>
    </ul>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="d-flex flex-column flex-medium-row p-large gap-large py-medium-5 align-items-center justify-content-center">
  <ul class="dropdown-menu d-block position-static mx-0 shadow w-220px" data-cx-theme="light">
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#files-solid"/></svg>
        Documents
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#image-solid"/></svg>
        Photos
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#film-solid"/></svg>
        Movies
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#music-note-beamed"/></svg>
        Music
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#joystick-solid"/></svg>
        Games
      </a>
    </li>
    <li><hr class="dropdown-separator"></li>
    <li>
      <a class="dropdown-item dropdown-item-danger d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#trash-can-solid"/></svg>
        Trash
      </a>
    </li>
  </ul>
  <ul class="dropdown-menu d-block position-static mx-0 border-0 shadow w-220px" data-cx-theme="dark">
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#files-solid"/></svg>
        Documents
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#image-solid"/></svg>
        Photos
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#film-solid"/></svg>
        Movies
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#music-note-beamed"/></svg>
        Music
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#joystick-solid"/></svg>
        Games
      </a>
    </li>
    <li><hr class="dropdown-separator"></li>
    <li>
      <a class="dropdown-item d-flex gap-xsmall align-items-center" href="#">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#trash-can-solid"/></svg>
        Trash
      </a>
    </li>
  </ul>
</div>

<div class="b-example-divider"></div>

<div class="d-flex flex-column flex-medium-row p-large gap-large py-medium-5 align-items-center justify-content-center">
  <div class="dropdown-menu d-block position-static p-xsmall mx-0 shadow rounded-3 w-340px" data-cx-theme="light">
    <div class="d-grid gap-2xsmall">
      <div class="cal">
        <div class="cal-month">
          <button class="button cal-button" type="button" aria-label="previous month">
            <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-left-solid"/></svg>
          </button>
          <strong class="cal-month-name">June</strong>
          <select class="form-select cal-month-name d-none">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option selected value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
          <button class="button cal-button" type="button" aria-label="next month">
            <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-right-solid"/></svg>
          </button>
        </div>
        <div class="cal-weekdays fg-subtle">
          <div class="cal-weekday">Sun</div>
          <div class="cal-weekday">Mon</div>
          <div class="cal-weekday">Tue</div>
          <div class="cal-weekday">Wed</div>
          <div class="cal-weekday">Thu</div>
          <div class="cal-weekday">Fri</div>
          <div class="cal-weekday">Sat</div>
        </div>
        <div class="cal-days">
          <button class="button cal-button" disabled type="button">30</button>
          <button class="button cal-button" disabled type="button">31</button>

          <button class="button cal-button" type="button">1</button>
          <button class="button cal-button" type="button">2</button>
          <button class="button cal-button" type="button">3</button>
          <button class="button cal-button" type="button">4</button>
          <button class="button cal-button" type="button">5</button>
          <button class="button cal-button" type="button">6</button>
          <button class="button cal-button" type="button">7</button>

          <button class="button cal-button" type="button">8</button>
          <button class="button cal-button" type="button">9</button>
          <button class="button cal-button" type="button">10</button>
          <button class="button cal-button" type="button">11</button>
          <button class="button cal-button" type="button">12</button>
          <button class="button cal-button" type="button">13</button>
          <button class="button cal-button" type="button">14</button>

          <button class="button cal-button" type="button">15</button>
          <button class="button cal-button" type="button">16</button>
          <button class="button cal-button" type="button">17</button>
          <button class="button cal-button" type="button">18</button>
          <button class="button cal-button" type="button">19</button>
          <button class="button cal-button" type="button">20</button>
          <button class="button cal-button" type="button">21</button>

          <button class="button cal-button" type="button">22</button>
          <button class="button cal-button" type="button">23</button>
          <button class="button cal-button" type="button">24</button>
          <button class="button cal-button" type="button">25</button>
          <button class="button cal-button" type="button">26</button>
          <button class="button cal-button" type="button">27</button>
          <button class="button cal-button" type="button">28</button>

          <button class="button cal-button" type="button">29</button>
          <button class="button cal-button" type="button">30</button>
          <button class="button cal-button" type="button">31</button>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown-menu d-block position-static p-xsmall mx-0 shadow rounded-3 w-340px" data-cx-theme="dark">
    <div class="d-grid gap-2xsmall">
      <div class="cal">
        <div class="cal-month">
          <button class="button cal-button" type="button" aria-label="previous month">
            <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-left-solid"/></svg>
          </button>
          <strong class="cal-month-name">June</strong>
          <select class="form-select cal-month-name d-none">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option selected value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
          <button class="button cal-button" type="button" aria-label="next month">
            <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-right-solid"/></svg>
          </button>
        </div>
        <div class="cal-weekdays fg-subtle">
          <div class="cal-weekday">Sun</div>
          <div class="cal-weekday">Mon</div>
          <div class="cal-weekday">Tue</div>
          <div class="cal-weekday">Wed</div>
          <div class="cal-weekday">Thu</div>
          <div class="cal-weekday">Fri</div>
          <div class="cal-weekday">Sat</div>
        </div>
        <div class="cal-days">
          <button class="button cal-button" disabled type="button">30</button>
          <button class="button cal-button" disabled type="button">31</button>

          <button class="button cal-button" type="button">1</button>
          <button class="button cal-button" type="button">2</button>
          <button class="button cal-button" type="button">3</button>
          <button class="button cal-button" type="button">4</button>
          <button class="button cal-button" type="button">5</button>
          <button class="button cal-button" type="button">6</button>
          <button class="button cal-button" type="button">7</button>

          <button class="button cal-button" type="button">8</button>
          <button class="button cal-button" type="button">9</button>
          <button class="button cal-button" type="button">10</button>
          <button class="button cal-button" type="button">11</button>
          <button class="button cal-button" type="button">12</button>
          <button class="button cal-button" type="button">13</button>
          <button class="button cal-button" type="button">14</button>

          <button class="button cal-button" type="button">15</button>
          <button class="button cal-button" type="button">16</button>
          <button class="button cal-button" type="button">17</button>
          <button class="button cal-button" type="button">18</button>
          <button class="button cal-button" type="button">19</button>
          <button class="button cal-button" type="button">20</button>
          <button class="button cal-button" type="button">21</button>

          <button class="button cal-button" type="button">22</button>
          <button class="button cal-button" type="button">23</button>
          <button class="button cal-button" type="button">24</button>
          <button class="button cal-button" type="button">25</button>
          <button class="button cal-button" type="button">26</button>
          <button class="button cal-button" type="button">27</button>
          <button class="button cal-button" type="button">28</button>

          <button class="button cal-button" type="button">29</button>
          <button class="button cal-button" type="button">30</button>
          <button class="button cal-button" type="button">31</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="d-flex flex-column flex-medium-row p-large gap-large py-medium-5 align-items-center justify-content-center">
  <div class="dropdown-menu position-static d-flex flex-column flex-large-row align-items-stretch justify-content-start p-medium rounded-3 shadow-large" data-cx-theme="light">
    <nav class="col-large-8">
      <ul class="list-unstyled d-flex flex-column gap-xsmall">
        <li>
          <a href="#" class="button hover-light rounded-2 d-flex align-items-start gap-xsmall py-xsmall px-medium lh-small text-start">
            <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#image-solid"/></svg>
            <div>
              <strong class="d-block">Main product</strong>
              <small>Take a tour through the product</small>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="button hover-light rounded-2 d-flex align-items-start gap-xsmall py-xsmall px-medium lh-small text-start">
            <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#music-note-beamed"/></svg>
            <div>
              <strong class="d-block">Another product</strong>
              <small>Explore this other product we offer</small>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="button hover-light rounded-2 d-flex align-items-start gap-xsmall py-xsmall px-medium lh-small text-start">
            <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#question-circle-solid"/></svg>
            <div>
              <strong class="d-block">Support</strong>
              <small>Get help from our support crew</small>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="d-none d-large-block vr mx-large opacity-10">&nbsp;</div>
    <hr class="d-large-none">
    <div class="col-large-auto pe-medium">
      <nav>
        <ul class="d-flex flex-column gap-xsmall list-unstyled small">
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Documentation</a></li>
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Use cases</a></li>
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">API status</a></li>
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Partners</a></li>
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Resources</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="dropdown-menu position-static d-flex flex-column flex-large-row align-items-stretch justify-content-start p-medium rounded-3 shadow-large" data-cx-theme="dark">
    <nav class="col-large-8">
      <ul class="list-unstyled d-flex flex-column gap-xsmall">
        <li>
          <a href="#" class="button hover-light rounded-2 d-flex align-items-start gap-xsmall py-xsmall px-medium lh-small text-start">
            <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#image-solid"/></svg>
            <div>
              <strong class="d-block">Main product</strong>
              <small>Take a tour through the product</small>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="button hover-light rounded-2 d-flex align-items-start gap-xsmall py-xsmall px-medium lh-small text-start">
            <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#music-note-beamed"/></svg>
            <div>
              <strong class="d-block">Another product</strong>
              <small>Explore this other product we offer</small>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="button hover-light rounded-2 d-flex align-items-start gap-xsmall py-xsmall px-medium lh-small text-start">
            <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#question-circle-solid"/></svg>
            <div>
              <strong class="d-block">Support</strong>
              <small>Get help from our support crew</small>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="d-none d-large-block vr mx-large opacity-10">&nbsp;</div>
    <hr class="d-large-none">
    <div class="col-large-auto pe-medium">
      <nav>
        <ul class="d-flex flex-column gap-xsmall list-unstyled small">
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Documentation</a></li>
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Use cases</a></li>
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">API status</a></li>
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Partners</a></li>
          <li><a href="#" class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Resources</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
