// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.cxd-clipboard,
.cxd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.button-clipboard,
.button-edit {
  display: block;
  padding: 0.5em;
  line-height: 1;
  color: var(--cx-fg-color);
  background-color: var(--cxd-pre-bg);
  border: 0;
  @include border-radius(0.25rem);

  &:hover {
    color: var(--cx-link-hover-color);
  }

  &:focus {
    z-index: 3;
  }
}

.button-clipboard {
  position: relative;
  z-index: 2;
  margin-top: 1.25rem;
  margin-right: 0.75rem;
}
