---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Offcanvas navbar template'
export const extra_css = ['offcanvas-navbar.css']
export const extra_js = [{ src: 'offcanvas-navbar.js' }]
export const body_class = 'bg-evident'
export const aliases = '/docs/[[config:docs_version]]/examples/offcanvas/'
import Placeholder from "@shortcodes/Placeholder.astro"
---

<nav class="navbar navbar-expand-large fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Offcanvas navbar</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-xsmall mb-large-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Switch account</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-cx-toggle="dropdown" aria-expanded="false">Settings</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-input me-xsmall" type="search" placeholder="Search" aria-label="Search">
        <button class="button outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="nav-scroller bg-main shadow-small">
  <nav class="nav" aria-label="Secondary navigation">
    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    <a class="nav-link" href="#">
      Friends
      <span class="badge bg-contrast fg-default rounded-pill align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="#">Explore</a>
    <a class="nav-link" href="#">Suggestions</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
  </nav>
</div>

<main class="container">
  <div class="d-flex align-items-center p-medium my-medium text-white bg-purple rounded shadow-small">
    <img class="me-medium" src={getVersionedDocsPath('/assets/brand/chassis-logo-white.svg')} alt="" width="48" height="38">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Chassis</h1>
      <small>Since 2011</small>
    </div>
  </div>

  <div class="my-medium p-medium bg-main rounded shadow-small">
    <h6 class="border-bottom pb-xsmall mb-0">Recent updates</h6>
    <div class="d-flex fg-subtle pt-medium">
      <Placeholder width="32" height="32" background="#007bff" color="#007bff" class="flex-shrink-0 me-xsmall rounded" />
      <p class="pb-medium mb-0 small lh-small border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
      </p>
    </div>
    <div class="d-flex fg-subtle pt-medium">
      <Placeholder width="32" height="32" background="#e83e8c" color="#e83e8c" class="flex-shrink-0 me-xsmall rounded" />
      <p class="pb-medium mb-0 small lh-small border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        Some more representative placeholder content, related to this other user. Another status update, perhaps.
      </p>
    </div>
    <div class="d-flex fg-subtle pt-medium">
      <Placeholder width="32" height="32" background="#6f42c1" color="#6f42c1" class="flex-shrink-0 me-xsmall rounded" />
      <p class="pb-medium mb-0 small lh-small border-bottom">
        <strong class="d-block text-gray-dark">@username</strong>
        This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
      </p>
    </div>
    <small class="d-block text-end mt-medium">
      <a href="#">All updates</a>
    </small>
  </div>

  <div class="my-medium p-medium bg-main rounded shadow-small">
    <h6 class="border-bottom pb-xsmall mb-0">Suggestions</h6>
    <div class="d-flex fg-subtle pt-medium">
      <Placeholder width="32" height="32" background="#007bff" color="#007bff" class="flex-shrink-0 me-xsmall rounded" />
      <div class="pb-medium mb-0 small lh-small border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <div class="d-flex fg-subtle pt-medium">
      <Placeholder width="32" height="32" background="#007bff" color="#007bff" class="flex-shrink-0 me-xsmall rounded" />
      <div class="pb-medium mb-0 small lh-small border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <div class="d-flex fg-subtle pt-medium">
      <Placeholder width="32" height="32" background="#007bff" color="#007bff" class="flex-shrink-0 me-xsmall rounded" />
      <div class="pb-medium mb-0 small lh-small border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <small class="d-block text-end mt-medium">
      <a href="#">All suggestions</a>
    </small>
  </div>
</main>
