---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Heroes'
export const extra_css = ['heroes.css']
---

<main>
  <h1 class="visually-hidden">Heroes examples</h1>

  <div class="px-large py-xlarge my-xlarge text-center">
    <img class="d-block mx-auto mb-large" src={getVersionedDocsPath('/assets/brand/chassis-logo.svg')} alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
    <div class="col-large-6 mx-auto">
      <p class="lead mb-large">Quickly design and customize responsive mobile-first sites with Chassis, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-xsmall d-small-flex justify-content-small-center">
        <button type="button" class="button primary large px-large gap-medium">Primary button</button>
        <button type="button" class="button outline secondary large px-large">Secondary</button>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-large pt-xlarge my-xlarge text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Centered screenshot</h1>
    <div class="col-large-6 mx-auto">
      <p class="lead mb-large">Quickly design and customize responsive mobile-first sites with Chassis, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-xsmall d-small-flex justify-content-small-center mb-xlarge">
        <button type="button" class="button primary large px-large me-xsmall-3">Primary button</button>
        <button type="button" class="button outline secondary large px-large">Secondary</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-xlarge">
        <img src="chassis-docs.png" class="image-fluid border rounded-3 shadow-large mb-large" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-2xlarge-8 px-large py-xlarge">
    <div class="row flex-large-row-reverse align-items-center g-5 py-xlarge">
      <div class="col-10 col-small-8 col-large-6">
        <img src="chassis-themes.png" class="d-block mx-large-auto image-fluid" alt="Chassis Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-large-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-medium">Responsive left-aligned hero with image</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Chassis, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-xsmall d-medium-flex justify-content-medium-start">
          <button type="button" class="button primary large px-large me-medium-2">Primary</button>
          <button type="button" class="button outline secondary large px-large">Default</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xlarge-10 col-2xlarge-8 px-large py-xlarge">
    <div class="row align-items-center g-large-5 py-xlarge">
      <div class="col-large-7 text-center text-large-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-medium">Vertically centered hero sign-up form</h1>
        <p class="col-large-10 fs-4">Below is an example form built entirely with Chassis - CSS’s form inputs. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="col-medium-10 mx-auto col-large-5">
        <form class="p-large p-medium-5 border rounded-3 bg-evident">
          <div class="form-floating mb-medium">
            <input type="email" class="form-input" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-medium">
            <input type="password" class="form-input" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-medium">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 button large primary" type="submit">Sign up</button>
          <hr class="my-large">
          <small class="fg-subtle">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-xlarge">
    <div class="row p-large pb-0 pe-large-0 pt-large-5 align-items-center rounded-3 border shadow-large">
      <div class="col-large-7 p-medium p-large-5 pt-large-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Border hero with cropped image and shadows</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Chassis, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-xsmall d-medium-flex justify-content-medium-start mb-large mb-large-3">
          <button type="button" class="button primary large px-large me-medium-2 fw-bold">Primary</button>
          <button type="button" class="button outline secondary large px-large">Default</button>
        </div>
      </div>
      <div class="col-large-4 offset-large-1 p-0 overflow-hidden shadow-large">
          <img class="rounded-large-3" src="chassis-docs.png" alt="" width="720">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-large py-xlarge text-center">
    <div class="py-xlarge">
      <h1 class="display-5 fw-bold text-white">Dark color hero</h1>
      <div class="col-large-6 mx-auto">
        <p class="fs-5 mb-large">Quickly design and customize responsive mobile-first sites with Chassis, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-xsmall d-small-flex justify-content-small-center">
          <button type="button" class="button outline-info large px-large me-xsmall-3 fw-bold">Custom button</button>
          <button type="button" class="button outline-light large px-large">Secondary</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>
</main>
