---
import { getConfig } from '@libs/config'
---

<p>
  These CSS variables control the component's appearance and can be modified dynamically on the page. Components use a <a href="https://www.w3.org/TR/css-variables-1/#example-c3e4e8d9">local redefinition</a> approach, allowing seamless variations in size, color, and style without redundant style declarations through component inheritance and the <a href={`/docs/${getConfig().docs_version}/core-concepts/context-class`}>context class</a> system.
</p>
