---
import { getConfig } from '@libs/config'
---

<p>
  These design tokens with <code>$cx</code> prefixes are managed by design teams in Figma using the Tokens Studio plugin. See the <a href={`/docs/${getConfig().docs_version}/core-concepts/design-tokens`}>design tokens</a> page for more details.
</p>
