<p>
  Sass variables are also exposed as CSS variables within component classes using the <code>--cx-</code> prefix. This means that any <code>$variable-name</code> defined in Sass can be customized directly on a page by declaring a corresponding <code>--cx-variable-name</code> in CSS. See <a href="/docs/{{ .Site.Params.docs_version }}/introduction/context-components/#example-2">Context Components</a> page for more information.
</p>
