---
/*
 * Outputs badge to identify features that are only available in CSS and not in Figma
 */

interface Props {
  tooltip?: string,
  plural?: boolean
}

const { tooltip, plural } = Astro.props
const tooltipText = tooltip ?? `This variant${plural ? 's' : ''} exist${plural ? '' : 's'} in the Figma component library with bound design tokens.`
---
<span class="badge large info smooth mb-medium rounded-medium" data-cx-toggle="tooltip" data-cx-title={tooltipText}>In Figma</span>
