<section class="row g-medium-5 pb-medium-5 mb-xlarge align-items-center">
  <div class="col-large-8 mb-xlarge">
    <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cxd-pink-rgb);">
      <svg class="bi fs-1"><use xlink:href="#braces"></use></svg>
    </div>
    <h2 class="display-5 mb-medium fw-semibold lh-small">Build and extend in real-time with CSS&nbsp;variables</h2>
    <p class="lead fw-normal">
      Chassis - CSS 5 is evolving with each release to better utilize CSS variables for global theme styles, individual components, and even utilities. We provide dozens of variables for colors, font styles, and more at a <code>:root</code> level for use anywhere. On components and utilities, CSS variables are scoped to the relevant class and can easily be modified.
    </p>
    <p class="d-flex align-items-start flex-column lead fw-normal mb-0">
      <a href="/docs/{{ .Site.Params.docs_version }}/customize/css-variables/" class="icon-link icon-link-hover fw-semibold mb-medium">
        Learn more about CSS variables
        <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
      </a>
    </p>
  </div>
  <div class="row gx-medium-5">
    <div class="col-large-6 mb-medium">
      <h3 class="fw-semibold">Using CSS variables</h3>
      <p>Use any of our <a href="/docs/{{ .Site.Params.docs_version }}/customize/css-variables/#root-variables">global <code>:root</code> variables</a> to write new styles. CSS variables use the <code>var(--cx-variableName)</code> syntax and can be inherited by children elements.</p>
      {{ highlight (printf `.component {
  color: var(--cx-gray-800);
  background-color: var(--cx-gray-100);
  border: 1px solid var(--cx-gray-200);
  border-radius: .25rem;
}

.component-header {
  color: var(--cx-purple);
}`) "scss" "" }}
    </div>
    <div class="col-large-6 mb-medium">
      <h3 class="fw-semibold">Customizing via CSS variables</h3>
      <p>Override global, component, or utility class variables to customize Chassis - CSS just how you like. No need to redeclare each rule, just a new variable value.</p>
      {{ highlight (printf `body {
  --cx-body-font-family: var(--cx-font-monospace);
  --cx-body-line-height: 1.4;
  --cx-bg-color: var(--cx-gray-100);
}

.table {
  --cx-table-color: var(--cx-gray-600);
  --cx-table-bg: var(--cx-gray-100);
  --cx-table-border-color: transparent;
}`) "scss" "" }}
    </div>
  </div>
</section>
