<template id="testTemplate"><div class="context bg-even rounded p-medium">
  <div class="d-flex p-xsmall gap-medium">
    <svg class="icon icon-xlarge"><use xlink:href="#info-circle-solid"></use></svg>
    <div>
      <h3>This is a default heading</h3>
      <p>This is a default paragraph with <a href="#">a link</a>a link in it!</p>
    </div>
  </div>
  <div class="d-flex gap-medium">
    <div class="context success d-flex flex-fill p-small gap-small rounded">
      <svg class="icon icon-medium"><use xlink:href="#check-circle-solid"></use></svg>
      <div>
        <h4>This is a default heading</h4>
        <p class="fg-subtle">This is a subtle paragraph with <a href="#">a link</a>a link in it!</p>
      </div>
    </div>
    <div class="context danger d-flex flex-fill p-small gap-small rounded">
      <svg class="icon icon-medium"><use xlink:href="#exclamation-circle-solid"></use></svg>
      <div>
        <h4>This is a default heading</h4>
        <p class="fg-subtle">This is a subtle paragraph with <a href="#">a link</a>a link in it!</p>
      </div>
    </div>
  </div>
</div></template>
<div class="row cxd-playground mb-medium justify-content-center" id="content">
  <div class="col-medium-10">
    <div class="container row-gap-medium">
      <div id="pScene" class="row mb-small"></div>
      <div class="form row row-gap-medium">
        <div class="p-0">
          <label for="exampleFormControlTextarea1" class="form-label">Write HTML</label>
          <textarea class="form-control form-control-small" id="exampleFormControlTextarea1"
            rows="8"><h1 class="text-center">
  <icon class="icon-arrow-down-solid"></icon> Play with me!
</h1></textarea>
        </div>
        <p class="px-0 d-flex justify-content-end gap-medium">
          <button class="cxd-button large primary pe-xlarge ps" onclick="updateScene()">
            <svg class="icon" aria-hidden="true"><use xlink:href="#play-circle-solid"></use></svg>
            Test it!
          </button>
          <button class="cxd-button large secondary" onclick="addTemplate()">Add template</button>
        </p>
        <script>
          const template = document.getElementById("testTemplate")
          const form = document.getElementById("exampleFormControlTextarea1")
          const scene = document.getElementById("pScene")
          function addTemplate() {
            let clone = template.content.cloneNode(true)
            //scene.innerHTML()
            scene.innerHTML = ''
            scene.appendChild(clone)
            form.value = scene.innerHTML
          }
          function updateScene() {
            scene.innerHTML = form.value
          }
          window.onload = updateScene()
        </script>
      </div>
    </div>
  </div>
</div>
