<section class="row g-medium g-medium-5 pb-medium-5 mb-xlarge align-items-center">
  <div class="col-large-6">
    <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cxd-subtle-rgb);">
      {{ partial "icons/droplet-fill.svg" (dict "width" "32" "height" "32") }}
    </div>
    <h2 class="display-5 mb-medium fw-semibold lh-small">Make it yours with official Chassis - CSS Themes</h2>
    <p class="lead fw-normal">
      Take Chassis - CSS to the next level with premium themes from the <a href="{{ .Site.Params.themes }}">official Chassis - CSS Themes marketplace</a>. Themes are built on Chassis - CSS as their own extended frameworks, rich with new components and plugins, documentation, and powerful build tools.
    </p>
    <p class="d-flex justify-content-start lead fw-normal mb-medium-0">
      <a href="{{ .Site.Params.themes }}" class="icon-link icon-link-hover fw-semibold">
        Browse Chassis - CSS Themes
        <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
      </a>
    </p>
  </div>
  <div class="col-large-6">
    {{ partial "responsive-image" (dict "context" .
      "imgPath" "/assets/img/chassis-themes.png"
      "alt" "Chassis - CSS Themes"
      "classes" "d-block mt-medium") }}
  </div>
</section>
