// scss-docs-start context-colors-map
$context-colors: (
  "default":    $default,
  "alternate":  $alternate,
  "primary":    $primary,
  "secondary":  $secondary,
  "neutral":    $neutral,
  "warning":    $warning,
  "success":    $success,
  "danger":     $danger,
  "info":       $info,
  "black":      $black,
  "white":      $white
) !default;
// scss-docs-end context-colors-map

// scss-docs-start contrast-colors-map
$contrast-colors: (
  "default-contrast":    $default-contrast,
  "alternate-contrast":  $alternate-contrast,
  "primary-contrast":    $primary-contrast,
  "secondary-contrast":  $secondary-contrast,
  "neutral-contrast":    $neutral-contrast,
  "warning-contrast":    $warning-contrast,
  "success-contrast":    $success-contrast,
  "danger-contrast":     $danger-contrast,
  "info-contrast":       $info-contrast,
  "black-contrast":      $black-contrast,
  "white-contrast":      $white-contrast
) !default;
// scss-docs-end contrast-colors-map

// Color maps
// scss-docs-start black-palette-map
// $black-palette: (
//   "black-main":             $black-main,
//   "black-clear":            $black-clear,
//   "black-contrast":         $black-contrast,
//   "black-t-05":             $black-t-05,
//   "black-t-10":             $black-t-10,
//   "black-t-20":             $black-t-20,
//   "black-t-30":             $black-t-30,
//   "black-t-40":             $black-t-40,
//   "black-t-50":             $black-t-50,
//   "black-t-60":             $black-t-60,
//   "black-t-70":             $black-t-70,
//   "black-t-80":             $black-t-80,
//   "black-t-90":             $black-t-90,
//   "black-t-95":             $black-t-95,
// ) !default;
// scss-docs-end black-palette-map

// scss-docs-start white-palette-map
// $white-palette: (
//   "white-main":             $white-main,
//   "white-clear":            $white-clear,
//   "white-contrast":         $white-contrast,
//   "white-t-05":             $white-t-05,
//   "white-t-10":             $white-t-10,
//   "white-t-20":             $white-t-20,
//   "white-t-30":             $white-t-30,
//   "white-t-40":             $white-t-40,
//   "white-t-50":             $white-t-50,
//   "white-t-60":             $white-t-60,
//   "white-t-70":             $white-t-70,
//   "white-t-80":             $white-t-80,
//   "white-t-90":             $white-t-90,
//   "white-t-95":             $white-t-95,
// ) !default;
// scss-docs-end white-palette-map

// scss-docs-start primary-palette-map
$primary-palette: (
  // "primary-main":           $primary-main,
  // "primary-clear":          $primary-clear,
  // "primary-contrast":       $primary-contrast,
  "primary-05":           $primary-05,
  "primary-10":           $primary-10,
  "primary-20":           $primary-20,
  "primary-30":           $primary-30,
  "primary-40":           $primary-40,
  "primary-50":           $primary-50,
  "primary-60":           $primary-60,
  "primary-70":           $primary-70,
  "primary-80":           $primary-80,
  "primary-90":           $primary-90,
  "primary-95":           $primary-95,
) !default;
// scss-docs-end primary-palette-map

// scss-docs-start secondary-palette-map
$secondary-palette: (
  // "secondary-main":         $secondary-main,
  // "secondary-clear":        $secondary-clear,
  // "secondary-contrast":     $secondary-contrast,
  "secondary-05":         $secondary-05,
  "secondary-10":         $secondary-10,
  "secondary-20":         $secondary-20,
  "secondary-30":         $secondary-30,
  "secondary-40":         $secondary-40,
  "secondary-50":         $secondary-50,
  "secondary-60":         $secondary-60,
  "secondary-70":         $secondary-70,
  "secondary-80":         $secondary-80,
  "secondary-90":         $secondary-90,
  "secondary-95":         $secondary-95,
) !default;
// scss-docs-end secondary-palette-map

// scss-docs-start neutral-palette-map
$neutral-palette: (
  // "neutral-main":           $neutral-main,
  // "neutral-clear":          $neutral-clear,
  // "neutral-contrast":       $neutral-contrast,
  "neutral-05":           $neutral-05,
  "neutral-10":           $neutral-10,
  "neutral-20":           $neutral-20,
  "neutral-30":           $neutral-30,
  "neutral-40":           $neutral-40,
  "neutral-50":           $neutral-50,
  "neutral-60":           $neutral-60,
  "neutral-70":           $neutral-70,
  "neutral-80":           $neutral-80,
  "neutral-90":           $neutral-90,
  "neutral-95":           $neutral-95,
) !default;
// scss-docs-end neutral-palette-map

// scss-docs-start danger-palette-map
$danger-palette: (
  // "danger-main":            $danger-main,
  // "danger-clear":           $danger-clear,
  // "danger-contrast":        $danger-contrast,
  "danger-05":            $danger-05,
  "danger-10":            $danger-10,
  "danger-20":            $danger-20,
  "danger-30":            $danger-30,
  "danger-40":            $danger-40,
  "danger-50":            $danger-50,
  "danger-60":            $danger-60,
  "danger-70":            $danger-70,
  "danger-80":            $danger-80,
  "danger-90":            $danger-90,
  "danger-95":            $danger-95,
) !default;
// scss-docs-end danger-palette-map

// scss-docs-start success-palette-map
$success-palette: (
  // "success-main":           $success-main,
  // "success-clear":          $success-clear,
  // "success-contrast":       $success-contrast,
  "success-05":           $success-05,
  "success-10":           $success-10,
  "success-20":           $success-20,
  "success-30":           $success-30,
  "success-40":           $success-40,
  "success-50":           $success-50,
  "success-60":           $success-60,
  "success-70":           $success-70,
  "success-80":           $success-80,
  "success-90":           $success-90,
  "success-95":           $success-95,
) !default;
// scss-docs-end success-palette-map

// scss-docs-start warning-palette-map
$warning-palette: (
  // "warning-main":           $warning-main,
  // "warning-clear":          $warning-clear,
  // "warning-contrast":       $warning-contrast,
  "warning-05":           $warning-05,
  "warning-10":           $warning-10,
  "warning-20":           $warning-20,
  "warning-30":           $warning-30,
  "warning-40":           $warning-40,
  "warning-50":           $warning-50,
  "warning-60":           $warning-60,
  "warning-70":           $warning-70,
  "warning-80":           $warning-80,
  "warning-90":           $warning-90,
  "warning-95":           $warning-95,
) !default;
// scss-docs-end warning-palette-map

// scss-docs-start info-palette-map
$info-palette: (
  // "info-main":              $info-main,
  // "info-clear":             $info-clear,
  // "info-contrast":          $info-contrast,
  "info-05":              $info-05,
  "info-10":              $info-10,
  "info-20":              $info-20,
  "info-30":              $info-30,
  "info-40":              $info-40,
  "info-50":              $info-50,
  "info-60":              $info-60,
  "info-70":              $info-70,
  "info-80":              $info-80,
  "info-90":              $info-90,
  "info-95":              $info-95,
) !default;
// scss-docs-end info-palette-map

// scss-docs-start base-palette-map
$base-palette: map-merge-multiple(
  $primary-palette,
  $secondary-palette,
  $neutral-palette,
  $danger-palette,
  $success-palette,
  $warning-palette,
  $info-palette,
) !default;
// scss-docs-end base-palette-map

// scss-docs-start fg-main-colors-map
$fg-main-colors: (
  "default":                $default-fg-main,
  "alternate":              $alternate-fg-main,
  "primary":                $primary-fg-main,
  "secondary":              $secondary-fg-main,
  "neutral":                $neutral-fg-main,
  "danger":                 $danger-fg-main,
  "success":                $success-fg-main,
  "warning":                $warning-fg-main,
  "info":                   $info-fg-main,
  "black":                  $black-fg-main,
  "white":                  $white-fg-main,
) !default;
// scss-docs-end fg-main-colors-map

// scss-docs-start fg-subtle-colors-map
$fg-subtle-colors: (
  "default":                $default-fg-subtle,
  "alternate":              $alternate-fg-subtle,
  "primary":                $primary-fg-subtle,
  "secondary":              $secondary-fg-subtle,
  "neutral":                $neutral-fg-subtle,
  "danger":                 $danger-fg-subtle,
  "success":                $success-fg-subtle,
  "warning":                $warning-fg-subtle,
  "info":                   $info-fg-subtle,
  "black":                  $black-fg-subtle,
  "white":                  $white-fg-subtle,
) !default;
// scss-docs-end fg-subtle-colors-map

// scss-docs-start fg-slight-colors-map
$fg-slight-colors: (
  "default":                $default-fg-slight,
  "alternate":              $alternate-fg-slight,
  "primary":                $primary-fg-slight,
  "secondary":              $secondary-fg-slight,
  "neutral":                $neutral-fg-slight,
  "danger":                 $danger-fg-slight,
  "success":                $success-fg-slight,
  "warning":                $warning-fg-slight,
  "info":                   $info-fg-slight,
  "black":                  $black-fg-slight,
  "white":                  $white-fg-slight,
) !default;
// scss-docs-end fg-slight-colors-map

// scss-docs-start fg-inverse-colors-map
$fg-inverse-colors: (
  "default":                $default-fg-inverse,
  "alternate":              $alternate-fg-inverse,
  "primary":                $primary-fg-inverse,
  "secondary":              $secondary-fg-inverse,
  "neutral":                $neutral-fg-inverse,
  "danger":                 $danger-fg-inverse,
  "success":                $success-fg-inverse,
  "warning":                $warning-fg-inverse,
  "info":                   $info-fg-inverse,
  "black":                  $black-fg-inverse,
  "white":                  $white-fg-inverse,
) !default;
// scss-docs-end fg-inverse-colors-map

// scss-docs-start fg-solid-colors-map
$fg-solid-colors: (
  "default":                $default-fg-solid,
  "alternate":              $alternate-fg-solid,
  "primary":                $primary-fg-solid,
  "secondary":              $secondary-fg-solid,
  "neutral":                $neutral-fg-solid,
  "danger":                 $danger-fg-solid,
  "success":                $success-fg-solid,
  "warning":                $warning-fg-solid,
  "info":                   $info-fg-solid,
  "black":                  $black-fg-solid,
  "white":                  $white-fg-solid,
) !default;
// scss-docs-end fg-solid-colors-map

// scss-docs-start fg-highlight-colors-map
$fg-highlight-colors: (
  "default":                $default-fg-highlight,
  "alternate":              $alternate-fg-highlight,
  "primary":                $primary-fg-highlight,
  "secondary":              $secondary-fg-highlight,
  "neutral":                $neutral-fg-highlight,
  "danger":                 $danger-fg-highlight,
  "success":                $success-fg-highlight,
  "warning":                $warning-fg-highlight,
  "info":                   $info-fg-highlight,
  "black":                  $black-fg-highlight,
  "white":                  $white-fg-highlight,
) !default;
// scss-docs-end fg-highlight-colors-map


// scss-docs-start bg-main-colors-map
$bg-main-colors: (
  "default":                $default-bg-main,
  "alternate":              $alternate-bg-main,
  "primary":                $primary-bg-main,
  "secondary":              $secondary-bg-main,
  "neutral":                $neutral-bg-main,
  "danger":                 $danger-bg-main,
  "success":                $success-bg-main,
  "warning":                $warning-bg-main,
  "info":                   $info-bg-main,
  "black":                  $black-bg-main,
  "white":                  $white-bg-main,
) !default;
// scss-docs-end bg-main-colors-map

// scss-docs-start bg-even-colors-map
$bg-even-colors: (
  "default":                $default-bg-even,
  "alternate":              $alternate-bg-even,
  "primary":                $primary-bg-even,
  "secondary":              $secondary-bg-even,
  "neutral":                $neutral-bg-even,
  "danger":                 $danger-bg-even,
  "success":                $success-bg-even,
  "warning":                $warning-bg-even,
  "info":                   $info-bg-even,
  "black":                  $black-bg-even,
  "white":                  $white-bg-even,
) !default;
// scss-docs-end bg-even-colors-map

// scss-docs-start bg-evident-colors-map
$bg-evident-colors: (
  "default":                $default-bg-evident,
  "alternate":              $alternate-bg-evident,
  "primary":                $primary-bg-evident,
  "secondary":              $secondary-bg-evident,
  "neutral":                $neutral-bg-evident,
  "danger":                 $danger-bg-evident,
  "success":                $success-bg-evident,
  "warning":                $warning-bg-evident,
  "info":                   $info-bg-evident,
  "black":                  $black-bg-evident,
  "white":                  $white-bg-evident,
) !default;
// scss-docs-end bg-evident-colors-map

// scss-docs-start bg-inverse-colors-map
$bg-inverse-colors: (
  "default":                $default-bg-inverse,
  "alternate":              $alternate-bg-inverse,
  "primary":                $primary-bg-inverse,
  "secondary":              $secondary-bg-inverse,
  "neutral":                $neutral-bg-inverse,
  "danger":                 $danger-bg-inverse,
  "success":                $success-bg-inverse,
  "warning":                $warning-bg-inverse,
  "info":                   $info-bg-inverse,
  "black":                  $black-bg-inverse,
  "white":                  $white-bg-inverse,
) !default;
// scss-docs-end bg-inverse-colors-map

// scss-docs-start bg-solid-colors-map
$bg-solid-colors: (
  "default":                $default-bg-solid,
  "alternate":              $alternate-bg-solid,
  "primary":                $primary-bg-solid,
  "secondary":              $secondary-bg-solid,
  "neutral":                $neutral-bg-solid,
  "danger":                 $danger-bg-solid,
  "success":                $success-bg-solid,
  "warning":                $warning-bg-solid,
  "info":                   $info-bg-solid,
  "black":                  $black-bg-solid,
  "white":                  $white-bg-solid,
) !default;
// scss-docs-end bg-solid-colors-map

// scss-docs-start bg-highlight-colors-map
$bg-highlight-colors: (
  "default":                $default-bg-highlight,
  "alternate":              $alternate-bg-highlight,
  "primary":                $primary-bg-highlight,
  "secondary":              $secondary-bg-highlight,
  "neutral":                $neutral-bg-highlight,
  "danger":                 $danger-bg-highlight,
  "success":                $success-bg-highlight,
  "warning":                $warning-bg-highlight,
  "info":                   $info-bg-highlight,
  "black":                  $black-bg-highlight,
  "white":                  $white-bg-highlight,
) !default;
// scss-docs-end bg-highlight-colors-map

// scss-docs-start border-main-colors-map
$border-main-colors: (
  "default":                $default-border-main,
  "alternate":              $alternate-border-main,
  "primary":                $primary-border-main,
  "secondary":              $secondary-border-main,
  "neutral":                $neutral-border-main,
  "danger":                 $danger-border-main,
  "success":                $success-border-main,
  "warning":                $warning-border-main,
  "info":                   $info-border-main,
  "black":                  $black-border-main,
  "white":                  $white-border-main,
) !default;
// scss-docs-end border-main-colors-map

// scss-docs-start border-subtle-colors-map
$border-subtle-colors: (
  "default":             $default-border-subtle,
  "alternate":           $alternate-border-subtle,
  "primary":             $primary-border-subtle,
  "secondary":           $secondary-border-subtle,
  "neutral":             $neutral-border-subtle,
  "danger":              $danger-border-subtle,
  "success":             $success-border-subtle,
  "warning":             $warning-border-subtle,
  "info":                $info-border-subtle,
  "black":               $black-border-subtle,
  "white":               $white-border-subtle,
) !default;
// scss-docs-end border-subtle-colors-map

// scss-docs-start icon-main-colors-map
$icon-main-colors: (
  "default":                $default-icon-main,
  "alternate":              $alternate-icon-main,
  "primary":                $primary-icon-main,
  "secondary":              $secondary-icon-main,
  "neutral":                $neutral-icon-main,
  "danger":                 $danger-icon-main,
  "success":                $success-icon-main,
  "warning":                $warning-icon-main,
  "info":                   $info-icon-main,
  "black":                  $black-icon-main,
  "white":                  $white-icon-main,
) !default;
// scss-docs-end icon-main-colors-map

// scss-docs-start icon-subtle-colors-map
$icon-subtle-colors: (
  "default":             $default-icon-subtle,
  "alternate":           $alternate-icon-subtle,
  "primary":             $primary-icon-subtle,
  "secondary":           $secondary-icon-subtle,
  "neutral":             $neutral-icon-subtle,
  "danger":              $danger-icon-subtle,
  "success":             $success-icon-subtle,
  "warning":             $warning-icon-subtle,
  "info":                $info-icon-subtle,
  "black":               $black-icon-subtle,
  "white":               $white-icon-subtle,
) !default;
// scss-docs-end icon-subtle-colors-map

// scss-docs-start icon-slight-colors-map
$icon-slight-colors: (
  "default":             $default-icon-slight,
  "alternate":           $alternate-icon-slight,
  "primary":             $primary-icon-slight,
  "secondary":           $secondary-icon-slight,
  "neutral":             $neutral-icon-slight,
  "danger":              $danger-icon-slight,
  "success":             $success-icon-slight,
  "warning":             $warning-icon-slight,
  "info":                $info-icon-slight,
  "black":               $black-icon-slight,
  "white":               $white-icon-slight,
) !default;
// scss-docs-end icon-slight-colors-map

// scss-docs-start cue-main-colors-map
$cue-main-colors: (
  "default":             $default-cue-main,
  "alternate":           $alternate-cue-main,
  "primary":             $primary-cue-main,
  "secondary":           $secondary-cue-main,
  "neutral":             $neutral-cue-main,
  "danger":              $danger-cue-main,
  "success":             $success-cue-main,
  "warning":             $warning-cue-main,
  "info":                $info-cue-main,
  "black":               $black-cue-main,
  "white":               $white-cue-main,
) !default;
// scss-docs-end cue-main-colors-map

// scss-docs-start cue-slight-colors-map
$cue-slight-colors: (
  "default":             $default-cue-slight,
  "alternate":           $alternate-cue-slight,
  "primary":             $primary-cue-slight,
  "secondary":           $secondary-cue-slight,
  "neutral":             $neutral-cue-slight,
  "danger":              $danger-cue-slight,
  "success":             $success-cue-slight,
  "warning":             $warning-cue-slight,
  "info":                $info-cue-slight,
  "black":               $black-cue-slight,
  "white":               $white-cue-slight,
) !default;
// scss-docs-end cue-main-colors-map

// scss-docs-start link-main-colors-map
$link-main-colors: (
  "default":                $default-link-main,
  "alternate":              $alternate-link-main,
  "primary":                $primary-link-main,
  "secondary":              $secondary-link-main,
  "neutral":                $neutral-link-main,
  "danger":                 $danger-link-main,
  "success":                $success-link-main,
  "warning":                $warning-link-main,
  "info":                   $info-link-main,
  "black":                  $black-link-main,
  "white":                  $white-link-main,
) !default;
// scss-docs-end link-main-colors-map

// scss-docs-start hover-colors-map
$hover-colors: (
  "default":             $default-link-hover,
  "alternate":           $alternate-link-hover,
  "primary":             $primary-link-hover,
  "secondary":           $secondary-link-hover,
  "neutral":             $neutral-link-hover,
  "danger":              $danger-link-hover,
  "success":             $success-link-hover,
  "warning":             $warning-link-hover,
  "info":                $info-link-hover,
  "black":               $black-link-hover,
  "white":               $white-link-hover,
) !default;
// scss-docs-end hover-colors-map

// scss-docs-start visited-colors-map
$visited-colors: (
  "default":                $default-link-visited,
  "alternate":              $alternate-link-visited,
  "primary":                $primary-link-visited,
  "secondary":              $secondary-link-visited,
  "neutral":                $neutral-link-visited,
  "danger":                 $danger-link-visited,
  "success":                $success-link-visited,
  "warning":                $warning-link-visited,
  "info":                   $info-link-visited,
  "black":                  $black-link-visited,
  "white":                  $white-link-visited,
) !default;
// scss-docs-end visited-colors-map

// scss-docs-start active-colors-map
$active-colors: (
  "default":             $default-link-active,
  "alternate":           $alternate-link-active,
  "primary":             $primary-link-active,
  "secondary":           $secondary-link-active,
  "neutral":             $neutral-link-active,
  "danger":              $danger-link-active,
  "success":             $success-link-active,
  "warning":             $warning-link-active,
  "info":                $info-link-active,
  "black":               $black-link-active,
  "white":               $white-link-active,
) !default;
// scss-docs-end active-colors-map

// scss-docs-start dim-main-colors-map
$dim-main-colors: (
  "default":             $default-dim-main,
  "alternate":           $alternate-dim-main,
  "primary":             $primary-dim-main,
  "secondary":           $secondary-dim-main,
  "neutral":             $neutral-dim-main,
  "danger":              $danger-dim-main,
  "success":             $success-dim-main,
  "warning":             $warning-dim-main,
  "info":                $info-dim-main,
  "black":               $black-dim-main,
  "white":               $white-dim-main,
) !default;
// scss-docs-end dim-main-colors-map

// scss-docs-start dim-subtle-colors-map
$dim-subtle-colors: (
  "default":                $default-dim-subtle,
  "alternate":              $alternate-dim-subtle,
  "primary":                $primary-dim-subtle,
  "secondary":              $secondary-dim-subtle,
  "neutral":                $neutral-dim-subtle,
  "danger":                 $danger-dim-subtle,
  "success":                $success-dim-subtle,
  "warning":                $warning-dim-subtle,
  "info":                   $info-dim-subtle,
  "black":                  $black-dim-subtle,
  "white":                  $white-dim-subtle,
) !default;
// scss-docs-end dim-subtle-colors-map

// scss-docs-start dim-slight-colors-map
$dim-slight-colors: (
  "default":                $default-dim-slight,
  "alternate":              $alternate-dim-slight,
  "primary":                $primary-dim-slight,
  "secondary":              $secondary-dim-slight,
  "neutral":                $neutral-dim-slight,
  "danger":                 $danger-dim-slight,
  "success":                $success-dim-slight,
  "warning":                $warning-dim-slight,
  "info":                   $info-dim-slight,
  "black":                  $black-dim-slight,
  "white":                  $white-dim-slight,
) !default;
// scss-docs-end dim-slight-colors-map

// scss-docs-start fg-idle-colors-map
$fg-idle-colors: (
  "default":                $default-fg-idle,
  "alternate":              $alternate-fg-idle,
  "primary":                $primary-fg-idle,
  "secondary":              $secondary-fg-idle,
  "neutral":                $neutral-fg-idle,
  "danger":                 $danger-fg-idle,
  "success":                $success-fg-idle,
  "warning":                $warning-fg-idle,
  "info":                   $info-fg-idle,
  "black":                  $black-fg-idle,
  "white":                  $white-fg-idle,
) !default;
// scss-docs-end fg-idle-colors-map

// scss-docs-start fg-hover-colors-map
$fg-hover-colors: (
  "default":                $default-fg-hover,
  "alternate":              $alternate-fg-hover,
  "primary":                $primary-fg-hover,
  "secondary":              $secondary-fg-hover,
  "neutral":                $neutral-fg-hover,
  "danger":                 $danger-fg-hover,
  "success":                $success-fg-hover,
  "warning":                $warning-fg-hover,
  "info":                   $info-fg-hover,
  "black":                  $black-fg-hover,
  "white":                  $white-fg-hover,
) !default;
// scss-docs-end fg-hover-colors-map

// scss-docs-start fg-disabled-colors-map
$fg-disabled-colors: (
  "default":                $default-fg-disabled,
  "alternate":              $alternate-fg-disabled,
  "primary":                $primary-fg-disabled,
  "secondary":              $secondary-fg-disabled,
  "neutral":                $neutral-fg-disabled,
  "danger":                 $danger-fg-disabled,
  "success":                $success-fg-disabled,
  "warning":                $warning-fg-disabled,
  "info":                   $info-fg-disabled,
  "black":                  $black-fg-disabled,
  "white":                  $white-fg-disabled,
) !default;
// scss-docs-end fg-disabled-colors-map

// scss-docs-start fg-press-colors-map
$fg-press-colors: (
  "default":                $default-fg-press,
  "alternate":              $alternate-fg-press,
  "primary":                $primary-fg-press,
  "secondary":              $secondary-fg-press,
  "neutral":                $neutral-fg-press,
  "danger":                 $danger-fg-press,
  "success":                $success-fg-press,
  "warning":                $warning-fg-press,
  "info":                   $info-fg-press,
  "black":                  $black-fg-press,
  "white":                  $white-fg-press,
) !default;
// scss-docs-end fg-press-colors-map

// scss-docs-start bg-idle-colors-map
$bg-idle-colors: (
  "default":                $default-bg-idle,
  "alternate":              $alternate-bg-idle,
  "primary":                $primary-bg-idle,
  "secondary":              $secondary-bg-idle,
  "neutral":                $neutral-bg-idle,
  "danger":                 $danger-bg-idle,
  "success":                $success-bg-idle,
  "warning":                $warning-bg-idle,
  "info":                   $info-bg-idle,
  "black":                  $black-bg-idle,
  "white":                  $white-bg-idle,
) !default;
// scss-docs-end bg-idle-colors-map

// scss-docs-start bg-hover-colors-map
$bg-hover-colors: (
  "default":                $default-bg-hover,
  "alternate":              $alternate-bg-hover,
  "primary":                $primary-bg-hover,
  "secondary":              $secondary-bg-hover,
  "neutral":                $neutral-bg-hover,
  "danger":                 $danger-bg-hover,
  "success":                $success-bg-hover,
  "warning":                $warning-bg-hover,
  "info":                   $info-bg-hover,
  "black":                  $black-bg-hover,
  "white":                  $white-bg-hover,
) !default;
// scss-docs-end bg-hover-colors-map

// scss-docs-start bg-disabled-colors-map
$bg-disabled-colors: (
  "default":                $default-bg-disabled,
  "alternate":              $alternate-bg-disabled,
  "primary":                $primary-bg-disabled,
  "secondary":              $secondary-bg-disabled,
  "neutral":                $neutral-bg-disabled,
  "danger":                 $danger-bg-disabled,
  "success":                $success-bg-disabled,
  "warning":                $warning-bg-disabled,
  "info":                   $info-bg-disabled,
  "black":                  $black-bg-disabled,
  "white":                  $white-bg-disabled,
) !default;
// scss-docs-end bg-disabled-colors-map

// scss-docs-start bg-press-colors-map
$bg-press-colors: (
  "default":                $default-bg-press,
  "alternate":              $alternate-bg-press,
  "primary":                $primary-bg-press,
  "secondary":              $secondary-bg-press,
  "neutral":                $neutral-bg-press,
  "danger":                 $danger-bg-press,
  "success":                $success-bg-press,
  "warning":                $warning-bg-press,
  "info":                   $info-bg-press,
  "black":                  $black-bg-press,
  "white":                  $white-bg-press,
) !default;
// scss-docs-end bg-press-colors-map

// scss-docs-start context-base-colors-map
$context-base-colors: (
  "default-base-color":                $default-base-color,
  "alternate-base-color":              $alternate-base-color,
  "primary-base-color":                $primary-base-color,
  "secondary-base-color":              $secondary-base-color,
  "neutral-base-color":                $neutral-base-color,
  "danger-base-color":                 $danger-base-color,
  "success-base-color":                $success-base-color,
  "warning-base-color":                $warning-base-color,
  "info-base-color":                   $info-base-color,
  "black-base-color":                  $black-base-color,
  "white-base-color":                  $white-base-color,
) !default;
// scss-docs-end context-base-colors-map

// scss-docs-start context-contrast-colors-map
$context-contrast-colors: (
  "default-contrast-color":                $default-contrast-color,
  "alternate-contrast-color":              $alternate-contrast-color,
  "primary-contrast-color":                $primary-contrast-color,
  "secondary-contrast-color":              $secondary-contrast-color,
  "neutral-contrast-color":                $neutral-contrast-color,
  "danger-contrast-color":                 $danger-contrast-color,
  "success-contrast-color":                $success-contrast-color,
  "warning-contrast-color":                $warning-contrast-color,
  "info-contrast-color":                   $info-contrast-color,
  "black-contrast-color":                  $black-contrast-color,
  "white-contrast-color":                  $white-contrast-color,
) !default;
// scss-docs-end context-contrast-colors-map

// scss-docs-start context-transparent-colors-map
$context-transparent-colors: (
  "default-transparent-color":                $default-transparent-color,
  "alternate-transparent-color":              $alternate-transparent-color,
  "primary-transparent-color":                $primary-transparent-color,
  "secondary-transparent-color":              $secondary-transparent-color,
  "neutral-transparent-color":                $neutral-transparent-color,
  "danger-transparent-color":                 $danger-transparent-color,
  "success-transparent-color":                $success-transparent-color,
  "warning-transparent-color":                $warning-transparent-color,
  "info-transparent-color":                   $info-transparent-color,
  "black-transparent-color":                  $black-transparent-color,
  "white-transparent-color":                  $white-transparent-color,
) !default;
// scss-docs-end context-transparent-colors-map


// scss-docs-start body-fg-colors-map
$body-fg-colors:   (
  "fg-main":            $fg-main,
  "fg-subtle":          $fg-subtle,
  "fg-slight":          $fg-slight,
  "fg-inverse":         $fg-inverse,
  "fg-solid":           $fg-solid,
  "fg-highlight":       $fg-highlight,
  "fg-idle":          $fg-idle,
  "fg-disabled":        $fg-disabled,
  "fg-hover":           $fg-hover,
  "fg-press":           $fg-press,
) !default;
// scss-docs-end body-fg-colors-map

// scss-docs-start context-fg-colors-map
$context-fg-colors: map-merge-multiple(
  map-rename-keys($fg-main-colors, "-fg-main", "end"),
  map-rename-keys($fg-subtle-colors, "-fg-subtle", "end"),
  map-rename-keys($fg-slight-colors, "-fg-slight", "end"),
  map-rename-keys($fg-inverse-colors, "-fg-inverse", "end"),
  map-rename-keys($fg-solid-colors, "-fg-solid", "end"),
  map-rename-keys($fg-highlight-colors, "-fg-highlight", "end"),
  map-rename-keys($fg-idle-colors, "-fg-idle", "end"),
  map-rename-keys($fg-disabled-colors, "-fg-disabled", "end"),
  map-rename-keys($fg-hover-colors, "-fg-hover", "end"),
  map-rename-keys($fg-press-colors, "-fg-press", "end"),
) !default;
// scss-docs-end context-fg-colors-map

// scss-docs-start body-bg-colors-map
$body-bg-colors: (
  "bg-main":            $bg-main,
  "bg-even":            $bg-even,
  "bg-evident":         $bg-evident,
  "bg-inverse":         $bg-inverse,
  "bg-solid":           $bg-solid,
  "bg-highlight":       $bg-highlight,
  "bg-idle":          $bg-idle,
  "bg-disabled":        $bg-disabled,
  "bg-hover":           $bg-hover,
  "bg-press":           $bg-press,
) !default;
// scss-docs-end body-bg-colors-map
// scss-docs-start context-bg-colors-map
$context-bg-colors: map-merge-multiple(
  map-rename-keys($bg-main-colors, "-bg-main", "end"),
  map-rename-keys($bg-even-colors, "-bg-even", "end"),
  map-rename-keys($bg-evident-colors, "-bg-evident", "end"),
  map-rename-keys($bg-inverse-colors, "-bg-inverse", "end"),
  map-rename-keys($bg-solid-colors, "-bg-solid", "end"),
  map-rename-keys($bg-highlight-colors, "-bg-highlight", "end"),
  map-rename-keys($bg-idle-colors, "-bg-idle", "end"),
  map-rename-keys($bg-disabled-colors, "-bg-disabled", "end"),
  map-rename-keys($bg-hover-colors, "-bg-hover", "end"),
  map-rename-keys($bg-press-colors, "-bg-press", "end"),
) !default;
// scss-docs-end context-bg-colors-map

// scss-docs-start body-border-colors-map
$body-border-colors: (
  "border-main":         $border-main,
  "border-subtle":      $border-subtle,
) !default;
// scss-docs-end body-border-colors-map

// scss-docs-start context-border-colors-map
$context-border-colors: map-merge-multiple(
  map-rename-keys($border-main-colors, "-border-main", "end"),
  map-rename-keys($border-subtle-colors, "-border-subtle", "end"),
) !default;
// scss-docs-end context-border-colors-map

// scss-docs-start body-icon-colors-map
$body-icon-colors: (
  "icon-main":          $icon-main,
  "icon-subtle":        $icon-subtle,
  "icon-slight":        $icon-slight,
) !default;
// scss-docs-end body-icon-colors-map
// scss-docs-start context-icon-colors-map
$context-icon-colors: map-merge-multiple(
  map-rename-keys($icon-main-colors, "-icon-main", "end"),
  map-rename-keys($icon-subtle-colors, "-icon-subtle", "end"),
  map-rename-keys($icon-slight-colors, "-icon-slight", "end"),
) !default;
// scss-docs-end context-icon-colors-map

// scss-docs-start body-cue-colors-map
$body-cue-colors: (
  "cue-main":      $cue-main,
  "cue-slight":    $cue-slight,
) !default;
// scss-docs-end body-cue-colors-map
// scss-docs-start context-icon-colors-map
$context-cue-colors: map-merge-multiple(
  map-rename-keys($cue-main-colors, "-cue-main", "end"),
  map-rename-keys($cue-slight-colors, "-cue-slight", "end"),
) !default;
// scss-docs-end context-icon-colors-map

// scss-docs-start body-link-colors-map
$body-link-colors: (
  "link-main":           $link-main,
  "link-hover":          $link-hover,
  "link-active":         $link-active,
  "link-visited":        $link-visited,
) !default;
// scss-docs-end body-link-colors-map
// scss-docs-start context-link-colors-map
$context-link-colors: map-merge-multiple(
  map-rename-keys($link-main-colors, "-link-main", "end"),
  map-rename-keys($hover-colors, "-link-hover", "end"),
  map-rename-keys($active-colors, "-link-active", "end"),
  map-rename-keys($visited-colors, "-link-visited", "end"),
) !default;
// scss-docs-end context-link-colors-map

// scss-docs-start body-dim-colors-map
$body-dim-colors: (
  "dim-main":            $dim-main,
  "dim-subtle":          $dim-subtle,
  "dim-slight":          $dim-slight,
) !default;
// scss-docs-end body-dim-colors-map
// scss-docs-start context-dim-colors-map
$context-dim-colors: map-merge-multiple(
  map-rename-keys($dim-slight-colors, "-dim-slight", "end"),
  map-rename-keys($dim-main-colors, "-dim-main", "end"),
  map-rename-keys($dim-subtle-colors, "-dim-subtle", "end"),
) !default;
// scss-docs-end context-dim-colors-map

// scss-docs-start body-button-colors-map
$body-button-colors: (
  "fg-idle":         $fg-idle,
  "fg-hover":          $fg-hover,
  "fg-press":          $fg-press,
  "fg-disabled":       $fg-disabled,
  "bg-idle":         $bg-idle,
  "bg-hover":          $bg-hover,
  "bg-press":          $bg-press,
  "bg-disabled":       $bg-disabled,
) !default;
// scss-docs-end body-button-colors-map
// scss-docs-start context-button-colors-map
$context-button-colors: map-merge-multiple(
  map-rename-keys($fg-idle-colors, "-fg-idle", "end"),
  map-rename-keys($fg-hover-colors, "-fg-hover", "end"),
  map-rename-keys($fg-press-colors, "-fg-press", "end"),
  map-rename-keys($fg-disabled-colors, "-fg-disabled", "end"),
  map-rename-keys($bg-idle-colors, "-bg-idle", "end"),
  map-rename-keys($bg-hover-colors, "-bg-hover", "end"),
  map-rename-keys($bg-press-colors, "-bg-press", "end"),
  map-rename-keys($bg-disabled-colors, "-bg-disabled", "end"),
) !default;
// scss-docs-end context-button-colors-map

// scss-docs-start body-colors-map
$body-colors: map-merge-multiple(
  (
    "base-color":            $base-color,
    "contrast-color":        $contrast-color,
    "transparent-color":     $transparent-color,
  ),
  $body-fg-colors,
  $body-bg-colors,
  $body-border-colors,
  $body-icon-colors,
  $body-cue-colors,
  $body-dim-colors,
  $body-link-colors,
  $body-button-colors,
  (
    "base-color-rgb":         $base-color-rgb,
    "contrast-color-rgb":     $contrast-color-rgb,
    "transparent-color-rgb":  $transparent-color-rgb,
    "fg-main-rgb":            $fg-main-rgb,
    "fg-subtle-rgb":          $fg-subtle-rgb,
    "fg-slight-rgb":          $fg-slight-rgb,
    "fg-inverse-rgb":         $fg-inverse-rgb,
    "fg-solid-rgb":           $fg-solid-rgb,
    "fg-highlight-rgb":       $fg-highlight-rgb,
    "bg-main-rgb":            $bg-main-rgb,
    "bg-even-rgb":            $bg-even-rgb,
    "bg-evident-rgb":         $bg-evident-rgb,
    "bg-inverse-rgb":         $bg-inverse-rgb,
    "bg-solid-rgb":           $bg-solid-rgb,
    "bg-highlight-rgb":       $bg-highlight-rgb,
    "border-main-rgb":        $border-main-rgb,
    "border-subtle-rgb":      $border-subtle-rgb,
    "icon-main-rgb":          $icon-main-rgb,
    "icon-subtle-rgb":        $icon-subtle-rgb,
    "icon-slight-rgb":        $icon-slight-rgb,
    "cue-main-rgb":           $cue-main-rgb,
    "cue-slight-rgb":         $cue-slight-rgb,
    "dim-main-rgb":           $dim-main-rgb,
    "dim-subtle-rgb":         $dim-subtle-rgb,
    "dim-slight-rgb":         $dim-slight-rgb,
    "link-main-rgb":          $link-main-rgb,
    "link-hover-rgb":         $link-hover-rgb,
    "link-active-rgb":        $link-active-rgb,
    "link-visited-rgb":       $link-visited-rgb,
    "fg-idle-rgb":          $fg-idle-rgb,
    "fg-hover-rgb":           $fg-hover-rgb,
    "fg-press-rgb":           $fg-press-rgb,
    "fg-disabled-rgb":        $fg-disabled-rgb,
    "bg-idle-rgb":          $bg-idle-rgb,
    "bg-hover-rgb":           $bg-hover-rgb,
    "bg-press-rgb":           $bg-press-rgb,
    "bg-disabled-rgb":        $bg-disabled-rgb,
  )
) !default;
// scss-docs-end body-colors-map

// scss-docs-start context-palette-map
$context-palette: map-merge-multiple(
  $context-base-colors,
  $context-contrast-colors,
  $context-transparent-colors,
  $context-fg-colors,
  $context-bg-colors,
  $context-border-colors,
  $context-icon-colors,
  $context-cue-colors,
  $context-dim-colors,
  $context-link-colors,
  $context-button-colors,
) !default;
// scss-docs-end context-palette-map
