// scss-docs-start context-colors-dark-map
$context-colors-dark: (
  "default":    $default-dark,
  "alternate":  $alternate-dark,
  "primary":    $primary-dark,
  "secondary":  $secondary-dark,
  "neutral":    $neutral-dark,
  "warning":    $warning-dark,
  "success":    $success-dark,
  "danger":     $danger-dark,
  "info":       $info-dark,
  "black":      $black-dark,
  "white":      $white-dark
) !default;
// scss-docs-end context-colors-dark-map

// scss-docs-start contrast-colors-dark-map
$contrast-colors-dark: (
  "default-contrast":    $default-contrast-dark,
  "alternate-contrast":  $alternate-contrast-dark,
  "primary-contrast":    $primary-contrast-dark,
  "secondary-contrast":  $secondary-contrast-dark,
  "neutral-contrast":    $neutral-contrast-dark,
  "warning-contrast":    $warning-contrast-dark,
  "success-contrast":    $success-contrast-dark,
  "danger-contrast":     $danger-contrast-dark,
  "info-contrast":       $info-contrast-dark,
  "black-contrast":      $black-contrast-dark,
  "white-contrast":      $white-contrast-dark
) !default;
// scss-docs-end contrast-colors-dark-map

// Dark mode color maps
// scss-docs-start context-base-colors-dark-map
$context-base-colors-dark: (
  "default-base-color":                $default-base-color-dark,
  "alternate-base-color":              $alternate-base-color-dark,
  "primary-base-color":                $primary-base-color-dark,
  "secondary-base-color":              $secondary-base-color-dark,
  "neutral-base-color":                $neutral-base-color-dark,
  "danger-base-color":                 $danger-base-color-dark,
  "success-base-color":                $success-base-color-dark,
  "warning-base-color":                $warning-base-color-dark,
  "info-base-color":                   $info-base-color-dark,
  "black-base-color":                  $black-base-color-dark,
  "white-base-color":                  $white-base-color-dark,
) !default;
// scss-docs-end context-base-colors-dark-map

// scss-docs-start context-contrast-colors-dark-map
$context-contrast-colors-dark: (
  "default-contrast-color":                $default-contrast-color-dark,
  "alternate-contrast-color":              $alternate-contrast-color-dark,
  "primary-contrast-color":                $primary-contrast-color-dark,
  "secondary-contrast-color":              $secondary-contrast-color-dark,
  "neutral-contrast-color":                $neutral-contrast-color-dark,
  "danger-contrast-color":                 $danger-contrast-color-dark,
  "success-contrast-color":                $success-contrast-color-dark,
  "warning-contrast-color":                $warning-contrast-color-dark,
  "info-contrast-color":                   $info-contrast-color-dark,
  "black-contrast-color":                  $black-contrast-color-dark,
  "white-contrast-color":                  $white-contrast-color-dark,
) !default;
// scss-docs-end context-contrast-colors-dark-map

// scss-docs-start fg-main-colors-dark-map
$fg-main-colors-dark: (
  "default":                $default-fg-main-dark,
  "alternate":              $alternate-fg-main-dark,
  "primary":                $primary-fg-main-dark,
  "secondary":              $secondary-fg-main-dark,
  "neutral":                $neutral-fg-main-dark,
  "danger":                 $danger-fg-main-dark,
  "success":                $success-fg-main-dark,
  "warning":                $warning-fg-main-dark,
  "info":                   $info-fg-main-dark,
  "black":                  $black-fg-main-dark,
  "white":                  $white-fg-main-dark,
) !default;
// scss-docs-end fg-main-colors-dark-map

// scss-docs-start fg-subtle-colors-dark-map
$fg-subtle-colors-dark: (
  "default":                $default-fg-subtle-dark,
  "alternate":              $alternate-fg-subtle-dark,
  "primary":                $primary-fg-subtle-dark,
  "secondary":              $secondary-fg-subtle-dark,
  "neutral":                $neutral-fg-subtle-dark,
  "danger":                 $danger-fg-subtle-dark,
  "success":                $success-fg-subtle-dark,
  "warning":                $warning-fg-subtle-dark,
  "info":                   $info-fg-subtle-dark,
  "black":                  $black-fg-subtle-dark,
  "white":                  $white-fg-subtle-dark,
) !default;
// scss-docs-end fg-subtle-colors--darkmap

// scss-docs-start fg-slight-colors-dark-map
$fg-slight-colors-dark: (
  "default":                $default-fg-slight-dark,
  "alternate":              $alternate-fg-slight-dark,
  "primary":                $primary-fg-slight-dark,
  "secondary":              $secondary-fg-slight-dark,
  "neutral":                $neutral-fg-slight-dark,
  "danger":                 $danger-fg-slight-dark,
  "success":                $success-fg-slight-dark,
  "warning":                $warning-fg-slight-dark,
  "info":                   $info-fg-slight-dark,
  "black":                  $black-fg-slight-dark,
  "white":                  $white-fg-slight-dark,
) !default;
// scss-docs-end fg-slight-colors-dark-map

// scss-docs-start fg-inverse-colors-dark-map
$fg-inverse-colors-dark: (
  "default":                $default-fg-inverse-dark,
  "alternate":              $alternate-fg-inverse-dark,
  "primary":                $primary-fg-inverse-dark,
  "secondary":              $secondary-fg-inverse-dark,
  "neutral":                $neutral-fg-inverse-dark,
  "danger":                 $danger-fg-inverse-dark,
  "success":                $success-fg-inverse-dark,
  "warning":                $warning-fg-inverse-dark,
  "info":                   $info-fg-inverse-dark,
  "black":                  $black-fg-inverse-dark,
  "white":                  $white-fg-inverse-dark,
) !default;
// scss-docs-end fg-inverse-colors-dark-map

// scss-docs-start fg-solid-colors-dark-map
$fg-solid-colors-dark: (
  "default":                $default-fg-solid-dark,
  "alternate":              $alternate-fg-solid-dark,
  "primary":                $primary-fg-solid-dark,
  "secondary":              $secondary-fg-solid-dark,
  "neutral":                $neutral-fg-solid-dark,
  "danger":                 $danger-fg-solid-dark,
  "success":                $success-fg-solid-dark,
  "warning":                $warning-fg-solid-dark,
  "info":                   $info-fg-solid-dark,
  "black":                  $black-fg-solid-dark,
  "white":                  $white-fg-solid-dark,
) !default;
// scss-docs-end fg-solid-colors-dark-map

// scss-docs-start fg-highlight-colors-dark-map
$fg-highlight-colors-dark: (
  "default":                $default-fg-highlight-dark,
  "alternate":              $alternate-fg-highlight-dark,
  "primary":                $primary-fg-highlight-dark,
  "secondary":              $secondary-fg-highlight-dark,
  "neutral":                $neutral-fg-highlight-dark,
  "danger":                 $danger-fg-highlight-dark,
  "success":                $success-fg-highlight-dark,
  "warning":                $warning-fg-highlight-dark,
  "info":                   $info-fg-highlight-dark,
  "black":                  $black-fg-highlight-dark,
  "white":                  $white-fg-highlight-dark,
) !default;
// scss-docs-end fg-highlight-colors-dark-map


// scss-docs-start bg-main-colors-dark-map
$bg-main-colors-dark: (
  "default":                $default-bg-main-dark,
  "alternate":              $alternate-bg-main-dark,
  "primary":                $primary-bg-main-dark,
  "secondary":              $secondary-bg-main-dark,
  "neutral":                $neutral-bg-main-dark,
  "danger":                 $danger-bg-main-dark,
  "success":                $success-bg-main-dark,
  "warning":                $warning-bg-main-dark,
  "info":                   $info-bg-main-dark,
  "black":                  $black-bg-main-dark,
  "white":                  $white-bg-main-dark,
) !default;
// scss-docs-end bg-main-colors-dark-map

// scss-docs-start bg-even-colors-dark-map
$bg-even-colors-dark: (
  "default":                $default-bg-even-dark,
  "alternate":              $alternate-bg-even-dark,
  "primary":                $primary-bg-even-dark,
  "secondary":              $secondary-bg-even-dark,
  "neutral":                $neutral-bg-even-dark,
  "danger":                 $danger-bg-even-dark,
  "success":                $success-bg-even-dark,
  "warning":                $warning-bg-even-dark,
  "info":                   $info-bg-even-dark,
  "black":                  $black-bg-even-dark,
  "white":                  $white-bg-even-dark,
) !default;
// scss-docs-end bg-even-colors-dark-map

// scss-docs-start bg-evident-colors-dark-map
$bg-evident-colors-dark: (
  "default":                $default-bg-evident-dark,
  "alternate":              $alternate-bg-evident-dark,
  "primary":                $primary-bg-evident-dark,
  "secondary":              $secondary-bg-evident-dark,
  "neutral":                $neutral-bg-evident-dark,
  "danger":                 $danger-bg-evident-dark,
  "success":                $success-bg-evident-dark,
  "warning":                $warning-bg-evident-dark,
  "info":                   $info-bg-evident-dark,
  "black":                  $black-bg-evident-dark,
  "white":                  $white-bg-evident-dark,
) !default;
// scss-docs-end bg-evident-colors-dark-map

// scss-docs-start bg-inverse-colors-dark-map
$bg-inverse-colors-dark: (
  "default":                $default-bg-inverse-dark,
  "alternate":              $alternate-bg-inverse-dark,
  "primary":                $primary-bg-inverse-dark,
  "secondary":              $secondary-bg-inverse-dark,
  "neutral":                $neutral-bg-inverse-dark,
  "danger":                 $danger-bg-inverse-dark,
  "success":                $success-bg-inverse-dark,
  "warning":                $warning-bg-inverse-dark,
  "info":                   $info-bg-inverse-dark,
  "black":                  $black-bg-inverse-dark,
  "white":                  $white-bg-inverse-dark,
) !default;
// scss-docs-end bg-inverse-colors-dark-map

// scss-docs-start bg-solid-colors-dark-map
$bg-solid-colors-dark: (
  "default":                $default-bg-solid-dark,
  "alternate":              $alternate-bg-solid-dark,
  "primary":                $primary-bg-solid-dark,
  "secondary":              $secondary-bg-solid-dark,
  "neutral":                $neutral-bg-solid-dark,
  "danger":                 $danger-bg-solid-dark,
  "success":                $success-bg-solid-dark,
  "warning":                $warning-bg-solid-dark,
  "info":                   $info-bg-solid-dark,
  "black":                  $black-bg-solid-dark,
  "white":                  $white-bg-solid-dark,
) !default;
// scss-docs-end bg-solid-colors-dark-map

// scss-docs-start bg-highlight-colors-dark-map
$bg-highlight-colors-dark: (
  "default":                $default-bg-highlight-dark,
  "alternate":              $alternate-bg-highlight-dark,
  "primary":                $primary-bg-highlight-dark,
  "secondary":              $secondary-bg-highlight-dark,
  "neutral":                $neutral-bg-highlight-dark,
  "danger":                 $danger-bg-highlight-dark,
  "success":                $success-bg-highlight-dark,
  "warning":                $warning-bg-highlight-dark,
  "info":                   $info-bg-highlight-dark,
  "black":                  $black-bg-highlight-dark,
  "white":                  $white-bg-highlight-dark,
) !default;
// scss-docs-end bg-highlight-colors-dark-map

// scss-docs-start border-main-colors-dark-map
$border-main-colors-dark: (
  "default":                $default-border-main-dark,
  "alternate":              $alternate-border-main-dark,
  "primary":                $primary-border-main-dark,
  "secondary":              $secondary-border-main-dark,
  "neutral":                $neutral-border-main-dark,
  "danger":                 $danger-border-main-dark,
  "success":                $success-border-main-dark,
  "warning":                $warning-border-main-dark,
  "info":                   $info-border-main-dark,
  "black":                  $black-border-main-dark,
  "white":                  $white-border-main-dark,
) !default;
// scss-docs-end border-main-colors-dark-map

// scss-docs-start border-subtle-colors-dark-map
$border-subtle-colors-dark: (
  "default":             $default-border-subtle-dark,
  "alternate":           $alternate-border-subtle-dark,
  "primary":             $primary-border-subtle-dark,
  "secondary":           $secondary-border-subtle-dark,
  "neutral":             $neutral-border-subtle-dark,
  "danger":              $danger-border-subtle-dark,
  "success":             $success-border-subtle-dark,
  "warning":             $warning-border-subtle-dark,
  "info":                $info-border-subtle-dark,
  "black":               $black-border-subtle-dark,
  "white":               $white-border-subtle-dark,
) !default;
// scss-docs-end border-subtle-colors-dark-map

// scss-docs-start icon-main-colors-dark-map
$icon-main-colors-dark: (
  "default":                $default-icon-main-dark,
  "alternate":              $alternate-icon-main-dark,
  "primary":                $primary-icon-main-dark,
  "secondary":              $secondary-icon-main-dark,
  "neutral":                $neutral-icon-main-dark,
  "danger":                 $danger-icon-main-dark,
  "success":                $success-icon-main-dark,
  "warning":                $warning-icon-main-dark,
  "info":                   $info-icon-main-dark,
  "black":                  $black-icon-main-dark,
  "white":                  $white-icon-main-dark,
) !default;
// scss-docs-end icon-main-colors-dark-map

// scss-docs-start icon-subtle-colors-dark-map
$icon-subtle-colors-dark: (
  "default":             $default-icon-subtle-dark,
  "alternate":           $alternate-icon-subtle-dark,
  "primary":             $primary-icon-subtle-dark,
  "secondary":           $secondary-icon-subtle-dark,
  "neutral":             $neutral-icon-subtle-dark,
  "danger":              $danger-icon-subtle-dark,
  "success":             $success-icon-subtle-dark,
  "warning":             $warning-icon-subtle-dark,
  "info":                $info-icon-subtle-dark,
  "black":               $black-icon-subtle-dark,
  "white":               $white-icon-subtle-dark,
) !default;
// scss-docs-end icon-subtle-colors-dark-map

// scss-docs-start icon-slight-colors-dark-map
$icon-slight-colors-dark: (
  "default":             $default-icon-slight-dark,
  "alternate":           $alternate-icon-slight-dark,
  "primary":             $primary-icon-slight-dark,
  "secondary":           $secondary-icon-slight-dark,
  "neutral":             $neutral-icon-slight-dark,
  "danger":              $danger-icon-slight-dark,
  "success":             $success-icon-slight-dark,
  "warning":             $warning-icon-slight-dark,
  "info":                $info-icon-slight-dark,
  "black":               $black-icon-slight-dark,
  "white":               $white-icon-slight-dark,
) !default;
// scss-docs-end icon-slight-colors-dark-map

// scss-docs-start cue-main-colors-dark-map
$cue-main-colors-dark: (
  "default":             $default-cue-main-dark,
  "alternate":           $alternate-cue-main-dark,
  "primary":             $primary-cue-main-dark,
  "secondary":           $secondary-cue-main-dark,
  "neutral":             $neutral-cue-main-dark,
  "danger":              $danger-cue-main-dark,
  "success":             $success-cue-main-dark,
  "warning":             $warning-cue-main-dark,
  "info":                $info-cue-main-dark,
  "black":               $black-cue-main-dark,
  "white":               $white-cue-main-dark,
) !default;
// scss-docs-end cue-main-colors-dark-map

// scss-docs-start cue-main-colors-dark-map
$cue-slight-colors-dark: (
  "default":             $default-cue-slight-dark,
  "alternate":           $alternate-cue-slight-dark,
  "primary":             $primary-cue-slight-dark,
  "secondary":           $secondary-cue-slight-dark,
  "neutral":             $neutral-cue-slight-dark,
  "danger":              $danger-cue-slight-dark,
  "success":             $success-cue-slight-dark,
  "warning":             $warning-cue-slight-dark,
  "info":                $info-cue-slight-dark,
  "black":               $black-cue-slight-dark,
  "white":               $white-cue-slight-dark,
) !default;
// scss-docs-end cue-main-colors-dark-map

// scss-docs-start link-main-colors-dark-map
$link-main-colors-dark: (
  "default":                $default-link-main-dark,
  "alternate":              $alternate-link-main-dark,
  "primary":                $primary-link-main-dark,
  "secondary":              $secondary-link-main-dark,
  "neutral":                $neutral-link-main-dark,
  "danger":                 $danger-link-main-dark,
  "success":                $success-link-main-dark,
  "warning":                $warning-link-main-dark,
  "info":                   $info-link-main-dark,
  "black":                  $black-link-main-dark,
  "white":                  $white-link-main-dark,
) !default;
// scss-docs-end link-main-colors-dark-dark-map

// scss-docs-start hover-colors-dark-map
$hover-colors-dark: (
  "default":             $default-link-hover-dark,
  "alternate":           $alternate-link-hover-dark,
  "primary":             $primary-link-hover-dark,
  "secondary":           $secondary-link-hover-dark,
  "neutral":             $neutral-link-hover-dark,
  "danger":              $danger-link-hover-dark,
  "success":             $success-link-hover-dark,
  "warning":             $warning-link-hover-dark,
  "info":                $info-link-hover-dark,
  "black":               $black-link-hover-dark,
  "white":               $white-link-hover-dark,
) !default;
// scss-docs-end hover-colors-dark-map

// scss-docs-start visited-colors-dark-map
$visited-colors-dark: (
  "default":                $default-link-visited-dark,
  "alternate":              $alternate-link-visited-dark,
  "primary":                $primary-link-visited-dark,
  "secondary":              $secondary-link-visited-dark,
  "neutral":                $neutral-link-visited-dark,
  "danger":                 $danger-link-visited-dark,
  "success":                $success-link-visited-dark,
  "warning":                $warning-link-visited-dark,
  "info":                   $info-link-visited-dark,
  "black":                  $black-link-visited-dark,
  "white":                  $white-link-visited-dark,
) !default;
// scss-docs-end visited-colors-dark-map

// scss-docs-start active-colors-map
$active-colors-dark: (
  "default":             $default-link-active-dark,
  "alternate":           $alternate-link-active-dark,
  "primary":             $primary-link-active-dark,
  "secondary":           $secondary-link-active-dark,
  "neutral":             $neutral-link-active-dark,
  "danger":              $danger-link-active-dark,
  "success":             $success-link-active-dark,
  "warning":             $warning-link-active-dark,
  "info":                $info-link-active-dark,
  "black":               $black-link-active-dark,
  "white":               $white-link-active-dark,
) !default;
// scss-docs-end active-colors-dark-map

// scss-docs-start transparent-color-colors-dark-map
$transparent-color-colors-dark: (
  "default":                $default-transparent-color-dark,
  "alternate":              $alternate-transparent-color-dark,
  "primary":                $primary-transparent-color-dark,
  "secondary":              $secondary-transparent-color-dark,
  "neutral":                $neutral-transparent-color-dark,
  "danger":                 $danger-transparent-color-dark,
  "success":                $success-transparent-color-dark,
  "warning":                $warning-transparent-color-dark,
  "info":                   $info-transparent-color-dark,
  "black":                  $black-transparent-color-dark,
  "white":                  $white-transparent-color-dark,
) !default;
// scss-docs-end transparent-color-colors-dark-map

// scss-docs-start dim-slight-colors-dark-map
$dim-slight-colors-dark: (
  "default":                $default-dim-slight-dark,
  "alternate":              $alternate-dim-slight-dark,
  "primary":                $primary-dim-slight-dark,
  "secondary":              $secondary-dim-slight-dark,
  "neutral":                $neutral-dim-slight-dark,
  "danger":                 $danger-dim-slight-dark,
  "success":                $success-dim-slight-dark,
  "warning":                $warning-dim-slight-dark,
  "info":                   $info-dim-slight-dark,
  "black":                  $black-dim-slight-dark,
  "white":                  $white-dim-slight-dark,
) !default;
// scss-docs-end dim-slight-colors-dark-map

// scss-docs-start dim-main-colors--darkmap
$dim-main-colors-dark: (
  "default":             $default-dim-main-dark,
  "alternate":           $alternate-dim-main-dark,
  "primary":             $primary-dim-main-dark,
  "secondary":           $secondary-dim-main-dark,
  "neutral":             $neutral-dim-main-dark,
  "danger":              $danger-dim-main-dark,
  "success":             $success-dim-main-dark,
  "warning":             $warning-dim-main-dark,
  "info":                $info-dim-main-dark,
  "black":               $black-dim-main-dark,
  "white":               $white-dim-main-dark,
) !default;
// scss-docs-end dim-main-colors-dark-map

// scss-docs-start dim-subtle-colors-dark-map
$dim-subtle-colors-dark: (
  "default":                $default-dim-subtle-dark,
  "alternate":              $alternate-dim-subtle-dark,
  "primary":                $primary-dim-subtle-dark,
  "secondary":              $secondary-dim-subtle-dark,
  "neutral":                $neutral-dim-subtle-dark,
  "danger":                 $danger-dim-subtle-dark,
  "success":                $success-dim-subtle-dark,
  "warning":                $warning-dim-subtle-dark,
  "info":                   $info-dim-subtle-dark,
  "black":                  $black-dim-subtle-dark,
  "white":                  $white-dim-subtle-dark,
) !default;
// scss-docs-end dim-subtle-colors-dark-map

// scss-docs-start fg-button-colors-dark-map
$fg-button-colors-dark: (
  "default":                $default-fg-button-dark,
  "alternate":              $alternate-fg-button-dark,
  "primary":                $primary-fg-button-dark,
  "secondary":              $secondary-fg-button-dark,
  "neutral":                $neutral-fg-button-dark,
  "danger":                 $danger-fg-button-dark,
  "success":                $success-fg-button-dark,
  "warning":                $warning-fg-button-dark,
  "info":                   $info-fg-button-dark,
  "black":                  $black-fg-button-dark,
  "white":                  $white-fg-button-dark,
) !default;
// scss-docs-end fg-button-colors-dark-map

// scss-docs-start fg-hover-colors-dark-map
$fg-hover-colors-dark: (
  "default":                $default-fg-hover-dark,
  "alternate":              $alternate-fg-hover-dark,
  "primary":                $primary-fg-hover-dark,
  "secondary":              $secondary-fg-hover-dark,
  "neutral":                $neutral-fg-hover-dark,
  "danger":                 $danger-fg-hover-dark,
  "success":                $success-fg-hover-dark,
  "warning":                $warning-fg-hover-dark,
  "info":                   $info-fg-hover-dark,
  "black":                  $black-fg-hover-dark,
  "white":                  $white-fg-hover-dark,
) !default;
// scss-docs-end fg-hover-colors-dark-map

// scss-docs-start fg-disabled-colors-dark-map
$fg-disabled-colors-dark: (
  "default":                $default-fg-disabled-dark,
  "alternate":              $alternate-fg-disabled-dark,
  "primary":                $primary-fg-disabled-dark,
  "secondary":              $secondary-fg-disabled-dark,
  "neutral":                $neutral-fg-disabled-dark,
  "danger":                 $danger-fg-disabled-dark,
  "success":                $success-fg-disabled-dark,
  "warning":                $warning-fg-disabled-dark,
  "info":                   $info-fg-disabled-dark,
  "black":                  $black-fg-disabled-dark,
  "white":                  $white-fg-disabled-dark,
) !default;
// scss-docs-end fg-disabled-colors-dark-map

// scss-docs-start fg-press-colors-dark-map
$fg-press-colors-dark: (
  "default":                $default-fg-press-dark,
  "alternate":              $alternate-fg-press-dark,
  "primary":                $primary-fg-press-dark,
  "secondary":              $secondary-fg-press-dark,
  "neutral":                $neutral-fg-press-dark,
  "danger":                 $danger-fg-press-dark,
  "success":                $success-fg-press-dark,
  "warning":                $warning-fg-press-dark,
  "info":                   $info-fg-press-dark,
  "black":                  $black-fg-press-dark,
  "white":                  $white-fg-press-dark,
) !default;
// scss-docs-end fg-press-colors-dark-map

// scss-docs-start bg-button-colors-dark-map
$bg-button-colors-dark: (
  "default":                $default-bg-button-dark,
  "alternate":              $alternate-bg-button-dark,
  "primary":                $primary-bg-button-dark,
  "secondary":              $secondary-bg-button-dark,
  "neutral":                $neutral-bg-button-dark,
  "danger":                 $danger-bg-button-dark,
  "success":                $success-bg-button-dark,
  "warning":                $warning-bg-button-dark,
  "info":                   $info-bg-button-dark,
  "black":                  $black-bg-button-dark,
  "white":                  $white-bg-button-dark,
) !default;
// scss-docs-end bg-button-colors-dark-map

// scss-docs-start bg-hover-colors-dark-map
$bg-hover-colors-dark: (
  "default":                $default-bg-hover-dark,
  "alternate":              $alternate-bg-hover-dark,
  "primary":                $primary-bg-hover-dark,
  "secondary":              $secondary-bg-hover-dark,
  "neutral":                $neutral-bg-hover-dark,
  "danger":                 $danger-bg-hover-dark,
  "success":                $success-bg-hover-dark,
  "warning":                $warning-bg-hover-dark,
  "info":                   $info-bg-hover-dark,
  "black":                  $black-bg-hover-dark,
  "white":                  $white-bg-hover-dark,
) !default;
// scss-docs-end bg-hover-colors-dark-map

// scss-docs-start bg-disabled-colors-dark-map
$bg-disabled-colors-dark: (
  "default":                $default-bg-disabled-dark,
  "alternate":              $alternate-bg-disabled-dark,
  "primary":                $primary-bg-disabled-dark,
  "secondary":              $secondary-bg-disabled-dark,
  "neutral":                $neutral-bg-disabled-dark,
  "danger":                 $danger-bg-disabled-dark,
  "success":                $success-bg-disabled-dark,
  "warning":                $warning-bg-disabled-dark,
  "info":                   $info-bg-disabled-dark,
  "black":                  $black-bg-disabled-dark,
  "white":                  $white-bg-disabled-dark,
) !default;
// scss-docs-end bg-disabled-colors-dark-map

// scss-docs-start bg-press-colors-dark-map
$bg-press-colors-dark: (
  "default":                $default-bg-press-dark,
  "alternate":              $alternate-bg-press-dark,
  "primary":                $primary-bg-press-dark,
  "secondary":              $secondary-bg-press-dark,
  "neutral":                $neutral-bg-press-dark,
  "danger":                 $danger-bg-press-dark,
  "success":                $success-bg-press-dark,
  "warning":                $warning-bg-press-dark,
  "info":                   $info-bg-press-dark,
  "black":                  $black-bg-press-dark,
  "white":                  $white-bg-press-dark,
) !default;
// scss-docs-end bg-press-colors-dark-map

// scss-docs-start theme-border-subtle-dark-map
// $context-colors-border-subtle-dark: $border-subtle-colors-dark !default;
// scss-docs-end theme-border-subtle-dark-map

$context-palette-dark: map-merge-multiple(
  $context-base-colors-dark,
  $context-contrast-colors-dark,
  rename-keys($fg-main-colors-dark, "-fg-main", "end"),
  rename-keys($fg-subtle-colors-dark, "-fg-subtle", "end"),
  rename-keys($fg-slight-colors-dark, "-fg-slight", "end"),
  rename-keys($fg-inverse-colors-dark, "-fg-inverse", "end"),
  rename-keys($fg-solid-colors-dark, "-fg-solid", "end"),
  rename-keys($fg-highlight-colors-dark, "-fg-highlight", "end"),
  rename-keys($bg-main-colors-dark, "-bg-main", "end"),
  rename-keys($bg-even-colors-dark, "-bg-even", "end"),
  rename-keys($bg-evident-colors-dark, "-bg-evident", "end"),
  rename-keys($bg-inverse-colors-dark, "-bg-inverse", "end"),
  rename-keys($bg-solid-colors-dark, "-bg-solid", "end"),
  rename-keys($bg-highlight-colors-dark, "-bg-highlight", "end"),
  rename-keys($border-main-colors-dark, "-border-main", "end"),
  rename-keys($border-subtle-colors-dark, "-border-subtle", "end"),
  rename-keys($icon-main-colors-dark, "-icon-main", "end"),
  rename-keys($icon-subtle-colors-dark, "-icon-subtle", "end"),
  rename-keys($icon-slight-colors-dark, "-icon-slight", "end"),
  rename-keys($cue-main-colors-dark, "-cue-main", "end"),
  rename-keys($cue-slight-colors-dark, "-cue-slight", "end"),
  rename-keys($link-main-colors-dark, "-link-main", "end"),
  rename-keys($visited-colors-dark, "-link-visited", "end"),
  rename-keys($hover-colors-dark, "-link-hover", "end"),
  rename-keys($active-colors-dark, "-link-active", "end"),
  rename-keys($dim-slight-colors-dark, "-dim-slight", "end"),
  rename-keys($dim-main-colors-dark, "-dim-main", "end"),
  rename-keys($dim-subtle-colors-dark, "-dim-subtle", "end"),
  rename-keys($transparent-color-colors-dark, "-transparent-color", "end"),
  rename-keys($fg-button-colors-dark, "-fg-button", "end"),
  rename-keys($fg-disabled-colors-dark, "-fg-disabled", "end"),
  rename-keys($fg-hover-colors-dark, "-fg-hover", "end"),
  rename-keys($fg-press-colors-dark, "-fg-press", "end"),
  rename-keys($bg-button-colors-dark, "-bg-button", "end"),
  rename-keys($bg-disabled-colors-dark, "-bg-disabled", "end"),
  rename-keys($bg-hover-colors-dark, "-bg-hover", "end"),
  rename-keys($bg-press-colors-dark, "-bg-press", "end"),
) !default;

// scss-docs-start body-colors-dark-map
$body-colors-dark: (
  "base-color":             $base-color-dark,
  "contrast-color":         $contrast-color-dark,
  "fg-main":                $fg-main-dark,
  "fg-subtle":              $fg-subtle-dark,
  "fg-slight":              $fg-slight-dark,
  "fg-inverse":             $fg-inverse-dark,
  "fg-solid":               $fg-solid-dark,
  "fg-highlight":           $fg-highlight-dark,
  "bg-main":                $bg-main-dark,
  "bg-even":                $bg-even-dark,
  "bg-evident":             $bg-evident-dark,
  "bg-inverse":             $bg-inverse-dark,
  "bg-solid":               $bg-solid-dark,
  "bg-highlight":           $bg-highlight-dark,
  "border-main":            $border-main-dark,
  "border-subtle":          $border-subtle-dark,
  "icon-main":              $icon-main-dark,
  "icon-subtle":            $icon-subtle-dark,
  "icon-slight":            $icon-slight-dark,
  "cue-main":         $cue-main-dark,
  "cue-slight":       $cue-slight-dark,
  "link-main":              $link-main-dark,
  "link-hover":             $link-hover-dark,
  "link-active":            $link-active-dark,
  "link-visited":           $link-visited-dark,
  "dim-slight":            $dim-slight-dark,
  "dim-main":              $dim-main-dark,
  "dim-subtle":             $dim-subtle-dark,
  "transparent-color":            $transparent-color-dark,
  "fg-button":              $fg-button-dark,
  "fg-disabled":            $fg-disabled-dark,
  "fg-hover":               $fg-hover-dark,
  "fg-press":               $fg-press-dark,
  "bg-button":              $bg-button-dark,
  "bg-disabled":            $bg-disabled-dark,
  "bg-hover":               $bg-hover-dark,
  "bg-press":               $bg-press-dark,
) !default;
// scss-docs-end body-colors-dark-map
