// Typography maps
// scss-docs-start typography-maps
// scss-docs-start font-families-map
$font-families: (
  "text":           $font-family-text,
  "display":        $font-family-display,
  "code":           $font-family-code,
  "html":           $font-family-html,
  "icon":           $font-family-icon,
) !default;
// scss-docs-end font-families-map
// scss-docs-start font-sizes-map
$font-sizes: (
  "5xlarge":        $font-size-5xlarge,
  "4xlarge":        $font-size-4xlarge,
  "3xlarge":        $font-size-3xlarge,
  "2xlarge":        $font-size-2xlarge,
  "xlarge":         $font-size-xlarge,
  "large":          $font-size-large,
  "medium":         $font-size-medium,
  "small":          $font-size-small,
  "xsmall":         $font-size-xsmall,
  "2xsmall":        $font-size-2xsmall,
  "h1":             $h1-font-size,
  "h2":             $h2-font-size,
  "h3":             $h3-font-size,
  "h4":             $h4-font-size,
  "h5":             $h5-font-size,
  "h6":             $h6-font-size,
) !default;
// scss-docs-end font-sizes-map
// scss-docs-start font-weights-map
$font-weights: (
  "normal":         $font-weight-normal,
  "strong":         $font-weight-strong,
  "mass":           $font-weight-mass,
  "elegant":        $font-weight-elegant,
) !default;
// scss-docs-end font-weights-map
// scss-docs-start line-heights-map
$line-heights: (
  "5xlarge":        $line-height-5xlarge,
  "4xlarge":        $line-height-4xlarge,
  "3xlarge":        $line-height-3xlarge,
  "2xlarge":        $line-height-2xlarge,
  "xlarge":         $line-height-xlarge,
  "large":          $line-height-large,
  "medium":         $line-height-medium,
  "small":          $line-height-small,
  "xsmall":         $line-height-xsmall,
  "2xsmall":        $line-height-2xsmall,
  "h1":             $h1-line-height,
  "h2":             $h2-line-height,
  "h3":             $h3-line-height,
  "h4":             $h4-line-height,
  "h5":             $h5-line-height,
  "h6":             $h6-line-height,
) !default;
// scss-docs-end line-heights-map
// scss-docs-start text-font-sizes-map
$text-font-sizes: (
  "5xlarge":        $font-size-text-5xlarge,
  "4xlarge":        $font-size-text-4xlarge,
  "3xlarge":        $font-size-text-3xlarge,
  "2xlarge":        $font-size-text-2xlarge,
  "xlarge":         $font-size-text-xlarge,
  "large":          $font-size-text-large,
  "medium":         $font-size-text-medium,
  "small":          $font-size-text-small,
  "xsmall":         $font-size-text-xsmall,
  "2xsmall":        $font-size-text-2xsmall,
) !default;
// scss-docs-end text-font-sizes-map
// scss-docs-start text-font-weights-map
$text-font-weights: (
  "normal":         $font-weight-text-normal,
  "strong":         $font-weight-text-strong,
  "mass":           $font-weight-text-mass,
  "elegant":        $font-weight-text-elegant,
) !default;
// scss-docs-end text-font-weights-map
// scss-docs-start text-line-heights-map
$text-line-heights: (
  "5xlarge":        $line-height-text-5xlarge,
  "4xlarge":        $line-height-text-4xlarge,
  "3xlarge":        $line-height-text-3xlarge,
  "2xlarge":        $line-height-text-2xlarge,
  "xlarge":         $line-height-text-xlarge,
  "large":          $line-height-text-large,
  "medium":         $line-height-text-medium,
  "small":          $line-height-text-small,
  "xsmall":         $line-height-text-xsmall,
  "2xsmall":        $line-height-text-2xsmall,
) !default;
// scss-docs-end text-line-heights-map

// scss-docs-start display-font-sizes-map
$display-font-sizes: (
  "5xlarge":        $font-size-display-5xlarge,
  "4xlarge":        $font-size-display-4xlarge,
  "3xlarge":        $font-size-display-3xlarge,
  "2xlarge":        $font-size-display-2xlarge,
  "xlarge":         $font-size-display-xlarge,
  "large":          $font-size-display-large,
  "medium":         $font-size-display-medium,
  "small":          $font-size-display-small,
  "xsmall":         $font-size-display-xsmall,
  "2xsmall":        $font-size-display-2xsmall,
) !default;
// scss-docs-end display-font-sizes-map

// scss-docs-start display-font-weights-map
$display-font-weights: (
  "normal":         $font-weight-display-normal,
  "strong":         $font-weight-display-strong,
  "mass":           $font-weight-display-mass,
  "elegant":        $font-weight-display-elegant,
) !default;
// scss-docs-end display-font-weights-map

// scss-docs-start display-line-heights-map
$display-line-heights: (
  "5xlarge":        $line-height-display-5xlarge,
  "4xlarge":        $line-height-display-4xlarge,
  "3xlarge":        $line-height-display-3xlarge,
  "2xlarge":        $line-height-display-2xlarge,
  "xlarge":         $line-height-display-xlarge,
  "large":          $line-height-display-large,
  "medium":         $line-height-display-medium,
  "small":          $line-height-display-small,
  "xsmall":         $line-height-display-xsmall,
  "2xsmall":        $line-height-display-2xsmall,
) !default;
// scss-docs-end display-line-heights-map

// scss-docs-start html-font-sizes-map
$html-font-sizes: (
  "body":           $font-size-html-body,
  "h1":             $font-size-html-h1,
  "h2":             $font-size-html-h2,
  "h3":             $font-size-html-h3,
  "h4":             $font-size-html-h4,
  "h5":             $font-size-html-h5,
  "h6":             $font-size-html-h6,
  "paragraph":      $font-size-html-paragraph,
  "blockquote":     $font-size-html-blockquote,
  "cite":           $font-size-html-cite,
  "code":           $font-size-html-code,
  "list":           $font-size-html-list,
) !default;
// scss-docs-end html-font-sizes-map

// scss-docs-start html-font-weights-map
$html-font-weights: (
  "body":           $font-weight-html-paragraph,
  "heading":        $font-weight-html-heading,
  "paragraph":      $font-weight-html-paragraph,
  "blockquote":     $font-weight-html-blockquote,
  "cite":           $font-weight-html-cite,
  "list":           $font-weight-html-list,
  "code":           $font-weight-html-code,
) !default;
// scss-docs-end html-font-weights-map

// scss-docs-start html-line-heights-map
$html-line-heights: (
  "body":           $line-height-html-body,
  "h1":             $line-height-html-h1,
  "h2":             $line-height-html-h2,
  "h3":             $line-height-html-h3,
  "h4":             $line-height-html-h4,
  "h5":             $line-height-html-h5,
  "h6":             $line-height-html-h6,
  "paragraph":      $line-height-html-paragraph,
  "blockquote":     $line-height-html-blockquote,
  "cite":           $line-height-html-cite,
  "list":           $line-height-html-list,
  "code":           $line-height-html-code,
) !default;
// scss-docs-end html-line-heights-map

// scss-docs-start code-font-sizes-map
$code-font-sizes: (
  "large":          $font-size-code-large,
  "medium":         $font-size-code-medium,
  "small":          $font-size-code-small,
) !default;
// scss-docs-end code-font-sizes-map

// scss-docs-start code-font-weights-map
$code-font-weights: (
  "normal":         $font-weight-code-normal,
  "strong":         $font-weight-code-strong,
) !default;
// scss-docs-end code-font-weights-map

// scss-docs-start code-line-heights-map
$code-line-heights: (
  "large":          $line-height-code-large,
  "medium":         $line-height-code-medium,
  "small":          $line-height-code-small,
) !default;
// scss-docs-end code-line-heights-map

// scss-docs-start context-font-families-map
$context-font-families: (
  "jumbo":          $font-family-jumbo,
  "hero":           $font-family-hero,
  "heading":        $font-family-heading,
  "body":           $font-family-body,
  "lead":           $font-family-lead,
  "title":          $font-family-title,
) !default;
// scss-docs-end context-font-families-map
// scss-docs-start context-fonts-map
$context-fonts: (
  "jumbo":               $font-context-jumbo,
  "hero":                $font-context-hero,
  "heading":             $font-context-heading,
  "lead":                $font-context-lead,
  "title.large":         $font-context-title-large,
  "title":        $font-context-title-medium,
  "title.small":         $font-context-title-small,
  "body.large":          $font-context-body-large,
  "body":         $font-context-body-medium,
  "body.small":          $font-context-body-small,
) !default;
// scss-docs-end context-fonts-map
// scss-docs-end typography-maps

$typography: map-merge-multiple(
  rename-keys($text-font-sizes, "font-size-text-", "start"),
  rename-keys($text-font-weights, "font-weight-text-", "start"),
  rename-keys($text-line-heights, "line-height-text-", "start"),
  rename-keys($display-font-sizes, "font-size-display-", "start"),
  rename-keys($display-font-weights, "font-weight-display-", "start"),
  rename-keys($display-line-heights, "line-height-display-", "start"),
  rename-keys($html-font-sizes, "font-size-html-", "start"),
  rename-keys($html-font-weights, "font-weight-html-", "start"),
  rename-keys($html-line-heights, "line-height-html-", "start"),
  rename-keys($code-font-sizes, "font-size-code-", "start"),
  rename-keys($code-font-weights, "font-weight-code-", "start"),
  rename-keys($code-line-heights, "line-height-code-", "start"),
) !default;

