{{ define "main" }}
  <main>
    {{ partial "home/masthead" . }}
    <div class="container-2xlarge cxd-gutter masthead-followup">
      {{ partial "home/playground" . }}
      {{ partial "home/get-started" . }}
<!--
      {{ partial "home/customize" . }}
      {{ partial "home/css-variables" . }}
      {{ partial "home/components-utilities" . }}
      {{ partial "home/plugins" . }}
      {{ partial "home/icons" . }}
      {{ partial "home/themes" . }}
-->
    </div>
  </main>

  {{ .Content }}
{{ end }}
