    {{ define "main" }}
    {{- $localSvgPath := printf "/%s.svg" .File.TranslationBaseName -}}
    {{- $svgPath := path.Join "chassis-tokens/dist/icons/svgs" $localSvgPath -}}
    {{- $svgHtml := readFile $svgPath | chomp | safeHTML -}}

    {{ $iconBase := printf `<svg class="icon"><use xlink:href="#%s"/></svg>` .File.TranslationBaseName | safeHTML -}}
    {{ $iconAdapt := printf `<svg class="icon icon-adaptive"><use xlink:href="#%s"/></svg>` .File.TranslationBaseName | safeHTML -}}

    <div class="container-2xlarge px-medium px-medium-4xlarge cxd-gutter icon-docs icon-reset pt-medium-large pb-medium-large">
      <div class="row align-items-md-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-page"><a href="/icons">Icons</a></li>
            <li class="breadcrumb-page active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
        <h1>{{ .Title }}</h1>
        {{ if or .Params.tags .Params.categories -}}
        <ul class="list-unstyled mb-medium mb-md-0">
          {{ with .Params.tags }}<li><strong>Tags:</strong> {{ delimit . ", " }}</li>{{ end }}
          {{ with .Params.categories }}<li><strong>Category:</strong> {{ delimit . ", " }}</li>{{ end }}
        </ul>
        {{- end }}
      </div>
      <hr class="mb-xlarge">
      <div class="row">
        <main class="col-medium-8 col-large-7" id="content">

        <div class="row gx-lg-5">
          <div class="col-lg-8 mb-large">
            <div class="icon-demo border rounded d-flex align-items-center justify-content-center" style="font-size: 10rem;" role="img" aria-label="{{ .Title }} - large preview">
              {{ $iconAdapt }}
            </div>

            <h2 class="font-strong">Examples</h2>
            <div class="p-medium p-md-large border rounded icon-demo-examples">
              <div class="h1 align-items-center">
                {{ $iconAdapt }}
                Heading
              </div>
              <div class="h3">
                {{ $iconAdapt }}
                Smaller heading
              </div>
              <p>
                Inline text {{ $iconAdapt }}
              </p>
              <p>
                <a href="#" class="text-decoration-none">
                  Example link text
                  {{ $iconAdapt }}
                </a>
              </p>
              <div class="d-flex gap-small mb-medium">
                <button type="button" class="button default">
                  {{ $iconBase }}
                  Button
                </button>
                <button type="button" class="button primary">
                  {{ $iconBase }}
                  Button
                </button>
                <button type="button" class="button primary outline">
                  {{ $iconBase }}
                  Button
                </button>
                <button type="button" class="button primary smooth">
                  {{ $iconBase }}
                  Button
                </button>
              </div>
              <div class="d-flex gap-small mb-medium">
                <button type="button" class="button default">
                  {{ $iconBase }}
                </button>
                <button type="button" class="button secondary">
                  {{ $iconBase }}
                </button>
                <div class="button-group">
                  <button type="button" class="button default">
                    {{ $iconBase }}
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button type="button" class="button default">
                    {{ $iconBase }}
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button type="button" class="button default">
                    {{ $iconBase }}
                    <span class="visually-hidden">Button</span>
                  </button>
                </div>
                <div class="button-group">
                  <button type="button" class="button secondary">
                    {{ $iconBase }}
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button type="button" class="button secondary">
                    {{ $iconBase }}
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button type="button" class="button secondary">
                    {{ $iconBase }}
                    <span class="visually-hidden">Button</span>
                  </button>
                </div>
              </div>
              <div class="mb-medium">
                <div class="input-group">
                  <span class="input-addon" id="basic-addon1">
                    {{ $iconBase }}
                  </span>
                  <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="notification success d-flex align-items-center" role="alert">
                {{ $iconBase }}
                <p>An example notification with an icon!</p>
              </div>
            </div>
          </div>
        </div>
        </main>
        <aside class="col-medium-4 col-large-5">
          <div class="col-lg-4 mb-large">

            <h3 class="fs-3">Download</h3>
            <p>Download the SVG to use or edit.</p>
            <a href="{{ $svgPath }}" class="button large primary" download>Download SVG</a>

            <h3>SVG sprite</h3>
            <p>Use this code for svg icons.</p>
            <div>
              {{ $iconFontSnippet := printf `<svg><use xlink:href="#%s"/></svg>` .File.TranslationBaseName -}}
              {{- highlight $iconBase "html" "" }}
            </div>

            <h3>Icon font</h3>
            <p>Using the web font with a span element.</p>
            <div>
              {{ $iconFontSnippet := printf `<span class="icon icon-%s"></span>` .File.TranslationBaseName -}}
              {{- highlight $iconFontSnippet "html" "" }}
            </div>

            <h3>Embedded</h3>
            <p>Paste the SVG right into your project's code.</p>
            <div id="copy-error-callout" class="alert alert-info d-none" role="alert"></div>
            {{ highlight $svgHtml "html" "" }}

            <h3>Code point</h3>
            <div class="mb-4">
              {{ $codepoints := getJSON "chassis-tokens/dist/icons/chassis-icons.json" -}}
              {{ $hexCodepoint :=  printf "%X" (int (index $codepoints .File.TranslationBaseName)) }}
              <ul class="bulletless">
                <li>
                  Unicode: <code>U+{{- $hexCodepoint}}</code>
                </li>
                <li>
                  CSS: <code>\{{- $hexCodepoint}}</code>
                </li>
                <li>
                  JS: <code>\u{{- $hexCodepoint}}</code>
                </li>
                <li>
                  HTML: <code>&amp;#x{{- $hexCodepoint}};</code>
                </li>
              </ul>
            </div>

          </div>
        </aside>
      </div>
    </div>
{{ end }}
