{{ define "body_override" }}<body id="icons-body">{{ end }}
{{ define "main" }}
  <main class="container-2xlarge cxd-gutter" id="content">
    <section class="row py-medium-4xlarge align-items-center text-center">
      <h1>Integrate Figma with Code Repositories</h1>
      <p class="lead">
        Chassis' fully tokenized Figma component library empowers designers to visualize design decisions across multiple apps and brands directly within Figma using variable modes. Design changes such as colors, spacings, and sizes can be easily implemented without any development effort by pushing tokens directly to code repositories. This seamless integration ensures consistent updates and uniformity.
      </p>
    </section>
    {{ .Content }}
  </main>
{{ end }}
