//stylelint-disable-next-line
$utilities: map-merge(
  $utilities,
  (
    // scss-docs-start utils-borders
    "border": (
      property: border,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-top": (
      property: border-top,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-end": (
      property: border-right,
      class: border-end,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-bottom": (
      property: border-bottom,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-start": (
      property: border-left,
      class: border-start,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-color": (
      property: border-color,
      class: border,
      values: map-loop(map-loop($context-colors, to-rgb, "$value"), rgba-css-var, #{"$key"}, #{"border"})
    ),
    "border-width": (
      property: border-width,
      //css-var: true,
      class: border,
      values: map-loop($border-widths, varify, "$key", "border-width")
    ),
    "border-opacity": (
      css-var: true,
      css-variable-name: border-opacity,
      class: border-opacity,
      values: $border-opacities
    ),
    // scss-docs-end utils-borders
    // scss-docs-start utils-border-radius
    "rounded": (
      property: border-radius,
      class: rounded,
      values: map-merge(
        (
          null: var(--#{$prefix}border-radius)
        ),
        $border-radiuses,
      )
    ),
    "rounded-top": (
      property: border-top-left-radius border-top-right-radius,
      class: rounded-top,
      values: map-merge(
        (
          null: var(--#{$prefix}border-radius)
        ),
        $border-radiuses,
      )
    ),
    "rounded-end": (
      property: border-top-right-radius border-bottom-right-radius,
      class: rounded-end,
      values: map-merge(
        (
          null: var(--#{$prefix}border-radius)
        ),
        $border-radiuses,
      )
    ),
    "rounded-bottom": (
      property: border-bottom-right-radius border-bottom-left-radius,
      class: rounded-bottom,
      values: map-merge(
        (
          null: var(--#{$prefix}border-radius)
        ),
        $border-radiuses,
      )
    ),
    "rounded-start": (
      property: border-bottom-left-radius border-top-left-radius,
      class: rounded-start,
      values: map-merge(
        (
          null: var(--#{$prefix}border-radius)
        ),
        $border-radiuses,
      )
    ),
    // scss-docs-end utils-border-radius
    "border-style": (
      property: border-style,
      class: border-style,
      values: (inherit, none, solid, dashed)
    )
  ),
);
