---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Album example'
import Placeholder from "@shortcodes/Placeholder.astro"
---

<header data-cx-theme="dark">
  <div class="collapse bg-contrast fg-alternate" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-small-8 col-medium-7 py-large">
          <h4>About</h4>
          <p class="fg-subtle">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-small-4 offset-medium-1 py-large">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on X</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-small">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-xsmall" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
      </a>
      <button class="navbar-toggler" type="button" data-cx-toggle="collapse" data-cx-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-xlarge text-center container">
    <div class="row py-large-5">
      <div class="col-large-6 col-medium-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead fg-subtle">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="button primary my-xsmall">Main call to action</a>
          <a href="#" class="button secondary my-xsmall">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-xlarge bg-evident">
    <div class="container">

      <div class="row row-cols-1 row-cols-small-2 row-cols-medium-3 g-3">
        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-small">
            <Placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" />
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="button-group">
                  <button type="button" class="button small outline secondary">View</button>
                  <button type="button" class="button small outline secondary">Edit</button>
                </div>
                <small class="fg-subtle">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="fg-subtle py-xlarge">
  <div class="container">
    <p class="float-end mb-2xsmall">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-2xsmall">Album example is &copy; Chassis, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Chassis? <a href="/">Visit the homepage</a> or read our <a href={getVersionedDocsPath('/getting-started/introduction')}>getting started guide</a>.</p>
  </div>
</footer>
