{{- /* Usage: js-dismiss "ComponentName" */ -}}

{{- $name := .Get 0 -}}

Dismissal can be achieved with the `data-cx-dismiss` attribute on a button **within the {{ $name }}** as demonstrated below:

```html
<button type="button" class="button-close" data-cx-dismiss="{{ $name }}" aria-label="Close"></button>
```

or on a button **outside the {{ $name }}** using the additional `data-cx-target` as demonstrated below:

```html
<button type="button" class="button-close" data-cx-dismiss="{{ $name }}" data-cx-target="#my-{{ $name }}" aria-label="Close"></button>
```
