<nav id="sidebar" class="bg-main position-sticky border-end border-subtle h-100">
  <menu class="nav nav-pills flex-column">
    <li class="nav-item"><a href="#" class="nav-link border fg-highlight">Cagetogoty One</a></li>
    <li class="nav-item"><a href="#" class="nav-link border fg-highlight">Cagetogoty Two</a></li>
    <li class="nav-item"><a href="#" class="nav-link border fg-highlight">Cagetogoty Three</a></li>
    <li class="nav-item"><a href="#" class="nav-link border fg-highlight">Cagetogoty Four</a></li>
    <li class="nav-item"><a href="#" class="nav-link border fg-highlight">Cagetogoty Five</a></li>
  </menu>
</nav>
