---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Signin Template'
export const extra_css = ['sign-in.css']
export const body_class = 'd-flex align-items-center py-large bg-evident'
---

<main class="form-signin w-100 m-auto">
  <form>
    <img class="mb-large" src={getVersionedDocsPath('/assets/brand/chassis-logo.svg')} alt="" width="72" height="57">
    <h1 class="h3 mb-medium fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-input" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-input" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-option text-start my-medium">
      <input class="option-input" type="checkbox" value="remember-me" id="checkDefault">
      <label class="option-label" for="checkDefault">
        Remember me
      </label>
    </div>
    <button class="button primary w-100 py-xsmall" type="submit">Sign in</button>
    <p class="mt-xlarge mb-medium fg-subtle">&copy; 2017–{new Date().getFullYear()}</p>
  </form>
</main>
