//
// Chassis docs content theming
//

.cxd-content {
  > h2,
  > h3,
  > h4 {
    --cx-heading-color: var(--cx-fg-color);
  }

  // Offset content from fixed navbar when jumping to headings
  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 2rem;
  }

  > ul li,
  > ol li {
    margin-bottom: 0.25rem;

    // stylelint-disable selector-max-type, selector-max-compound-selectors
    > p ~ ul {
      margin-top: -0.5rem;
      margin-bottom: 1rem;
    }
    // stylelint-enable selector-max-type, selector-max-compound-selectors
  }

  // Override Chassis defaults
  > .table,
  > .table-responsive .table {
    --cx-table-border-color: var(--cx-border-color);

    max-width: 100%;
    margin-bottom: 1.5rem;
    @include font-size(0.875rem);

    @include media-breakpoint-down(lg) {
      &.table-bordered {
        border: 0;
      }
    }

    thead {
      border-bottom: 2px solid currentcolor;
    }

    tbody:not(:first-child) {
      border-top: 2px solid currentcolor;
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 1.5rem;
      }
    }

    th {
      color: var(--cx-fg-color);
    }

    strong {
      color: var(--cx-fg-color);
    }

    // Prevent breaking of code
    th,
    td:first-child > code {
      // stylelint-disable-line selector-max-compound-selectors
      white-space: nowrap;
    }
  }
}

.table-options {
  td:nth-child(2) {
    min-width: 160px;
  }
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px;
}

.table-swatches {
  th {
    color: var(--cx-fg-color);
  }

  td code {
    white-space: nowrap;
  }

  // Astro HTML parser adds extra <p> tags to the content
  td p {
    margin: 0;
  }
}

.cxd-title {
  --cx-heading-color: var(--cx-fg-color);
  @include font-size(3rem);
}

.cxd-subtitle {
  @include font-size(1.5rem);
  font-weight: 300;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.border-large-start {
  @include media-breakpoint-up(lg) {
    border-left: var(--cx-border-width) solid var(--cx-border-color);
  }
}

// stylelint-disable selector-no-qualifying-type
.cxd-summary-link {
  color: var(--cx-link-color);

  &:hover,
  details[open] > & {
    color: var(--cx-link-hover-color);
  }
}
// stylelint-enable selector-no-qualifying-type

// scss-docs-start custom-color-mode
[data-cx-theme='blue'] {
  --cx-fg-color: var(--cx-white);
  --cx-body-fg-rgb: #{to-rgb($white)};
  --cx-bg-color: var(--cx-blue);
  --cx-bg-color-rgb: #{to-rgb($blue)};
  --cx-bg-evident: #{$blue-600};

  .dropdown-menu {
    --cx-dropdown-bg: #{mix($blue-500, $blue-600)};
    --cx-dropdown-link-active-bg: #{$blue-700};
  }

  .button-secondary {
    --cx-button-bg: #{mix($gray-600, $blue-400, 0.5)};
    --cx-button-border-color: #{rgba($white, 0.25)};
    --cx-button-hover-bg: #{darken(mix($gray-600, $blue-400, 0.5), 5%)};
    --cx-button-hover-border-color: #{rgba($white, 0.25)};
    --cx-button-active-bg: #{darken(mix($gray-600, $blue-400, 0.5), 10%)};
    --cx-button-active-border-color: #{rgba($white, 0.5)};
    --cx-button-focus-border-color: #{rgba($white, 0.5)};
    --cx-button-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.2);
  }
}
// scss-docs-end custom-color-mode
