.form-floating {
  position: relative;
  border-bottom-width: $input-floating-border-width;

  > .form-control,
  > .form-control.plaintext,
  > .form-select {
    // --#{$prefix}fg-color: #{$input-default-idle-fg-active};
    --#{$prefix}input-bg-color: var(--#{$prefix}input-idle-bg-floating);
    --#{$prefix}border-width: 0;
    height: $form-floating-height;
    min-height: $form-floating-height;
    line-height: $form-floating-line-height;
    border-bottom-width: $input-floating-border-width;
    @include border-top-radius($input-floating-blunt-border-radius);
    @include border-bottom-radius($input-floating-sharp-border-radius);
    // box-shadow: none;

    &:focus {
      --#{$prefix}input-bg-color: var(--#{$prefix}input-focus-bg-floating);
    }

    &[disabled],
    &:disabled {
      --#{$prefix}input-bg-color: var(--#{$prefix}input-disabled-bg-floating);
    }

    &:valid {
      --#{$prefix}input-bg-color: var(--#{$prefix}input-success-bg-floating);
    }

    &:invalid {
      --#{$prefix}input-bg-color: var(--#{$prefix}input-error-bg-floating);
    }
  }

  > label {
    @extend %form-colors;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%; // allow textareas
    padding: $form-floating-padding-y $form-floating-padding-x;
    overflow: hidden;
    color: var(--#{$prefix}label-color, var(--#{$prefix}input-idle-fg-inactive));
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: $input-regular-border-width solid transparent; // Required for aligning label's text with the input as it affects inner box model
    transform-origin: 0 0;
    @include transition($form-floating-transition);
  }

  > .form-control,
  > .form-control.plaintext {
    padding: $form-floating-padding-y $form-floating-padding-x;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      border-bottom-width: $input-active-border-width;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
    // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
    &:-webkit-autofill {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
  }

  > %form-input {
    &:focus ~ label {
      color: $input-default-focus-assist;
    }
  }

  > .form-select {
    padding: $form-floating-padding-y $form-floating-padding-x;
    padding-top: $form-floating-input-padding-t;
    padding-bottom: $form-floating-input-padding-b;
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-control.plaintext,
  > .form-select {
    ~ label {
      // --#{$prefix}input-fg-color: var(--#{$prefix}input-border-color);
      transform: $form-floating-label-transform;

      &::after {
        position: absolute;
        inset: $form-floating-padding-y (#{calc($form-floating-padding-x * .5)});
        z-index: -1;
        height: $form-floating-label-height;
        content: "";
        //background-color: $input-default-idle-background;
        @include border-radius($input-medium-border-radius);
      }
    }
  }

  > .form-control[type="file"] {
    &::file-selector-button {
      padding-top: 0;
      padding-bottom: 0;
      @include font-size(var(--#{$prefix}font-size-small));
      @include line-height(var(--#{$prefix}line-height-small));
      font-weight: var(--#{$prefix}font-weight-strong);
      background-color: transparent;
      border-right: var(--#{$prefix}border-width-medium) solid var(--#{$prefix}border-color);
    }
    &:hover::file-selector-button {
      // background-color: transparent;
      background-color: transparent;
    }
  }
  // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
  > .form-control:-webkit-autofill {
    ~ label {
      color: var(--#{$prefix}fg-main);
      transform: $form-floating-label-transform;
    }
  }

  > .form-control.plaintext {
    background-color: inherit;
    ~ label {
      border-width: $input-regular-border-width 0; // Required to properly position label text - as explained above
    }
  }

  > :disabled ~ label,
  > .form-control:disabled ~ label { // Required for `.form-control`s because of specificity
    color: $form-floating-label-disabled-fg-color;

    // &::after {
    //   background-color: $input-default-disabled-background;
    // }
  }
}
