//
// Check/radio
//

.form-option {
  @extend %form-colors;

  --#{$prefix}input-size: #{$form-option-input-medium-size};
  --#{$prefix}gap: #{$input-medium-gap};
  @include map-font-size($input-medium-text-font, form-option);
  @include map-line-height($input-medium-text-font, form-option);

  min-height: $form-option-min-height;
  margin: $form-option-margin-y 0;

  @include font-size();
  @include line-height();

  &.small {
    --#{$prefix}input-size: #{$form-option-input-small-size};
    --#{$prefix}gap: #{$input-small-gap};
    @include map-font-size($input-small-text-font, form-option);
    @include map-line-height($input-small-text-font, form-option);
  }

  &.large {
    --#{$prefix}input-size: #{$form-option-input-large-size};
    --#{$prefix}gap: #{$input-large-gap};
    @include map-font-size($input-large-text-font, form-option);
    @include map-line-height($input-large-text-font, form-option);
  }

  .option-input {
    float: left;
    margin-top: var(--#{$prefix}margin-top);
    margin-right: var(--#{$prefix}gap);
  }

  &.reverse {
    text-align: right;

    .option-input {
      float: right;
      margin-right: 0;
      margin-left: var(--#{$prefix}gap);
    }
  }

}

.option-input {
  @extend %form-colors;

  --#{$prefix}fg-color: var(--#{$prefix}input-fg-color, var(--#{$prefix}input-idle-fg-active));
  --#{$prefix}bg-color: var(--#{$prefix}input-bg-color, var(--#{$prefix}input-idle-bg-regular));
  --#{$prefix}border-color: var(--#{$prefix}input-border-color, var(--#{$prefix}input-idle-border-color));
  --#{$prefix}border-width: var(--#{$prefix}input-border-width, var(--#{$prefix}option-input-border-width, #{$form-option-input-border-width}));
  --#{$prefix}border-radius: var(--#{$prefix}input-border-radius, var(--#{$prefix}option-input-border-width, #{$form-option-input-checkbox-border-radius}));

  --#{$prefix}size: var(--#{$prefix}option-input-size, #{$form-option-input-medium-size});
  --#{$prefix}margin-top: var(--#{$prefix}option-input-margin-t, #{calc((var(--#{$prefix}line-height) - var(--#{$prefix}size)) * .5)});

  flex-shrink: 0;
  width: var(--#{$prefix}size);
  height: var(--#{$prefix}size);
  vertical-align: top;
  appearance: none;
  background-color: var(--#{$prefix}bg-color);
  background-image: var(--#{$prefix}icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
  print-color-adjust: exact; // Keep themed appearance for print
  @include transition($form-option-transition);

  &[type="checkbox"] {
    @include border-radius(var(--#{$prefix}option-input-border-radius));
  }

  &[type="radio"] {
    // stylelint-disable-next-line property-disallowed-list
    border-radius: $form-option-input-radio-border-radius;
  }

  // &:active {
  //   filter: $option-input-active-filter;
  // }

  &:focus {
    border-color: var(--#{$prefix}input-focus-border-color);
    outline: 0;
    box-shadow: $form-input-default-focus-box-shadow;
  }

  &:checked {
    background-color: var(--#{$prefix}input-checked-bg-color, #{$form-option-input-checked-bg-color});
    border-color: var(--#{$prefix}input-checked-border-color, #{$form-option-input-checked-border-color});

    &[type="checkbox"] {
      @if $enable-component-gradients {
        --#{$prefix}icon: #{escape-svg($form-option-input-check-icon)}, var(--#{$prefix}bg-gradient);
      } @else {
        --#{$prefix}icon: #{escape-svg($form-option-input-check-icon)};
      }
    }

    &[type="radio"] {
      @if $enable-component-gradients {
        --#{$prefix}icon: #{escape-svg($form-option-input-radio-icon)}, var(--#{$prefix}bg-gradient);
      } @else {
        --#{$prefix}icon: #{escape-svg($form-option-input-radio-icon)};
      }
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: var(--#{$prefix}input-checked-bg-color, #{$form-option-input-checked-bg-color});
    border-color: var(--#{$prefix}input-checked-bg-color, #{$form-option-input-checked-bg-color});

    @if $enable-component-gradients {
      --#{$prefix}icon: #{escape-svg($form-option-input-indeterminate-icon)}, var(--#{$prefix}bg-gradient);
    } @else {
      --#{$prefix}icon: #{escape-svg($form-option-input-indeterminate-icon)};
    }
  }

  // &:disabled {
  //   --#{$prefix}fg-color: var(--#{$prefix}input-disabled-fg-color, #{$input-default-idle-fg-active});
  //   --#{$prefix}bg-color: var(--#{$prefix}input-disabled-bg-color, #{$input-default-idle-background});
  //   pointer-events: none;
  //   filter: none;
  //   opacity: $form-option-input-disabled-opacity;
  // }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    --#{$prefix}fg-color: var(--#{$prefix}input-disabled-fg-color, #{$input-default-disabled-fg-active});
    --#{$prefix}bg-color: var(--#{$prefix}input-disabled-bg-color, #{$input-default-disabled-bg-regular});
    pointer-events: none;
    filter: none;
    opacity: $form-option-input-disabled-opacity;
    ~ .option-label {
      // --#{$prefix}fg-color: var(--#{$prefix}input-disabled-fg-color, #{$input-default-disabled-fg-active});
      cursor: default;
      opacity: $form-option-label-disabled-opacity;
    }
  }
}

.option-input.small,
.form-option.small .option-input  {
  --#{$prefix}size: #{$form-option-input-small-size};
  // --#{$prefix}margin-top: #{subtract($line-height-text-small, $form-option-input-small-size) * .35}; // line-height minus check height
  // --#{$prefix}margin-top: #{calc((var(--#{$prefix}line-height) - var(--#{$prefix}size)) * .35)}; // line-height minus check height
}

.option-input.large,
.form-option.large .option-input  {
  --#{$prefix}size: #{$form-option-input-large-size};
  // --#{$prefix}margin-top: #{subtract($line-height-text-large, $form-option-input-large-size) * .35}; // line-height minus check height
}


.option-label {
  @extend %form-colors;
  color: var(--#{$prefix}fg-color, $form-option-label-color);
  cursor: $form-option-label-cursor;
}

//
// Switch
//

.form-switch {
  padding-left: $form-switch-padding-s;

  .option-input {
    --#{$prefix}form-switch-icon: #{escape-svg($form-switch-icon)};

    width: $form-switch-width;
    margin-left: $form-switch-padding-s * -1;
    background-image: var(--#{$prefix}form-switch-icon);
    background-position: left center;
    @include border-radius($form-switch-border-radius, 0);
    @include transition($form-switch-transition);

    &:focus {
      --#{$prefix}form-switch-icon: #{escape-svg($form-switch-focus-icon)};
    }

    &:checked {
      background-position: $form-switch-checked-icon-position;

      @if $enable-component-gradients {
        --#{$prefix}form-switch-icon: #{escape-svg($form-switch-checked-icon)}, var(--#{$prefix}bg-gradient);
      } @else {
        --#{$prefix}form-switch-icon: #{escape-svg($form-switch-checked-icon)};
      }
    }
  }

  &.reverse {
    padding-right: $form-switch-padding-s;
    padding-left: 0;

    .option-input {
      margin-right: $form-switch-padding-s * -1;
      margin-left: 0;
    }
  }
}

.form-option-inline {
  display: inline-block;
  margin-right: $form-option-inline-margin-end;
}

.button-option {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;

  &[disabled],
  &:disabled {
    + .button {
      pointer-events: none;
      filter: none;
      opacity: $form-option-button-disabled-opacity;
    }
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .form-switch .option-input:not(:checked):not(:focus) {
      --#{$prefix}form-switch-icon: #{escape-svg($form-switch-icon-dark)};
    }
  }
}
