// Select
//
// Replaces the browser default select with a custom one, mostly pulled from
// https://primer.github.io/.

.form-select {
  @extend %component, %form-input;

  --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-default-idle-fg-active)};

  padding-right: #{calc(var(--#{$prefix}padding-x) * 2 + var(--#{$prefix}widget-size))};
  background-image: var(--#{$prefix}widget-icon), var(--#{$prefix}feedback-icon, none);
  background-repeat: no-repeat;
  background-position: $form-select-widget-position;
  background-size: var(--#{$prefix}widget-size);

  &[disabled],
  &:disabled {
    --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-default-disabled-fg-inactive)};
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: var(--#{$prefix}padding-x);
    background-image: none;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--#{$prefix}fg-color);
  }

  @if $enable-alternate-variants {
    &.alternate {
      --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-alternate-idle-fg-active)};
      &[disabled],
      &:disabled {
        --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-alternate-disabled-fg-active)};
      }
    }
  }

}

// @mixin form-select-light() {
//   --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-default-idle-fg-active)};
//   &.alternate {
//     --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-alternate-idle-fg-active)};
//   }
//   &[disabled],
//   &:disabled {
//     --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-default-disabled-fg-inactive)};
//     // background-image: var(--#{$prefix}widget-icon, #{escape-svg($input-select-widget-icon)}), var(--#{$prefix}feedback-icon, none);
//     &.alternate {
//       --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-alternate-disabled-fg-active)};
//     }
//   }
// }

@mixin form-select-dark() {
  --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-default-idle-fg-active, true)};

  &[disabled],
  &:disabled {
    --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-default-disabled-fg-inactive, true)};
  }

  @if $enable-alternate-variants {
    &.alternate {
      --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-alternate-idle-fg-active, true)};
      &[disabled],
      &:disabled {
        --#{$prefix}widget-icon: #{svg-color(escape-svg($input-select-widget-icon), $input-alternate-disabled-fg-active, true)};
      }
    }
  }

}

// @include color-mode(light) {
//   @if $color-mode-type == "media-query" {
//     .form-select {
//       @include form-select-light();
//     }
//   } @else {
//     .form-select:not([data-cx-theme="light"] [data-cx-theme="dark"] .form-select),
//     &.form-select {
//       @include form-select-light();
//     }
//   }
// }

@if $enable-dark-mode {
  @include color-mode(dark) {
    @if $color-mode-type == "media-query" {
      .form-select {
        @include form-select-dark();
      }
    } @else {
      // .form-select:not([data-cx-theme="light"] .form-select):not([data-cx-theme="light"].form-select),
      .form-select:not([data-cx-theme="dark"] [data-cx-theme="light"] .form-select):not([data-cx-theme="dark"] [data-cx-theme="light"].form-select),
      &.form-select {
        @include form-select-dark();
      }
    }
  }
}

