//
// Form text
//

.form-text {
  @extend %form-colors;
  margin-top: $form-field-assist-margin-t;
  color: var(--#{$prefix}idle-assist-color);
  @include font();
  .form-option > & {
    margin-top: $form-option-assist-margin-t;
    margin-left: #{calc(var(--#{$prefix}input-size) + var(--#{$prefix}gap))};
  }
  .form-range ~ & {
    margin-top: $form-option-assist-margin-t;
  }
  .form-alternate > & {
    @extend %form-color-alternate;
  }
}
