---
export const title = 'Buttons'
---

<div class="d-flex gap-xsmall justify-content-center py-xlarge">
  <button class="button primary rounded-pill px-medium" type="button">Primary</button>
  <button class="button secondary rounded-pill px-medium" type="button">Secondary</button>
  <button class="button success rounded-pill px-medium" type="button">Success</button>
  <button class="button danger rounded-pill px-medium" type="button">Danger</button>
  <button class="button warning rounded-pill px-medium" type="button">Warning</button>
  <button class="button info rounded-pill px-medium" type="button">Info</button>
  <button class="button light rounded-pill px-medium" type="button">Light</button>
  <button class="button dark rounded-pill px-medium" type="button">Dark</button>
  <button class="button link rounded-pill px-medium" type="button">Link</button>
</div>

<div class="b-example-divider"></div>

<div class="col-large-6 col-2xlarge-4 my-xlarge mx-auto">
  <div class="d-grid gap-xsmall">
    <button class="button outline secondary" type="button">Secondary action</button>
    <button class="button primary" type="button">Primary action</button>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="d-flex gap-xsmall justify-content-center py-xlarge">
  <button class="button primary d-inline-flex align-items-center" type="button">
    Primary icon
    <svg class="bi ms-2xsmall" width="20" height="20" aria-hidden="true"><use xlink:href="#arrow-right-solid"/></svg>
  </button>
  <button class="button outline secondary d-inline-flex align-items-center" type="button">
    Secondary icon
    <svg class="bi ms-2xsmall" width="20" height="20" aria-hidden="true"><use xlink:href="#arrow-right-solid"/></svg>
  </button>
</div>

<div class="b-example-divider"></div>

<div class="d-flex gap-xsmall justify-content-center py-xlarge">
  <button class="button primary" type="button" disabled>
    <span class="spinner-border spinner-border-small" aria-hidden="true"></span>
    <span class="visually-hidden" role="status">Loading...</span>
  </button>
  <button class="button primary" type="button" disabled>
    <span class="spinner-border spinner-border-small" aria-hidden="true"></span>
    <span role="status">Loading...</span>
  </button>
</div>

<div class="b-example-divider"></div>

<div class="d-flex gap-xsmall justify-content-center pt-xlarge pb-large">
  <button class="button primary rounded-circle p-xsmall lh-1" type="button">
    <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#xmark-large-solid"/></svg>
    <span class="visually-hidden">Dismiss</span>
  </button>
  <button class="button outline-primary rounded-circle p-xsmall lh-1" type="button">
    <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#xmark-large-solid"/></svg>
    <span class="visually-hidden">Dismiss</span>
  </button>
</div>

<div class="d-flex gap-xsmall justify-content-center pb-xlarge">
  <button class="button primary rounded-circle p-medium lh-1" type="button">
    <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#xmark-large-solid"/></svg>
    <span class="visually-hidden">Dismiss</span>
  </button>
  <button class="button outline-primary rounded-circle p-medium lh-1" type="button">
    <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#xmark-large-solid"/></svg>
    <span class="visually-hidden">Dismiss</span>
  </button>
</div>

<div class="b-example-divider"></div>
