---
import type { InferGetStaticPropsType } from 'astro'
import IconsLayout from '@layouts/IconsLayout.astro'
import { getConfig } from '@libs/config'
import { iconsPages } from '@libs/content'
import Code from '@shortcodes/Code.astro'
import Details from '@components/icons/Details.astro'

export async function getStaticPaths() {
  return iconsPages.map((iconsPage) => {
    return {
      params: { slug: iconsPage.slug, version: getConfig().docs_version },
      props: iconsPage
    }
  })
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { id, data, render } = Astro.props
const { Content, headings, remarkPluginFrontmatter } = await render()
const frontmatter = remarkPluginFrontmatter as typeof data
---

<IconsLayout frontmatter={frontmatter} headings={headings} id={id}>
  <div class="container container-fluid">
    <Details icon={frontmatter} />
  </div>
  <Content components={{ pre: Code }} />
</IconsLayout>
