---
import IconsLayout from '@layouts/IconsLayout.astro'
import List from '@components/icons/List.astro'
import Home from '@components/icons/Home.mdx'
---

<IconsLayout frontmatter={{ title: "Chassis Icons" }} id="icons-layout">
  <main class="container-2xlarge cxd-gutter" id="content">
    <section class="row py-medium-4xlarge align-items-center text-center">
      <h1>Easy Icons with <span class="text-nowrap">Chassis</span> <span class="text-nowrap">Design System</span></h1>
      <p class="lead">
        Chassis - CSS Icons are available as SVG sprite and icon font. Easy to use for developer and in direct control of designer by components design tokens.
      </p>
    </section>
    <nav class="container-fluid sticky-top bg-main pt-small gap-zero" style="top: 4rem; z-index: 10;">
      <ul id="#icons-nav" class="nav nav-underline justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#sprite-section">Sprite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#install-section">Install</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#usage-section">Usage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#styling-section">Styling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#accessibility-section">Accessibility</a>
        </li>
      </ul>
    </nav>
    <div>
      <List isHome={true} />
      <Home />
    </div>
  </main>
</IconsLayout>
