$accordion-title-font:                $cx-font-common-accordion-medium-title !default;
$accordion-body-font:                 $cx-font-common-accordion-medium-body !default;
$accordion-indicator-size:            $cx-size-common-accordion-medium-indicator !default;
$accordion-title-padding-y:           $cx-space-common-accordion-medium-title-padding-y !default;
$accordion-title-padding-x:           $cx-space-common-accordion-medium-title-padding-x !default;
$accordion-body-padding-t:            $cx-space-common-accordion-medium-body-padding-t !default;
$accordion-body-padding-b:            $cx-space-common-accordion-medium-body-padding-b !default;
$accordion-body-padding-s:            $cx-space-common-accordion-medium-body-padding-s !default;
$accordion-body-padding-e:            $cx-space-common-accordion-medium-body-padding-e !default;
$accordion-gap:                       $cx-space-common-accordion-medium-gap !default;

$accordion-large-title-font:          $cx-font-common-accordion-large-title !default;
$accordion-large-body-font:           $cx-font-common-accordion-large-body !default;
$accordion-large-indicator-size:      $cx-size-common-accordion-large-indicator !default;
$accordion-large-title-padding-y:     $cx-space-common-accordion-large-title-padding-y !default;
$accordion-large-title-padding-x:     $cx-space-common-accordion-large-title-padding-x !default;
$accordion-large-body-padding-t:      $cx-space-common-accordion-large-body-padding-t !default;
$accordion-large-body-padding-b:      $cx-space-common-accordion-large-body-padding-b !default;
$accordion-large-body-padding-s:      $cx-space-common-accordion-large-body-padding-s !default;
$accordion-large-body-padding-e:      $cx-space-common-accordion-large-body-padding-e !default;
$accordion-large-gap:                 $cx-space-common-accordion-large-gap !default;

$accordion-small-title-font:          $cx-font-common-accordion-small-title !default;
$accordion-small-body-font:           $cx-font-common-accordion-small-body !default;
$accordion-small-indicator-size:      $cx-size-common-accordion-small-indicator !default;
$accordion-small-title-padding-y:     $cx-space-common-accordion-small-title-padding-y !default;
$accordion-small-title-padding-x:     $cx-space-common-accordion-small-title-padding-x !default;
$accordion-small-body-padding-t:      $cx-space-common-accordion-small-body-padding-t !default;
$accordion-small-body-padding-b:      $cx-space-common-accordion-small-body-padding-b !default;
$accordion-small-body-padding-s:      $cx-space-common-accordion-small-body-padding-s !default;
$accordion-small-body-padding-e:      $cx-space-common-accordion-small-body-padding-e !default;
$accordion-small-gap:                 $cx-space-common-accordion-small-gap !default;

$accordion-title-fg-color:            $cx-color-common-accordion-title-inactive !default;
$accordion-title-bg-color:            inherit !default;
$accordion-title-active-fg-color:     $cx-color-common-accordion-title-active !default;
$accordion-title-active-bg-color:     inherit !default;

$accordion-indicator-icon:            $cx-icon-common-accordion-indicator !default;
$accordion-indicator-inactive-color:  $cx-color-common-accordion-indicator-inactive !default;
$accordion-indicator-active-color:    $cx-color-common-accordion-indicator-active !default;
