// scss-docs-start accordion-tokens
// Font
$accordion-title-font:                          $cx-font-common-accordion-medium-title !default;
$accordion-body-font:                           $cx-font-common-accordion-medium-body !default;
$accordion-large-title-font:                    $cx-font-common-accordion-large-title !default;
$accordion-large-body-font:                     $cx-font-common-accordion-large-body !default;
$accordion-small-title-font:                    $cx-font-common-accordion-small-title !default;
$accordion-small-body-font:                     $cx-font-common-accordion-small-body !default;
// Color
$accordion-default-item-fg-color:               $cx-color-common-accordion-default-item-fg-color !default;
$accordion-default-item-bg-color:               $cx-color-common-accordion-default-item-bg-color !default;
$accordion-default-title-fg-color:              $cx-color-common-accordion-default-title-fg-idle !default;
$accordion-default-title-bg-color:              $cx-color-common-accordion-default-title-bg-idle !default;
$accordion-default-title-fg-active:             $cx-color-common-accordion-default-title-fg-active !default;
$accordion-default-title-bg-active:             $cx-color-common-accordion-default-title-bg-active !default;
$accordion-default-indicator-idle-color:        $cx-color-common-accordion-default-indicator-idle !default;
$accordion-default-indicator-active-color:      $cx-color-common-accordion-default-indicator-active !default;
$accordion-default-border-color:                $cx-color-common-accordion-default-border-main !default;
$accordion-alternate-item-fg-color:             $cx-color-common-accordion-alternate-item-fg-color !default;
$accordion-alternate-item-bg-color:             $cx-color-common-accordion-alternate-item-bg-color !default;
$accordion-alternate-title-fg-color:            $cx-color-common-accordion-alternate-title-fg-idle !default;
$accordion-alternate-title-bg-color:            $cx-color-common-accordion-alternate-title-bg-idle !default;
$accordion-alternate-title-fg-active:           $cx-color-common-accordion-alternate-title-fg-active !default;
$accordion-alternate-title-bg-active:           $cx-color-common-accordion-alternate-title-bg-active !default;
$accordion-alternate-indicator-idle-color:      $cx-color-common-accordion-alternate-indicator-idle !default;
$accordion-alternate-indicator-active-color:    $cx-color-common-accordion-alternate-indicator-active !default;
$accordion-alternate-border-color:              $cx-color-common-accordion-alternate-border-main !default;
// Size
$accordion-indicator-size:                      $cx-size-common-accordion-medium-indicator !default;
$accordion-large-indicator-size:                $cx-size-common-accordion-large-indicator !default;
$accordion-small-indicator-size:                $cx-size-common-accordion-small-indicator !default;
// Spacing
$accordion-title-padding-y:                     $cx-space-common-accordion-medium-title-padding-y !default;
$accordion-title-padding-x:                     $cx-space-common-accordion-medium-title-padding-x !default;
$accordion-body-padding-t:                      $cx-space-common-accordion-medium-body-padding-t !default;
$accordion-body-padding-b:                      $cx-space-common-accordion-medium-body-padding-b !default;
$accordion-body-padding-s:                      $cx-space-common-accordion-medium-body-padding-s !default;
$accordion-body-padding-e:                      $cx-space-common-accordion-medium-body-padding-e !default;
$accordion-gap:                                 $cx-space-common-accordion-medium-gap !default;
$accordion-large-title-padding-y:               $cx-space-common-accordion-large-title-padding-y !default;
$accordion-large-title-padding-x:               $cx-space-common-accordion-large-title-padding-x !default;
$accordion-large-body-padding-t:                $cx-space-common-accordion-large-body-padding-t !default;
$accordion-large-body-padding-b:                $cx-space-common-accordion-large-body-padding-b !default;
$accordion-large-body-padding-s:                $cx-space-common-accordion-large-body-padding-s !default;
$accordion-large-body-padding-e:                $cx-space-common-accordion-large-body-padding-e !default;
$accordion-large-gap:                           $cx-space-common-accordion-large-gap !default;
$accordion-small-title-padding-y:               $cx-space-common-accordion-small-title-padding-y !default;
$accordion-small-title-padding-x:               $cx-space-common-accordion-small-title-padding-x !default;
$accordion-small-body-padding-t:                $cx-space-common-accordion-small-body-padding-t !default;
$accordion-small-body-padding-b:                $cx-space-common-accordion-small-body-padding-b !default;
$accordion-small-body-padding-s:                $cx-space-common-accordion-small-body-padding-s !default;
$accordion-small-body-padding-e:                $cx-space-common-accordion-small-body-padding-e !default;
$accordion-small-gap:                           $cx-space-common-accordion-small-gap !default;
// Borders
$accordion-border-width:                        $cx-border-width-common-accordion !default;
$accordion-border-radius:                       $cx-border-radius-common-accordion !default;
// Icon
$accordion-indicator:                           svg-icon($cx-icon-common-accordion-indicator) !default;
// scss-docs-end accordion-tokens
