// scss-docs-start accordion-tokens
// Font
$accordion-title-font:                    $cx-font-accordion-medium-title !default;
$accordion-body-font:                     $cx-font-accordion-medium-body !default;
$accordion-large-title-font:              $cx-font-accordion-large-title !default;
$accordion-large-body-font:               $cx-font-accordion-large-body !default;
$accordion-small-title-font:              $cx-font-accordion-small-title !default;
$accordion-small-body-font:               $cx-font-accordion-small-body !default;
// Color
$accordion-item-fg-color:                 $cx-color-accordion-item-fg-color !default;
$accordion-item-bg-color:                 $cx-color-accordion-item-bg-color !default;
$accordion-title-fg-color:                $cx-color-accordion-title-fg-idle !default;
$accordion-title-bg-color:                $cx-color-accordion-title-bg-idle !default;
$accordion-title-fg-active:               $cx-color-accordion-title-fg-active !default;
$accordion-title-bg-active:               $cx-color-accordion-title-bg-active !default;
$accordion-indicator-idle-color:          $cx-color-accordion-indicator-idle !default;
$accordion-indicator-active-color:        $cx-color-accordion-indicator-active !default;
$accordion-border-color:                  $cx-color-accordion-border-main !default;
// Size
$accordion-indicator-size:                $cx-size-accordion-medium-indicator !default;
$accordion-large-indicator-size:          $cx-size-accordion-large-indicator !default;
$accordion-small-indicator-size:          $cx-size-accordion-small-indicator !default;
// Spacing
$accordion-title-padding-y:               $cx-space-accordion-medium-title-padding-y !default;
$accordion-title-padding-x:               $cx-space-accordion-medium-title-padding-x !default;
$accordion-body-padding-t:                $cx-space-accordion-medium-body-padding-t !default;
$accordion-body-padding-b:                $cx-space-accordion-medium-body-padding-b !default;
$accordion-body-padding-s:                $cx-space-accordion-medium-body-padding-s !default;
$accordion-body-padding-e:                $cx-space-accordion-medium-body-padding-e !default;
$accordion-gap:                           $cx-space-accordion-medium-gap !default;
$accordion-large-title-padding-y:         $cx-space-accordion-large-title-padding-y !default;
$accordion-large-title-padding-x:         $cx-space-accordion-large-title-padding-x !default;
$accordion-large-body-padding-t:          $cx-space-accordion-large-body-padding-t !default;
$accordion-large-body-padding-b:          $cx-space-accordion-large-body-padding-b !default;
$accordion-large-body-padding-s:          $cx-space-accordion-large-body-padding-s !default;
$accordion-large-body-padding-e:          $cx-space-accordion-large-body-padding-e !default;
$accordion-large-gap:                     $cx-space-accordion-large-gap !default;
$accordion-small-title-padding-y:         $cx-space-accordion-small-title-padding-y !default;
$accordion-small-title-padding-x:         $cx-space-accordion-small-title-padding-x !default;
$accordion-small-body-padding-t:          $cx-space-accordion-small-body-padding-t !default;
$accordion-small-body-padding-b:          $cx-space-accordion-small-body-padding-b !default;
$accordion-small-body-padding-s:          $cx-space-accordion-small-body-padding-s !default;
$accordion-small-body-padding-e:          $cx-space-accordion-small-body-padding-e !default;
$accordion-small-gap:                     $cx-space-accordion-small-gap !default;
// Borders
$accordion-border-width:                  $cx-border-width-accordion !default;
$accordion-border-radius:                 $cx-border-radius-accordion !default;
// Icon
$accordion-indicator-icon:                     svg-icon($cx-icon-accordion-indicator) !default;
// scss-docs-end accordion-tokens
