// scss-docs-start badge-tokens
$badge-medium-font:                 $cx-font-badge-medium !default;
$badge-medium-size:                 $cx-size-badge-medium-main !default;
$badge-medium-icon-size:            $cx-size-badge-medium-icon !default;
$badge-medium-padding-y:            $cx-space-badge-medium-padding-y !default;
$badge-medium-padding-x:            $cx-space-badge-medium-padding-x !default;
$badge-medium-gap:                  $cx-space-badge-medium-gap !default;
$badge-medium-border-radius:        $cx-border-radius-badge-medium !default;

$badge-large-font:                  $cx-font-badge-large !default;
$badge-large-size:                  $cx-size-badge-large-main !default;
$badge-large-icon-size:             $cx-size-badge-large-icon !default;
$badge-large-padding-y:             $cx-space-badge-large-padding-y !default;
$badge-large-padding-x:             $cx-space-badge-large-padding-x !default;
$badge-large-gap:                   $cx-space-badge-large-gap !default;
$badge-large-border-radius:         $cx-border-radius-badge-large !default;

$badge-small-font:                  $cx-font-badge-small !default;
$badge-small-size:                  $cx-size-badge-small-main !default;
$badge-small-icon-size:             $cx-size-badge-small-icon !default;
$badge-small-padding-y:             $cx-space-badge-small-padding-y !default;
$badge-small-padding-x:             $cx-space-badge-small-padding-x !default;
$badge-small-gap:                   $cx-space-badge-small-gap !default;
$badge-small-border-radius:         $cx-border-radius-badge-small !default;

$badge-border-width:                $cx-border-width-badge !default;
// scss-docs-end badge-tokens
