// scss-docs-start button-tokens
$button-medium-font:                      $cx-font-common-button-medium !default;
$button-large-font:                       $cx-font-common-button-large !default;
$button-small-font:                       $cx-font-common-button-small !default;

$button-medium-padding-y:                 $cx-space-common-button-medium-padding-y !default;
$button-medium-padding-x:                 $cx-space-common-button-medium-padding-x !default;
$button-medium-gap:                       $cx-space-common-button-medium-gap !default;
$button-medium-nudge-y:                      $cx-space-common-button-medium-nudge-y !default;
$button-medium-nudge-x:                      $cx-space-common-button-medium-nudge-x !default;

$button-large-padding-y:                  $cx-space-common-button-large-padding-y !default;
$button-large-padding-x:                  $cx-space-common-button-large-padding-x !default;
$button-large-gap:                        $cx-space-common-button-large-gap !default;
$button-large-nudge-y:                       $cx-space-common-button-large-nudge-y !default;
$button-large-nudge-x:                       $cx-space-common-button-large-nudge-x !default;

$button-small-padding-y:                  $cx-space-common-button-small-padding-y !default;
$button-small-padding-x:                  $cx-space-common-button-small-padding-x !default;
$button-small-gap:                        $cx-space-common-button-small-gap !default;
$button-small-nudge-y:                       $cx-space-common-button-small-nudge-y !default;
$button-small-nudge-x:                       $cx-space-common-button-small-nudge-x !default;

$button-medium-icon-size:                 $cx-size-common-button-medium-icon !default;
$button-large-icon-size:                  $cx-size-common-button-large-icon !default;
$button-small-icon-size:                  $cx-size-common-button-small-icon !default;

$button-caret-icon:                       svg-icon($cx-icon-common-button-caret) !default;
$button-medium-caret-size:                $cx-size-common-button-medium-caret !default;
$button-large-caret-size:                 $cx-size-common-button-large-caret !default;
$button-small-caret-size:                 $cx-size-common-button-small-caret !default;

$button-border-width:                     $cx-border-width-common-button !default;
$button-medium-border-radius:             $cx-border-radius-common-button-medium !default;
$button-large-border-radius:              $cx-border-radius-common-button-medium !default;
$button-small-border-radius:              $cx-border-radius-common-button-small !default;
// scss-docs-end button-tokens

// scss-docs-start button-color-tokens
$button-default-fg-idle:                  $cx-color-common-button-default-fg-idle !default;
$button-default-fg-hover:                 $cx-color-common-button-default-fg-hover !default;
$button-default-fg-press:                 $cx-color-common-button-default-fg-press !default;
$button-default-fg-disabled:              $cx-color-common-button-default-fg-disabled !default;
$button-default-bg-idle:                  $cx-color-common-button-default-bg-idle !default;
$button-default-bg-hover:                 $cx-color-common-button-default-bg-hover !default;
$button-default-bg-press:                 $cx-color-common-button-default-bg-press !default;
$button-default-bg-disabled:              $cx-color-common-button-default-bg-disabled !default;
$button-default-border-idle:              $cx-color-common-button-default-border-idle !default;
$button-default-border-hover:             $cx-color-common-button-default-border-hover !default;
$button-default-border-press:             $cx-color-common-button-default-border-press !default;
$button-default-border-disabled:          $cx-color-common-button-default-border-disabled !default;

$button-alternate-fg-idle:                $cx-color-common-button-alternate-fg-idle !default;
$button-alternate-fg-hover:               $cx-color-common-button-alternate-fg-hover !default;
$button-alternate-fg-press:               $cx-color-common-button-alternate-fg-press !default;
$button-alternate-fg-disabled:            $cx-color-common-button-alternate-fg-disabled !default;
$button-alternate-bg-idle:                $cx-color-common-button-alternate-bg-idle !default;
$button-alternate-bg-hover:               $cx-color-common-button-alternate-bg-hover !default;
$button-alternate-bg-press:               $cx-color-common-button-alternate-bg-press !default;
$button-alternate-bg-disabled:            $cx-color-common-button-alternate-bg-disabled !default;
$button-alternate-border-idle:            $cx-color-common-button-alternate-border-idle !default;
$button-alternate-border-hover:           $cx-color-common-button-alternate-border-hover !default;
$button-alternate-border-press:           $cx-color-common-button-alternate-border-press !default;
$button-alternate-border-disabled:        $cx-color-common-button-alternate-border-disabled !default;

$button-primary-fg-idle:                  $cx-color-common-button-primary-fg-idle !default;
$button-primary-fg-hover:                 $cx-color-common-button-primary-fg-hover !default;
$button-primary-fg-press:                 $cx-color-common-button-primary-fg-press !default;
$button-primary-fg-disabled:              $cx-color-common-button-primary-fg-disabled !default;
$button-primary-bg-idle:                  $cx-color-common-button-primary-bg-idle !default;
$button-primary-bg-hover:                 $cx-color-common-button-primary-bg-hover !default;
$button-primary-bg-press:                 $cx-color-common-button-primary-bg-press !default;
$button-primary-bg-disabled:              $cx-color-common-button-primary-bg-disabled !default;
$button-primary-border-idle:              $cx-color-common-button-primary-border-idle !default;
$button-primary-border-hover:             $cx-color-common-button-primary-border-hover !default;
$button-primary-border-press:             $cx-color-common-button-primary-border-press !default;
$button-primary-border-disabled:          $cx-color-common-button-primary-border-disabled !default;

$button-secondary-fg-idle:                $cx-color-common-button-secondary-fg-idle !default;
$button-secondary-fg-hover:               $cx-color-common-button-secondary-fg-hover !default;
$button-secondary-fg-press:               $cx-color-common-button-secondary-fg-press !default;
$button-secondary-fg-disabled:            $cx-color-common-button-secondary-fg-disabled !default;
$button-secondary-bg-idle:                $cx-color-common-button-secondary-bg-idle !default;
$button-secondary-bg-hover:               $cx-color-common-button-secondary-bg-hover !default;
$button-secondary-bg-press:               $cx-color-common-button-secondary-bg-press !default;
$button-secondary-bg-disabled:            $cx-color-common-button-secondary-bg-disabled !default;
$button-secondary-border-idle:            $cx-color-common-button-secondary-border-idle !default;
$button-secondary-border-hover:           $cx-color-common-button-secondary-border-hover !default;
$button-secondary-border-press:           $cx-color-common-button-secondary-border-press !default;
$button-secondary-border-disabled:        $cx-color-common-button-secondary-border-disabled !default;

$button-neutral-fg-idle:                  $cx-color-common-button-neutral-fg-idle !default;
$button-neutral-fg-hover:                 $cx-color-common-button-neutral-fg-hover !default;
$button-neutral-fg-press:                 $cx-color-common-button-neutral-fg-press !default;
$button-neutral-fg-disabled:              $cx-color-common-button-neutral-fg-disabled !default;
$button-neutral-bg-idle:                  $cx-color-common-button-neutral-bg-idle !default;
$button-neutral-bg-hover:                 $cx-color-common-button-neutral-bg-hover !default;
$button-neutral-bg-press:                 $cx-color-common-button-neutral-bg-press !default;
$button-neutral-bg-disabled:              $cx-color-common-button-neutral-bg-disabled !default;
$button-neutral-border-idle:              $cx-color-common-button-neutral-border-idle !default;
$button-neutral-border-hover:             $cx-color-common-button-neutral-border-hover !default;
$button-neutral-border-press:             $cx-color-common-button-neutral-border-press !default;
$button-neutral-border-disabled:          $cx-color-common-button-neutral-border-disabled !default;

$button-danger-fg-idle:                   $cx-color-common-button-danger-fg-idle !default;
$button-danger-fg-hover:                  $cx-color-common-button-danger-fg-hover !default;
$button-danger-fg-press:                  $cx-color-common-button-danger-fg-press !default;
$button-danger-fg-disabled:               $cx-color-common-button-danger-fg-disabled !default;
$button-danger-bg-idle:                   $cx-color-common-button-danger-bg-idle !default;
$button-danger-bg-hover:                  $cx-color-common-button-danger-bg-hover !default;
$button-danger-bg-press:                  $cx-color-common-button-danger-bg-press !default;
$button-danger-bg-disabled:               $cx-color-common-button-danger-bg-disabled !default;
$button-danger-border-idle:               $cx-color-common-button-danger-border-idle !default;
$button-danger-border-hover:              $cx-color-common-button-danger-border-hover !default;
$button-danger-border-press:              $cx-color-common-button-danger-border-press !default;
$button-danger-border-disabled:           $cx-color-common-button-danger-border-disabled !default;

$button-success-fg-idle:                  $cx-color-common-button-success-fg-idle !default;
$button-success-fg-hover:                 $cx-color-common-button-success-fg-hover !default;
$button-success-fg-press:                 $cx-color-common-button-success-fg-press !default;
$button-success-fg-disabled:              $cx-color-common-button-success-fg-disabled !default;
$button-success-bg-idle:                  $cx-color-common-button-success-bg-idle !default;
$button-success-bg-hover:                 $cx-color-common-button-success-bg-hover !default;
$button-success-bg-press:                 $cx-color-common-button-success-bg-press !default;
$button-success-bg-disabled:              $cx-color-common-button-success-bg-disabled !default;
$button-success-border-idle:              $cx-color-common-button-success-border-idle !default;
$button-success-border-hover:             $cx-color-common-button-success-border-hover !default;
$button-success-border-press:             $cx-color-common-button-success-border-press !default;
$button-success-border-disabled:          $cx-color-common-button-success-border-disabled !default;

$button-warning-fg-idle:                  $cx-color-common-button-warning-fg-idle !default;
$button-warning-fg-hover:                 $cx-color-common-button-warning-fg-hover !default;
$button-warning-fg-press:                 $cx-color-common-button-warning-fg-press !default;
$button-warning-fg-disabled:              $cx-color-common-button-warning-fg-disabled !default;
$button-warning-bg-idle:                  $cx-color-common-button-warning-bg-idle !default;
$button-warning-bg-hover:                 $cx-color-common-button-warning-bg-hover !default;
$button-warning-bg-press:                 $cx-color-common-button-warning-bg-press !default;
$button-warning-bg-disabled:              $cx-color-common-button-warning-bg-disabled !default;
$button-warning-border-idle:              $cx-color-common-button-warning-border-idle !default;
$button-warning-border-hover:             $cx-color-common-button-warning-border-hover !default;
$button-warning-border-press:             $cx-color-common-button-warning-border-press !default;
$button-warning-border-disabled:          $cx-color-common-button-warning-border-disabled !default;

$button-info-fg-idle:                     $cx-color-common-button-info-fg-idle !default;
$button-info-fg-hover:                    $cx-color-common-button-info-fg-hover !default;
$button-info-fg-press:                    $cx-color-common-button-info-fg-press !default;
$button-info-fg-disabled:                 $cx-color-common-button-info-fg-disabled !default;
$button-info-bg-idle:                     $cx-color-common-button-info-bg-idle !default;
$button-info-bg-hover:                    $cx-color-common-button-info-bg-hover !default;
$button-info-bg-press:                    $cx-color-common-button-info-bg-press !default;
$button-info-bg-disabled:                 $cx-color-common-button-info-bg-disabled !default;
$button-info-border-idle:                 $cx-color-common-button-info-border-idle !default;
$button-info-border-hover:                $cx-color-common-button-info-border-hover !default;
$button-info-border-press:                $cx-color-common-button-info-border-press !default;
$button-info-border-disabled:             $cx-color-common-button-info-border-disabled !default;

$button-black-fg-idle:                    $cx-color-common-button-black-fg-idle !default;
$button-black-fg-hover:                   $cx-color-common-button-black-fg-hover !default;
$button-black-fg-press:                   $cx-color-common-button-black-fg-press !default;
$button-black-fg-disabled:                $cx-color-common-button-black-fg-disabled !default;
$button-black-bg-idle:                    $cx-color-common-button-black-bg-idle !default;
$button-black-bg-hover:                   $cx-color-common-button-black-bg-hover !default;
$button-black-bg-press:                   $cx-color-common-button-black-bg-press !default;
$button-black-bg-disabled:                $cx-color-common-button-black-bg-disabled !default;
$button-black-border-idle:                $cx-color-common-button-black-border-idle !default;
$button-black-border-hover:               $cx-color-common-button-black-border-hover !default;
$button-black-border-press:               $cx-color-common-button-black-border-press !default;
$button-black-border-disabled:            $cx-color-common-button-black-border-disabled !default;

$button-white-fg-idle:                    $cx-color-common-button-white-fg-idle !default;
$button-white-fg-hover:                   $cx-color-common-button-white-fg-hover !default;
$button-white-fg-press:                   $cx-color-common-button-white-fg-press !default;
$button-white-fg-disabled:                $cx-color-common-button-white-fg-disabled !default;
$button-white-bg-idle:                    $cx-color-common-button-white-bg-idle !default;
$button-white-bg-hover:                   $cx-color-common-button-white-bg-hover !default;
$button-white-bg-press:                   $cx-color-common-button-white-bg-press !default;
$button-white-bg-disabled:                $cx-color-common-button-white-bg-disabled !default;
$button-white-border-idle:                $cx-color-common-button-white-border-idle !default;
$button-white-border-hover:               $cx-color-common-button-white-border-hover !default;
$button-white-border-press:               $cx-color-common-button-white-border-press !default;
$button-white-border-disabled:            $cx-color-common-button-white-border-disabled !default;
// scss-docs-end button-color-tokens
