// scss-docs-start chip-tokens
$chip-medium-font:                      $cx-font-chip-medium !default;
$chip-large-font:                       $cx-font-chip-large !default;
$chip-small-font:                       $cx-font-chip-small !default;

$chip-medium-min-size:                 $cx-size-chip-medium-main !default;
$chip-medium-padding-y:                 $cx-space-chip-medium-padding-y !default;
$chip-medium-padding-x:                 $cx-space-chip-medium-padding-x !default;
$chip-medium-gap:                       $cx-space-chip-medium-gap !default;
$chip-medium-nudge:                      $cx-space-chip-medium-nudge !default;

$chip-large-min-size:                  $cx-size-chip-large-main !default;
$chip-large-padding-y:                  $cx-space-chip-large-padding-y !default;
$chip-large-padding-x:                  $cx-space-chip-large-padding-x !default;
$chip-large-gap:                        $cx-space-chip-large-gap !default;
$chip-large-nudge:                       $cx-space-chip-large-nudge !default;

$chip-small-min-size:                  $cx-size-chip-small-main !default;
$chip-small-padding-y:                  $cx-space-chip-small-padding-y !default;
$chip-small-padding-x:                  $cx-space-chip-small-padding-x !default;
$chip-small-gap:                        $cx-space-chip-small-gap !default;
$chip-small-nudge:                       $cx-space-chip-small-nudge !default;

$chip-medium-icon-size:                 $cx-size-chip-medium-icon !default;
$chip-large-icon-size:                  $cx-size-chip-large-icon !default;
$chip-small-icon-size:                  $cx-size-chip-small-icon !default;

$chip-medium-avatar-size:               $cx-size-chip-medium-avatar !default;
$chip-large-avatar-size:                $cx-size-chip-large-avatar !default;
$chip-small-avatar-size:                $cx-size-chip-small-avatar !default;

$chip-border-width:                     $cx-border-width-chip-main !default;
$chip-medium-border-radius:             $cx-border-radius-chip-medium !default;
$chip-large-border-radius:              $cx-border-radius-chip-medium !default;
$chip-small-border-radius:              $cx-border-radius-chip-small !default;

$chip-remove-icon:                      svg-icon($cx-icon-chip-remove) !default;
// scss-docs-end chip-tokens
