// fusv-disable
$aqua:       #0cc !default;
$black:      #000 !default;
$blue:       #00f !default;
$green:      #090 !default;
$gray:       #999 !default;
$graydark:   #666 !default;
$fuchsia:    #c0c !default;
$olive:      #990 !default;
$orange:     #f90 !default;
$red:        #f00 !default;
$pink:       #f39 !default;
$purple:     #90f !default;
$teal:       #099 !default;
$violet:     #c3c !default;
$white:      #fff !default;
$yellow:     #fc0 !default;

// scss-docs-start context-color-variables
$default:       $cx-color-base-context-light-black-base-color !default;
$alternate:     $cx-color-base-context-light-white-base-color !default;
$primary:       $cx-color-base-context-light-primary-base-color !default;
$secondary:     $cx-color-base-context-light-secondary-base-color !default;
$neutral:       $cx-color-base-context-light-neutral-base-color !default;
$danger:        $cx-color-base-context-light-danger-base-color !default;
$success:       $cx-color-base-context-light-success-base-color !default;
$warning:       $cx-color-base-context-light-warning-base-color !default;
$info:          $cx-color-base-context-light-info-base-color !default;
$black:         $cx-color-base-context-light-black-base-color !default;
$white:         $cx-color-base-context-light-white-base-color !default;
// scss-docs-end context-color-variables

// scss-docs-start contrast-color-variables
$default-contrast:       $cx-color-base-context-light-black-contrast-color !default;
$alternate-contrast:     $cx-color-base-context-light-white-contrast-color !default;
$primary-contrast:       $cx-color-base-context-light-primary-contrast-color !default;
$secondary-contrast:     $cx-color-base-context-light-secondary-contrast-color !default;
$neutral-contrast:       $cx-color-base-context-light-neutral-contrast-color !default;
$danger-contrast:        $cx-color-base-context-light-danger-contrast-color !default;
$success-contrast:       $cx-color-base-context-light-success-contrast-color !default;
$warning-contrast:       $cx-color-base-context-light-warning-contrast-color !default;
$info-contrast:          $cx-color-base-context-light-info-contrast-color !default;
$black-contrast:         $cx-color-base-context-light-black-contrast-color !default;
$white-contrast:         $cx-color-base-context-light-white-contrast-color !default;
// scss-docs-end contrast-color-variables

// scss-docs-start transparent-color-variables
$default-transparent:         $cx-color-base-context-light-default-transparent-color !default;
$alternate-transparent:       $cx-color-base-context-light-alternate-transparent-color !default;
$primary-transparent:         $cx-color-base-context-light-primary-transparent-color !default;
$secondary-transparent:       $cx-color-base-context-light-secondary-transparent-color !default;
$neutral-transparent:         $cx-color-base-context-light-neutral-transparent-color !default;
$danger-transparent:          $cx-color-base-context-light-danger-transparent-color !default;
$success-transparent:         $cx-color-base-context-light-success-transparent-color !default;
$warning-transparent:         $cx-color-base-context-light-warning-transparent-color !default;
$info-transparent:            $cx-color-base-context-light-info-transparent-color !default;
$black-transparent:           $cx-color-base-context-light-black-transparent-color !default;
$white-transparent:           $cx-color-base-context-light-white-transparent-color !default;
// scss-docs-end transparent-color-variables

// scss-docs-start primitive-palette-variables
// scss-docs-start black-palette-variables
// $black-main:            $cx-color-base-palette-light-black-main !default;
// $black-clear:           $cx-color-base-palette-light-black-clear !default;
// $black-contrast:        $cx-color-base-palette-light-black-contrast !default;
$black-t-05:            $cx-color-base-palette-light-black-t-05 !default;
$black-t-10:            $cx-color-base-palette-light-black-t-10 !default;
$black-t-20:            $cx-color-base-palette-light-black-t-20 !default;
$black-t-30:            $cx-color-base-palette-light-black-t-30 !default;
$black-t-40:            $cx-color-base-palette-light-black-t-40 !default;
$black-t-50:            $cx-color-base-palette-light-black-t-50 !default;
$black-t-60:            $cx-color-base-palette-light-black-t-60 !default;
$black-t-70:            $cx-color-base-palette-light-black-t-70 !default;
$black-t-80:            $cx-color-base-palette-light-black-t-80 !default;
$black-t-90:            $cx-color-base-palette-light-black-t-90 !default;
$black-t-95:            $cx-color-base-palette-light-black-t-95 !default;
// scss-docs-end black-palette-variables

// scss-docs-start vhite-palette-variables
// $white-main:            $cx-color-base-palette-light-white-main !default;
// $white-clear:           $cx-color-base-palette-light-white-clear !default;
// $white-contrast:        $cx-color-base-palette-light-white-contrast !default;
$white-t-05:            $cx-color-base-palette-light-white-t-05 !default;
$white-t-10:            $cx-color-base-palette-light-white-t-10 !default;
$white-t-20:            $cx-color-base-palette-light-white-t-20 !default;
$white-t-30:            $cx-color-base-palette-light-white-t-30 !default;
$white-t-40:            $cx-color-base-palette-light-white-t-40 !default;
$white-t-50:            $cx-color-base-palette-light-white-t-50 !default;
$white-t-60:            $cx-color-base-palette-light-white-t-60 !default;
$white-t-70:            $cx-color-base-palette-light-white-t-70 !default;
$white-t-80:            $cx-color-base-palette-light-white-t-80 !default;
$white-t-90:            $cx-color-base-palette-light-white-t-90 !default;
$white-t-95:            $cx-color-base-palette-light-white-t-95 !default;
// scss-docs-end black-palette-variables

// scss-docs-start primary-palette-variables
$primary-05:            $cx-color-base-palette-light-primary-05 !default;
$primary-10:            $cx-color-base-palette-light-primary-10 !default;
$primary-20:            $cx-color-base-palette-light-primary-20 !default;
$primary-30:            $cx-color-base-palette-light-primary-30 !default;
$primary-40:            $cx-color-base-palette-light-primary-40 !default;
$primary-50:            $cx-color-base-palette-light-primary-50 !default;
$primary-60:            $cx-color-base-palette-light-primary-60 !default;
$primary-70:            $cx-color-base-palette-light-primary-70 !default;
$primary-80:            $cx-color-base-palette-light-primary-80 !default;
$primary-90:            $cx-color-base-palette-light-primary-90 !default;
$primary-95:            $cx-color-base-palette-light-primary-95 !default;
// scss-docs-end primary-palette-variables

// scss-docs-start secondary-palette-variables
$secondary-05:          $cx-color-base-palette-light-secondary-05 !default;
$secondary-10:          $cx-color-base-palette-light-secondary-10 !default;
$secondary-20:          $cx-color-base-palette-light-secondary-20 !default;
$secondary-30:          $cx-color-base-palette-light-secondary-30 !default;
$secondary-40:          $cx-color-base-palette-light-secondary-40 !default;
$secondary-50:          $cx-color-base-palette-light-secondary-50 !default;
$secondary-60:          $cx-color-base-palette-light-secondary-60 !default;
$secondary-70:          $cx-color-base-palette-light-secondary-70 !default;
$secondary-80:          $cx-color-base-palette-light-secondary-80 !default;
$secondary-90:          $cx-color-base-palette-light-secondary-90 !default;
$secondary-95:          $cx-color-base-palette-light-secondary-95 !default;
// scss-docs-end secondnary-palette-variables

// scss-docs-start neutral-palette-variables
$neutral-05:            $cx-color-base-palette-light-neutral-05 !default;
$neutral-10:            $cx-color-base-palette-light-neutral-10 !default;
$neutral-20:            $cx-color-base-palette-light-neutral-20 !default;
$neutral-30:            $cx-color-base-palette-light-neutral-30 !default;
$neutral-40:            $cx-color-base-palette-light-neutral-40 !default;
$neutral-50:            $cx-color-base-palette-light-neutral-50 !default;
$neutral-60:            $cx-color-base-palette-light-neutral-60 !default;
$neutral-70:            $cx-color-base-palette-light-neutral-70 !default;
$neutral-80:            $cx-color-base-palette-light-neutral-80 !default;
$neutral-90:            $cx-color-base-palette-light-neutral-90 !default;
$neutral-95:            $cx-color-base-palette-light-neutral-95 !default;
// scss-docs-end primary-palette-variables

// scss-docs-start danger-palette-variables
$danger-05:             $cx-color-base-palette-light-danger-05 !default;
$danger-10:             $cx-color-base-palette-light-danger-10 !default;
$danger-20:             $cx-color-base-palette-light-danger-20 !default;
$danger-30:             $cx-color-base-palette-light-danger-30 !default;
$danger-40:             $cx-color-base-palette-light-danger-40 !default;
$danger-50:             $cx-color-base-palette-light-danger-50 !default;
$danger-60:             $cx-color-base-palette-light-danger-60 !default;
$danger-70:             $cx-color-base-palette-light-danger-70 !default;
$danger-80:             $cx-color-base-palette-light-danger-80 !default;
$danger-90:             $cx-color-base-palette-light-danger-90 !default;
$danger-95:             $cx-color-base-palette-light-danger-95 !default;
// scss-docs-end danger-palette-variables

// scss-docs-start success-palette-variables
$success-05:            $cx-color-base-palette-light-success-05 !default;
$success-10:            $cx-color-base-palette-light-success-10 !default;
$success-20:            $cx-color-base-palette-light-success-20 !default;
$success-30:            $cx-color-base-palette-light-success-30 !default;
$success-40:            $cx-color-base-palette-light-success-40 !default;
$success-50:            $cx-color-base-palette-light-success-50 !default;
$success-60:            $cx-color-base-palette-light-success-60 !default;
$success-70:            $cx-color-base-palette-light-success-70 !default;
$success-80:            $cx-color-base-palette-light-success-80 !default;
$success-90:            $cx-color-base-palette-light-success-90 !default;
$success-95:            $cx-color-base-palette-light-success-95 !default;
// scss-docs-end danger-palette-variables

// scss-docs-start warning-palette-variables
$warning-05:            $cx-color-base-palette-light-warning-05 !default;
$warning-10:            $cx-color-base-palette-light-warning-10 !default;
$warning-20:            $cx-color-base-palette-light-warning-20 !default;
$warning-30:            $cx-color-base-palette-light-warning-30 !default;
$warning-40:            $cx-color-base-palette-light-warning-40 !default;
$warning-50:            $cx-color-base-palette-light-warning-50 !default;
$warning-60:            $cx-color-base-palette-light-warning-60 !default;
$warning-70:            $cx-color-base-palette-light-warning-70 !default;
$warning-80:            $cx-color-base-palette-light-warning-80 !default;
$warning-90:            $cx-color-base-palette-light-warning-90 !default;
$warning-95:            $cx-color-base-palette-light-warning-95 !default;
// scss-docs-end warning-palette-variables

// scss-docs-start info-palette-variables
$info-05:               $cx-color-base-palette-light-info-05 !default;
$info-10:               $cx-color-base-palette-light-info-10 !default;
$info-20:               $cx-color-base-palette-light-info-20 !default;
$info-30:               $cx-color-base-palette-light-info-30 !default;
$info-40:               $cx-color-base-palette-light-info-40 !default;
$info-50:               $cx-color-base-palette-light-info-50 !default;
$info-60:               $cx-color-base-palette-light-info-60 !default;
$info-70:               $cx-color-base-palette-light-info-70 !default;
$info-80:               $cx-color-base-palette-light-info-80 !default;
$info-90:               $cx-color-base-palette-light-info-90 !default;
$info-95:               $cx-color-base-palette-light-info-95 !default;
// scss-docs-end info-palette-variables
// scss-docs-end primitive-palette-variables

// scss-docs-start context-palette-variables
// scss-docs-start default-context-variables
$default-base-color:          $cx-color-base-context-light-default-base-color !default;
$default-contrast-color:      $cx-color-base-context-light-default-contrast-color !default;
$default-transparent-color:   $cx-color-base-context-light-default-transparent-color !default;
$default-fg-main:             $cx-color-base-context-light-default-fg-main !default;
$default-fg-subtle:           $cx-color-base-context-light-default-fg-subtle !default;
$default-fg-slight:           $cx-color-base-context-light-default-fg-slight !default;
$default-fg-inverse:          $cx-color-base-context-light-default-fg-inverse !default;
$default-fg-solid:            $cx-color-base-context-light-default-fg-solid !default;
$default-fg-highlight:        $cx-color-base-context-light-default-fg-highlight !default;
$default-bg-main:             $cx-color-base-context-light-default-bg-main !default;
$default-bg-even:             $cx-color-base-context-light-default-bg-even !default;
$default-bg-evident:          $cx-color-base-context-light-default-bg-evident !default;
$default-bg-inverse:          $cx-color-base-context-light-default-bg-inverse !default;
$default-bg-solid:            $cx-color-base-context-light-default-bg-solid !default;
$default-bg-highlight:        $cx-color-base-context-light-default-bg-highlight !default;
$default-border-main:         $cx-color-base-context-light-default-border-main !default;
$default-border-subtle:       $cx-color-base-context-light-default-border-subtle !default;
$default-icon-main:           $cx-color-base-context-light-default-icon-main !default;
$default-icon-subtle:         $cx-color-base-context-light-default-icon-subtle !default;
$default-icon-slight:         $cx-color-base-context-light-default-icon-slight !default;
$default-cue-main:            $cx-color-base-context-light-default-cue-main !default;
$default-cue-slight:          $cx-color-base-context-light-default-cue-slight !default;
$default-dim-slight:          $cx-color-base-context-light-default-dim-slight !default;
$default-dim-main:            $cx-color-base-context-light-default-dim-main !default;
$default-dim-subtle:          $cx-color-base-context-light-default-dim-subtle !default;
$default-link-main:           $cx-color-base-context-light-default-link-main !default;
$default-link-visited:        $cx-color-base-context-light-default-link-visited !default;
$default-link-hover:          $cx-color-base-context-light-default-link-hover !default;
$default-link-active:         $cx-color-base-context-light-default-link-active !default;
$default-fg-idle:           $cx-color-base-context-light-default-fg-idle !default;
$default-fg-disabled:         $cx-color-base-context-light-default-fg-disabled !default;
$default-fg-hover:            $cx-color-base-context-light-default-fg-hover !default;
$default-fg-press:            $cx-color-base-context-light-default-fg-press !default;
$default-bg-idle:           $cx-color-base-context-light-default-bg-idle !default;
$default-bg-disabled:         $cx-color-base-context-light-default-bg-disabled !default;
$default-bg-hover:            $cx-color-base-context-light-default-bg-hover !default;
$default-bg-press:            $cx-color-base-context-light-default-bg-press !default;
// scss-docs-end default-context-variables

// scss-docs-start alternate-context-variables
$alternate-base-color:        $cx-color-base-context-light-alternate-base-color !default;
$alternate-contrast-color:    $cx-color-base-context-light-alternate-contrast-color !default;
$alternate-transparent-color: $cx-color-base-context-light-alternate-transparent-color !default;
$alternate-fg-main:           $cx-color-base-context-light-alternate-fg-main !default;
$alternate-fg-subtle:         $cx-color-base-context-light-alternate-fg-subtle !default;
$alternate-fg-slight:         $cx-color-base-context-light-alternate-fg-slight !default;
$alternate-fg-inverse:        $cx-color-base-context-light-alternate-fg-inverse !default;
$alternate-fg-solid:          $cx-color-base-context-light-alternate-fg-solid !default;
$alternate-fg-highlight:      $cx-color-base-context-light-alternate-fg-highlight !default;
$alternate-bg-main:           $cx-color-base-context-light-alternate-bg-main !default;
$alternate-bg-even:           $cx-color-base-context-light-alternate-bg-even !default;
$alternate-bg-evident:        $cx-color-base-context-light-alternate-bg-evident !default;
$alternate-bg-inverse:        $cx-color-base-context-light-alternate-bg-inverse !default;
$alternate-bg-solid:          $cx-color-base-context-light-alternate-bg-solid !default;
$alternate-bg-highlight:      $cx-color-base-context-light-alternate-bg-highlight !default;
$alternate-border-main:       $cx-color-base-context-light-alternate-border-main !default;
$alternate-border-subtle:     $cx-color-base-context-light-alternate-border-subtle !default;
$alternate-icon-main:         $cx-color-base-context-light-alternate-icon-main !default;
$alternate-icon-subtle:       $cx-color-base-context-light-alternate-icon-subtle !default;
$alternate-icon-slight:       $cx-color-base-context-light-alternate-icon-slight !default;
$alternate-cue-main:          $cx-color-base-context-light-alternate-cue-main !default;
$alternate-cue-slight:        $cx-color-base-context-light-alternate-cue-slight !default;
$alternate-dim-slight:        $cx-color-base-context-light-alternate-dim-slight !default;
$alternate-dim-main:          $cx-color-base-context-light-alternate-dim-main !default;
$alternate-dim-subtle:        $cx-color-base-context-light-alternate-dim-subtle !default;
$alternate-link-main:         $cx-color-base-context-light-alternate-link-main !default;
$alternate-link-visited:      $cx-color-base-context-light-alternate-link-visited !default;
$alternate-link-hover:        $cx-color-base-context-light-alternate-link-hover !default;
$alternate-link-active:       $cx-color-base-context-light-alternate-link-active !default;
$alternate-fg-idle:         $cx-color-base-context-light-alternate-fg-idle !default;
$alternate-fg-disabled:       $cx-color-base-context-light-alternate-fg-disabled !default;
$alternate-fg-hover:          $cx-color-base-context-light-alternate-fg-hover !default;
$alternate-fg-press:          $cx-color-base-context-light-alternate-fg-press !default;
$alternate-bg-idle:         $cx-color-base-context-light-alternate-bg-idle !default;
$alternate-bg-disabled:       $cx-color-base-context-light-alternate-bg-disabled !default;
$alternate-bg-hover:          $cx-color-base-context-light-alternate-bg-hover !default;
$alternate-bg-press:          $cx-color-base-context-light-alternate-bg-press !default;
// scss-docs-end alternate-context-variables

// scss-docs-start primary-context-variables
$primary-base-color:          $cx-color-base-context-light-primary-base-color !default;
$primary-contrast-color:      $cx-color-base-context-light-primary-contrast-color !default;
$primary-transparent-color:   $cx-color-base-context-light-primary-transparent-color !default;
$primary-fg-main:             $cx-color-base-context-light-primary-fg-main !default;
$primary-fg-subtle:           $cx-color-base-context-light-primary-fg-subtle !default;
$primary-fg-slight:           $cx-color-base-context-light-primary-fg-slight !default;
$primary-fg-inverse:          $cx-color-base-context-light-primary-fg-inverse !default;
$primary-fg-solid:            $cx-color-base-context-light-primary-fg-solid !default;
$primary-fg-highlight:        $cx-color-base-context-light-primary-fg-highlight !default;
$primary-bg-main:             $cx-color-base-context-light-primary-bg-main !default;
$primary-bg-even:             $cx-color-base-context-light-primary-bg-even !default;
$primary-bg-evident:          $cx-color-base-context-light-primary-bg-evident !default;
$primary-bg-inverse:          $cx-color-base-context-light-primary-bg-inverse !default;
$primary-bg-solid:            $cx-color-base-context-light-primary-bg-solid !default;
$primary-bg-highlight:        $cx-color-base-context-light-primary-bg-highlight !default;
$primary-border-main:         $cx-color-base-context-light-primary-border-main !default;
$primary-border-subtle:       $cx-color-base-context-light-primary-border-subtle !default;
$primary-icon-main:           $cx-color-base-context-light-primary-icon-main !default;
$primary-icon-subtle:         $cx-color-base-context-light-primary-icon-subtle !default;
$primary-icon-slight:         $cx-color-base-context-light-primary-icon-slight !default;
$primary-cue-main:            $cx-color-base-context-light-primary-cue-main !default;
$primary-cue-slight:          $cx-color-base-context-light-primary-cue-slight !default;
$primary-dim-slight:          $cx-color-base-context-light-primary-dim-slight !default;
$primary-dim-main:            $cx-color-base-context-light-primary-dim-main !default;
$primary-dim-subtle:          $cx-color-base-context-light-primary-dim-subtle !default;
$primary-link-main:           $cx-color-base-context-light-primary-link-main !default;
$primary-link-visited:        $cx-color-base-context-light-primary-link-visited !default;
$primary-link-hover:          $cx-color-base-context-light-primary-link-hover !default;
$primary-link-active:         $cx-color-base-context-light-primary-link-active !default;
$primary-fg-idle:           $cx-color-base-context-light-primary-fg-idle !default;
$primary-fg-disabled:         $cx-color-base-context-light-primary-fg-disabled !default;
$primary-fg-hover:            $cx-color-base-context-light-primary-fg-hover !default;
$primary-fg-press:            $cx-color-base-context-light-primary-fg-press !default;
$primary-bg-idle:           $cx-color-base-context-light-primary-bg-idle !default;
$primary-bg-disabled:         $cx-color-base-context-light-primary-bg-disabled !default;
$primary-bg-hover:            $cx-color-base-context-light-primary-bg-hover !default;
$primary-bg-press:            $cx-color-base-context-light-primary-bg-press !default;
// scss-docs-end primary-context-variables

// scss-docs-start secondary-context-variables
$secondary-base-color:        $cx-color-base-context-light-secondary-base-color !default;
$secondary-contrast-color:    $cx-color-base-context-light-secondary-contrast-color !default;
$secondary-transparent-color: $cx-color-base-context-light-secondary-transparent-color !default;
$secondary-fg-main:           $cx-color-base-context-light-secondary-fg-main !default;
$secondary-fg-subtle:         $cx-color-base-context-light-secondary-fg-subtle !default;
$secondary-fg-slight:         $cx-color-base-context-light-secondary-fg-slight !default;
$secondary-fg-inverse:        $cx-color-base-context-light-secondary-fg-inverse !default;
$secondary-fg-solid:          $cx-color-base-context-light-secondary-fg-solid !default;
$secondary-fg-highlight:      $cx-color-base-context-light-secondary-fg-highlight !default;
$secondary-bg-main:           $cx-color-base-context-light-secondary-bg-main !default;
$secondary-bg-even:           $cx-color-base-context-light-secondary-bg-even !default;
$secondary-bg-evident:        $cx-color-base-context-light-secondary-bg-evident !default;
$secondary-bg-inverse:        $cx-color-base-context-light-secondary-bg-inverse !default;
$secondary-bg-solid:          $cx-color-base-context-light-secondary-bg-solid !default;
$secondary-bg-highlight:      $cx-color-base-context-light-secondary-bg-highlight !default;
$secondary-border-main:       $cx-color-base-context-light-secondary-border-main !default;
$secondary-border-subtle:     $cx-color-base-context-light-secondary-border-subtle !default;
$secondary-icon-main:         $cx-color-base-context-light-secondary-icon-main !default;
$secondary-icon-subtle:       $cx-color-base-context-light-secondary-icon-subtle !default;
$secondary-icon-slight:       $cx-color-base-context-light-secondary-icon-slight !default;
$secondary-cue-main:          $cx-color-base-context-light-secondary-cue-main !default;
$secondary-cue-slight:        $cx-color-base-context-light-secondary-cue-slight !default;
$secondary-dim-slight:        $cx-color-base-context-light-secondary-dim-slight !default;
$secondary-dim-main:          $cx-color-base-context-light-secondary-dim-main !default;
$secondary-dim-subtle:        $cx-color-base-context-light-secondary-dim-subtle !default;
$secondary-link-main:         $cx-color-base-context-light-secondary-link-main !default;
$secondary-link-visited:      $cx-color-base-context-light-secondary-link-visited !default;
$secondary-link-hover:        $cx-color-base-context-light-secondary-link-hover !default;
$secondary-link-active:       $cx-color-base-context-light-secondary-link-active !default;
$secondary-fg-idle:         $cx-color-base-context-light-secondary-fg-idle !default;
$secondary-fg-disabled:       $cx-color-base-context-light-secondary-fg-disabled !default;
$secondary-fg-hover:          $cx-color-base-context-light-secondary-fg-hover !default;
$secondary-fg-press:          $cx-color-base-context-light-secondary-fg-press !default;
$secondary-bg-idle:         $cx-color-base-context-light-secondary-bg-idle !default;
$secondary-bg-disabled:       $cx-color-base-context-light-secondary-bg-disabled !default;
$secondary-bg-hover:          $cx-color-base-context-light-secondary-bg-hover !default;
$secondary-bg-press:          $cx-color-base-context-light-secondary-bg-press !default;
// scss-docs-end secondary-context-variables

// scss-docs-start neutral-context-variables
$neutral-base-color:          $cx-color-base-context-light-neutral-base-color !default;
$neutral-contrast-color:      $cx-color-base-context-light-neutral-contrast-color !default;
$neutral-transparent-color:   $cx-color-base-context-light-neutral-transparent-color !default;
$neutral-fg-main:             $cx-color-base-context-light-neutral-fg-main !default;
$neutral-fg-subtle:           $cx-color-base-context-light-neutral-fg-subtle !default;
$neutral-fg-slight:           $cx-color-base-context-light-neutral-fg-slight !default;
$neutral-fg-inverse:          $cx-color-base-context-light-neutral-fg-inverse !default;
$neutral-fg-solid:            $cx-color-base-context-light-neutral-fg-solid !default;
$neutral-fg-highlight:        $cx-color-base-context-light-neutral-fg-highlight !default;
$neutral-bg-main:             $cx-color-base-context-light-neutral-bg-main !default;
$neutral-bg-even:             $cx-color-base-context-light-neutral-bg-even !default;
$neutral-bg-evident:          $cx-color-base-context-light-neutral-bg-evident !default;
$neutral-bg-inverse:          $cx-color-base-context-light-neutral-bg-inverse !default;
$neutral-bg-solid:            $cx-color-base-context-light-neutral-bg-solid !default;
$neutral-bg-highlight:        $cx-color-base-context-light-neutral-bg-highlight !default;
$neutral-border-subtle:       $cx-color-base-context-light-neutral-border-subtle !default;
$neutral-border-main:         $cx-color-base-context-light-neutral-border-main !default;
$neutral-icon-main:           $cx-color-base-context-light-neutral-icon-main !default;
$neutral-icon-subtle:         $cx-color-base-context-light-neutral-icon-subtle !default;
$neutral-icon-slight:         $cx-color-base-context-light-neutral-icon-slight !default;
$neutral-cue-main:            $cx-color-base-context-light-neutral-cue-main !default;
$neutral-cue-slight:          $cx-color-base-context-light-neutral-cue-slight !default;
$neutral-dim-slight:          $cx-color-base-context-light-neutral-dim-slight !default;
$neutral-dim-main:            $cx-color-base-context-light-neutral-dim-main !default;
$neutral-dim-subtle:          $cx-color-base-context-light-neutral-dim-subtle !default;
$neutral-link-main:           $cx-color-base-context-light-neutral-link-main !default;
$neutral-link-visited:        $cx-color-base-context-light-neutral-link-visited !default;
$neutral-link-hover:          $cx-color-base-context-light-neutral-link-hover !default;
$neutral-link-active:         $cx-color-base-context-light-neutral-link-active !default;
$neutral-fg-idle:           $cx-color-base-context-light-neutral-fg-idle !default;
$neutral-fg-disabled:         $cx-color-base-context-light-neutral-fg-disabled !default;
$neutral-fg-hover:            $cx-color-base-context-light-neutral-fg-hover !default;
$neutral-fg-press:            $cx-color-base-context-light-neutral-fg-press !default;
$neutral-bg-idle:           $cx-color-base-context-light-neutral-bg-idle !default;
$neutral-bg-disabled:         $cx-color-base-context-light-neutral-bg-disabled !default;
$neutral-bg-hover:            $cx-color-base-context-light-neutral-bg-hover !default;
$neutral-bg-press:            $cx-color-base-context-light-neutral-bg-press !default;
// scss-docs-end neutral-context-variables

// scss-docs-start danger-context-variables
$danger-base-color:           $cx-color-base-context-light-danger-base-color !default;
$danger-contrast-color:       $cx-color-base-context-light-danger-contrast-color !default;
$danger-transparent-color:    $cx-color-base-context-light-danger-transparent-color !default;
$danger-fg-main:              $cx-color-base-context-light-danger-fg-main !default;
$danger-fg-subtle:            $cx-color-base-context-light-danger-fg-subtle !default;
$danger-fg-slight:            $cx-color-base-context-light-danger-fg-slight !default;
$danger-fg-inverse:           $cx-color-base-context-light-danger-fg-inverse !default;
$danger-fg-solid:             $cx-color-base-context-light-danger-fg-solid !default;
$danger-fg-highlight:         $cx-color-base-context-light-danger-fg-highlight !default;
$danger-bg-main:              $cx-color-base-context-light-danger-bg-main !default;
$danger-bg-even:              $cx-color-base-context-light-danger-bg-even !default;
$danger-bg-evident:           $cx-color-base-context-light-danger-bg-evident !default;
$danger-bg-inverse:           $cx-color-base-context-light-danger-bg-inverse !default;
$danger-bg-solid:             $cx-color-base-context-light-danger-bg-solid !default;
$danger-bg-highlight:         $cx-color-base-context-light-danger-bg-highlight !default;
$danger-border-main:          $cx-color-base-context-light-danger-border-main !default;
$danger-border-subtle:        $cx-color-base-context-light-danger-border-subtle !default;
$danger-icon-main:            $cx-color-base-context-light-danger-icon-main !default;
$danger-icon-subtle:          $cx-color-base-context-light-danger-icon-subtle !default;
$danger-icon-slight:          $cx-color-base-context-light-danger-icon-slight !default;
$danger-cue-main:             $cx-color-base-context-light-danger-cue-main !default;
$danger-cue-slight:           $cx-color-base-context-light-danger-cue-slight !default;
$danger-dim-slight:           $cx-color-base-context-light-danger-dim-slight !default;
$danger-dim-main:             $cx-color-base-context-light-danger-dim-main !default;
$danger-dim-subtle:           $cx-color-base-context-light-danger-dim-subtle !default;
$danger-link-main:            $cx-color-base-context-light-danger-link-main !default;
$danger-link-visited:         $cx-color-base-context-light-danger-link-visited !default;
$danger-link-hover:           $cx-color-base-context-light-danger-link-hover !default;
$danger-link-active:          $cx-color-base-context-light-danger-link-active !default;
$danger-fg-idle:            $cx-color-base-context-light-danger-fg-idle !default;
$danger-fg-disabled:          $cx-color-base-context-light-danger-fg-disabled !default;
$danger-fg-hover:             $cx-color-base-context-light-danger-fg-hover !default;
$danger-fg-press:             $cx-color-base-context-light-danger-fg-press !default;
$danger-bg-idle:            $cx-color-base-context-light-danger-bg-idle !default;
$danger-bg-disabled:          $cx-color-base-context-light-danger-bg-disabled !default;
$danger-bg-hover:             $cx-color-base-context-light-danger-bg-hover !default;
$danger-bg-press:             $cx-color-base-context-light-danger-bg-press !default;
// scss-docs-end danger-context-variables

// scss-docs-start success-context-variables
$success-base-color:          $cx-color-base-context-light-success-base-color !default;
$success-contrast-color:      $cx-color-base-context-light-success-contrast-color !default;
$success-transparent-color:   $cx-color-base-context-light-success-transparent-color !default;
$success-fg-main:             $cx-color-base-context-light-success-fg-main !default;
$success-fg-subtle:           $cx-color-base-context-light-success-fg-subtle !default;
$success-fg-slight:           $cx-color-base-context-light-success-fg-slight !default;
$success-fg-inverse:          $cx-color-base-context-light-success-fg-inverse !default;
$success-fg-solid:            $cx-color-base-context-light-success-fg-solid !default;
$success-fg-highlight:        $cx-color-base-context-light-success-fg-highlight !default;
$success-bg-main:             $cx-color-base-context-light-success-bg-main !default;
$success-bg-even:             $cx-color-base-context-light-success-bg-even !default;
$success-bg-evident:          $cx-color-base-context-light-success-bg-evident !default;
$success-bg-inverse:          $cx-color-base-context-light-success-bg-inverse !default;
$success-bg-solid:            $cx-color-base-context-light-success-bg-solid !default;
$success-bg-highlight:        $cx-color-base-context-light-success-bg-highlight !default;
$success-border-main:         $cx-color-base-context-light-success-border-main !default;
$success-border-subtle:       $cx-color-base-context-light-success-border-subtle !default;
$success-icon-main:           $cx-color-base-context-light-success-icon-main !default;
$success-icon-subtle:         $cx-color-base-context-light-success-icon-subtle !default;
$success-icon-slight:         $cx-color-base-context-light-success-icon-slight !default;
$success-cue-main:            $cx-color-base-context-light-success-cue-main !default;
$success-cue-slight:          $cx-color-base-context-light-success-cue-slight !default;
$success-dim-slight:          $cx-color-base-context-light-success-dim-slight !default;
$success-dim-main:            $cx-color-base-context-light-success-dim-main !default;
$success-dim-subtle:          $cx-color-base-context-light-success-dim-subtle !default;
$success-link-main:           $cx-color-base-context-light-success-link-main !default;
$success-link-visited:        $cx-color-base-context-light-success-link-visited !default;
$success-link-hover:          $cx-color-base-context-light-success-link-hover !default;
$success-link-active:         $cx-color-base-context-light-success-link-active !default;
$success-fg-idle:           $cx-color-base-context-light-success-fg-idle !default;
$success-fg-disabled:         $cx-color-base-context-light-success-fg-disabled !default;
$success-fg-hover:            $cx-color-base-context-light-success-fg-hover !default;
$success-fg-press:            $cx-color-base-context-light-success-fg-press !default;
$success-bg-idle:           $cx-color-base-context-light-success-bg-idle !default;
$success-bg-disabled:         $cx-color-base-context-light-success-bg-disabled !default;
$success-bg-hover:            $cx-color-base-context-light-success-bg-hover !default;
$success-bg-press:            $cx-color-base-context-light-success-bg-press !default;
// scss-docs-end success-context-variables

// scss-docs-start warning-context-variables
$warning-base-color:          $cx-color-base-context-light-warning-base-color !default;
$warning-contrast-color:      $cx-color-base-context-light-warning-contrast-color !default;
$warning-transparent-color:   $cx-color-base-context-light-warning-transparent-color !default;
$warning-fg-main:             $cx-color-base-context-light-warning-fg-main !default;
$warning-fg-subtle:           $cx-color-base-context-light-warning-fg-subtle !default;
$warning-fg-slight:           $cx-color-base-context-light-warning-fg-slight !default;
$warning-fg-inverse:          $cx-color-base-context-light-warning-fg-inverse !default;
$warning-fg-solid:            $cx-color-base-context-light-warning-fg-solid !default;
$warning-fg-highlight:        $cx-color-base-context-light-warning-fg-highlight !default;
$warning-bg-main:             $cx-color-base-context-light-warning-bg-main !default;
$warning-bg-even:             $cx-color-base-context-light-warning-bg-even !default;
$warning-bg-evident:          $cx-color-base-context-light-warning-bg-evident !default;
$warning-bg-inverse:          $cx-color-base-context-light-warning-bg-inverse !default;
$warning-bg-solid:            $cx-color-base-context-light-warning-bg-solid !default;
$warning-bg-highlight:        $cx-color-base-context-light-warning-bg-highlight !default;
$warning-border-main:         $cx-color-base-context-light-warning-border-main !default;
$warning-border-subtle:       $cx-color-base-context-light-warning-border-subtle !default;
$warning-icon-main:           $cx-color-base-context-light-warning-icon-main !default;
$warning-icon-subtle:         $cx-color-base-context-light-warning-icon-subtle !default;
$warning-icon-slight:         $cx-color-base-context-light-warning-icon-slight !default;
$warning-cue-main:            $cx-color-base-context-light-warning-cue-main !default;
$warning-cue-slight:          $cx-color-base-context-light-warning-cue-slight !default;
$warning-dim-slight:          $cx-color-base-context-light-warning-dim-slight !default;
$warning-dim-main:            $cx-color-base-context-light-warning-dim-main !default;
$warning-dim-subtle:          $cx-color-base-context-light-warning-dim-subtle !default;
$warning-link-main:           $cx-color-base-context-light-warning-link-main !default;
$warning-link-visited:        $cx-color-base-context-light-warning-link-visited !default;
$warning-link-hover:          $cx-color-base-context-light-warning-link-hover !default;
$warning-link-active:         $cx-color-base-context-light-warning-link-active !default;
$warning-fg-idle:           $cx-color-base-context-light-warning-fg-idle !default;
$warning-fg-disabled:         $cx-color-base-context-light-warning-fg-disabled !default;
$warning-fg-hover:            $cx-color-base-context-light-warning-fg-hover !default;
$warning-fg-press:            $cx-color-base-context-light-warning-fg-press !default;
$warning-bg-idle:           $cx-color-base-context-light-warning-bg-idle !default;
$warning-bg-disabled:         $cx-color-base-context-light-warning-bg-disabled !default;
$warning-bg-hover:            $cx-color-base-context-light-warning-bg-hover !default;
$warning-bg-press:            $cx-color-base-context-light-warning-bg-press !default;
// scss-docs-end warning-context-variables

// scss-docs-start info-context-variables
$info-base-color:             $cx-color-base-context-light-info-base-color !default;
$info-contrast-color:         $cx-color-base-context-light-info-contrast-color !default;
$info-transparent-color:      $cx-color-base-context-light-info-transparent-color !default;
$info-fg-main:                $cx-color-base-context-light-info-fg-main !default;
$info-fg-subtle:              $cx-color-base-context-light-info-fg-subtle !default;
$info-fg-slight:              $cx-color-base-context-light-info-fg-slight !default;
$info-fg-inverse:             $cx-color-base-context-light-info-fg-inverse !default;
$info-fg-solid:               $cx-color-base-context-light-info-fg-solid !default;
$info-fg-highlight:           $cx-color-base-context-light-info-fg-highlight !default;
$info-bg-main:                $cx-color-base-context-light-info-bg-main !default;
$info-bg-even:                $cx-color-base-context-light-info-bg-even !default;
$info-bg-evident:             $cx-color-base-context-light-info-bg-evident !default;
$info-bg-inverse:             $cx-color-base-context-light-info-bg-inverse !default;
$info-bg-solid:               $cx-color-base-context-light-info-bg-solid !default;
$info-bg-highlight:           $cx-color-base-context-light-info-bg-highlight !default;
$info-border-main:            $cx-color-base-context-light-info-border-main !default;
$info-border-subtle:          $cx-color-base-context-light-info-border-subtle !default;
$info-icon-main:              $cx-color-base-context-light-info-icon-main !default;
$info-icon-subtle:            $cx-color-base-context-light-info-icon-subtle !default;
$info-icon-slight:            $cx-color-base-context-light-info-icon-slight !default;
$info-cue-main:               $cx-color-base-context-light-info-cue-main !default;
$info-cue-slight:             $cx-color-base-context-light-info-cue-slight !default;
$info-dim-slight:             $cx-color-base-context-light-info-dim-slight !default;
$info-dim-main:               $cx-color-base-context-light-info-dim-main !default;
$info-dim-subtle:             $cx-color-base-context-light-info-dim-subtle !default;
$info-link-main:              $cx-color-base-context-light-info-link-main !default;
$info-link-visited:           $cx-color-base-context-light-info-link-visited !default;
$info-link-hover:             $cx-color-base-context-light-info-link-hover !default;
$info-link-active:            $cx-color-base-context-light-info-link-active !default;
$info-fg-idle:              $cx-color-base-context-light-info-fg-idle !default;
$info-fg-disabled:            $cx-color-base-context-light-info-fg-disabled !default;
$info-fg-hover:               $cx-color-base-context-light-info-fg-hover !default;
$info-fg-press:               $cx-color-base-context-light-info-fg-press !default;
$info-bg-idle:              $cx-color-base-context-light-info-bg-idle !default;
$info-bg-disabled:            $cx-color-base-context-light-info-bg-disabled !default;
$info-bg-hover:               $cx-color-base-context-light-info-bg-hover !default;
$info-bg-press:               $cx-color-base-context-light-info-bg-press !default;
// scss-docs-end info-context-variables

// scss-docs-start black-context-variables
$black-base-color:            $cx-color-base-context-light-black-base-color !default;
$black-contrast-color:        $cx-color-base-context-light-black-contrast-color !default;
$black-transparent-color:     $cx-color-base-context-light-black-transparent-color !default;
$black-fg-main:               $cx-color-base-context-light-black-fg-main !default;
$black-fg-subtle:             $cx-color-base-context-light-black-fg-subtle !default;
$black-fg-slight:             $cx-color-base-context-light-black-fg-slight !default;
$black-fg-inverse:            $cx-color-base-context-light-black-fg-inverse !default;
$black-fg-solid:              $cx-color-base-context-light-black-fg-solid !default;
$black-fg-highlight:          $cx-color-base-context-light-black-fg-highlight !default;
$black-bg-main:               $cx-color-base-context-light-black-bg-main !default;
$black-bg-even:               $cx-color-base-context-light-black-bg-even !default;
$black-bg-evident:            $cx-color-base-context-light-black-bg-evident !default;
$black-bg-inverse:            $cx-color-base-context-light-black-bg-inverse !default;
$black-bg-solid:              $cx-color-base-context-light-black-bg-solid !default;
$black-bg-highlight:          $cx-color-base-context-light-black-bg-highlight !default;
$black-border-main:           $cx-color-base-context-light-black-border-main !default;
$black-border-subtle:         $cx-color-base-context-light-black-border-subtle !default;
$black-icon-main:             $cx-color-base-context-light-black-icon-main !default;
$black-icon-subtle:           $cx-color-base-context-light-black-icon-subtle !default;
$black-icon-slight:           $cx-color-base-context-light-black-icon-slight !default;
$black-cue-main:              $cx-color-base-context-light-black-cue-main !default;
$black-cue-slight:            $cx-color-base-context-light-black-cue-slight !default;
$black-dim-slight:            $cx-color-base-context-light-black-dim-slight !default;
$black-dim-main:              $cx-color-base-context-light-black-dim-main !default;
$black-dim-subtle:            $cx-color-base-context-light-black-dim-subtle !default;
$black-link-main:             $cx-color-base-context-light-black-link-main !default;
$black-link-visited:          $cx-color-base-context-light-black-link-visited !default;
$black-link-hover:            $cx-color-base-context-light-black-link-hover !default;
$black-link-active:           $cx-color-base-context-light-black-link-active !default;
$black-fg-idle:             $cx-color-base-context-light-black-fg-idle !default;
$black-fg-disabled:           $cx-color-base-context-light-black-fg-disabled !default;
$black-fg-hover:              $cx-color-base-context-light-black-fg-hover !default;
$black-fg-press:              $cx-color-base-context-light-black-fg-press !default;
$black-bg-idle:             $cx-color-base-context-light-black-bg-idle !default;
$black-bg-disabled:           $cx-color-base-context-light-black-bg-disabled !default;
$black-bg-hover:              $cx-color-base-context-light-black-bg-hover !default;
$black-bg-press:              $cx-color-base-context-light-black-bg-press !default;
// scss-docs-end black-context-variables

// scss-docs-start white-context-variables
$white-base-color:            $cx-color-base-context-light-white-base-color !default;
$white-contrast-color:        $cx-color-base-context-light-white-contrast-color !default;
$white-transparent-color:     $cx-color-base-context-light-white-transparent-color !default;
$white-fg-main:               $cx-color-base-context-light-white-fg-main !default;
$white-fg-subtle:             $cx-color-base-context-light-white-fg-subtle !default;
$white-fg-slight:             $cx-color-base-context-light-white-fg-slight !default;
$white-fg-inverse:            $cx-color-base-context-light-white-fg-inverse !default;
$white-fg-solid:              $cx-color-base-context-light-white-fg-solid !default;
$white-fg-highlight:          $cx-color-base-context-light-white-fg-highlight !default;
$white-bg-main:               $cx-color-base-context-light-white-bg-main !default;
$white-bg-even:               $cx-color-base-context-light-white-bg-even !default;
$white-bg-evident:            $cx-color-base-context-light-white-bg-evident !default;
$white-bg-inverse:            $cx-color-base-context-light-white-bg-inverse !default;
$white-bg-solid:              $cx-color-base-context-light-white-bg-solid !default;
$white-bg-highlight:          $cx-color-base-context-light-white-bg-highlight !default;
$white-border-main:           $cx-color-base-context-light-white-border-main !default;
$white-border-subtle:         $cx-color-base-context-light-white-border-subtle !default;
$white-icon-main:             $cx-color-base-context-light-white-icon-main !default;
$white-icon-subtle:           $cx-color-base-context-light-white-icon-subtle !default;
$white-icon-slight:           $cx-color-base-context-light-white-icon-slight !default;
$white-cue-main:              $cx-color-base-context-light-white-cue-main !default;
$white-cue-slight:            $cx-color-base-context-light-white-cue-slight !default;
$white-dim-slight:            $cx-color-base-context-light-white-dim-slight !default;
$white-dim-main:              $cx-color-base-context-light-white-dim-main !default;
$white-dim-subtle:            $cx-color-base-context-light-white-dim-subtle !default;
$white-link-main:             $cx-color-base-context-light-white-link-main !default;
$white-link-visited:          $cx-color-base-context-light-white-link-visited !default;
$white-link-hover:            $cx-color-base-context-light-white-link-hover !default;
$white-link-active:           $cx-color-base-context-light-white-link-active !default;
$white-fg-idle:             $cx-color-base-context-light-white-fg-idle !default;
$white-fg-disabled:           $cx-color-base-context-light-white-fg-disabled !default;
$white-fg-hover:              $cx-color-base-context-light-white-fg-hover !default;
$white-fg-press:              $cx-color-base-context-light-white-fg-press !default;
$white-bg-idle:             $cx-color-base-context-light-white-bg-idle !default;
$white-bg-disabled:           $cx-color-base-context-light-white-bg-disabled !default;
$white-bg-hover:              $cx-color-base-context-light-white-bg-hover !default;
$white-bg-press:              $cx-color-base-context-light-white-bg-press !default;
// scss-docs-end white-context-variables
// scss-docs-end context-palette-variables
