// Dark mode colors

// scss-docs-start base-color-dark-variables
$default-dark:       $cx-color-base-context-dark-default-base-color !default;
$alternate-dark:     $cx-color-base-context-dark-alternate-base-color !default;
$primary-dark:       $cx-color-base-context-dark-primary-base-color !default;
$secondary-dark:     $cx-color-base-context-dark-secondary-base-color !default;
$neutral-dark:       $cx-color-base-context-dark-neutral-base-color !default;
$danger-dark:        $cx-color-base-context-dark-danger-base-color !default;
$success-dark:       $cx-color-base-context-dark-success-base-color !default;
$warning-dark:       $cx-color-base-context-dark-warning-base-color !default;
$info-dark:          $cx-color-base-context-dark-info-base-color !default;
$black-dark:         $cx-color-base-context-dark-black-base-color !default;
$white-dark:         $cx-color-base-context-dark-white-base-color !default;
// scss-docs-end base-color-dark-variables

// scss-docs-start contrast-color-dark-variables
$default-contrast-dark:       $cx-color-base-context-dark-default-contrast-color !default;
$alternate-contrast-dark:     $cx-color-base-context-dark-alternate-contrast-color !default;
$primary-contrast-dark:       $cx-color-base-context-dark-primary-contrast-color !default;
$secondary-contrast-dark:     $cx-color-base-context-dark-secondary-contrast-color !default;
$neutral-contrast-dark:       $cx-color-base-context-dark-neutral-contrast-color !default;
$danger-contrast-dark:        $cx-color-base-context-dark-danger-contrast-color !default;
$success-contrast-dark:       $cx-color-base-context-dark-success-contrast-color !default;
$warning-contrast-dark:       $cx-color-base-context-dark-warning-contrast-color !default;
$info-contrast-dark:          $cx-color-base-context-dark-info-contrast-color !default;
$black-contrast-dark:         $cx-color-base-context-dark-black-contrast-color !default;
$white-contrast-dark:         $cx-color-base-context-dark-white-contrast-color !default;
// scss-docs-end contrast-color-dark-variables

// scss-docs-start body-color-dark-variables
$base-color-dark:                   $cx-color-base-context-dark-default-base-color !default;
$contrast-color-dark:               $cx-color-base-context-dark-default-contrast-color !default;
$transparent-color-dark:            $cx-color-base-context-dark-default-transparent-color !default;
$fg-main-dark:                      $cx-color-base-context-dark-default-fg-main !default;
$fg-subtle-dark:                    $cx-color-base-context-dark-default-fg-subtle !default;
$fg-slight-dark:                    $cx-color-base-context-dark-default-fg-slight !default;
$fg-inverse-dark:                   $cx-color-base-context-dark-default-fg-inverse !default;
$fg-solid-dark:                     $cx-color-base-context-dark-default-fg-solid !default;
$fg-highlight-dark:                 $cx-color-base-context-dark-default-fg-highlight !default;
$bg-main-dark:                      $cx-color-base-context-dark-default-bg-main !default;
$bg-even-dark:                      $cx-color-base-context-dark-default-bg-even !default;
$bg-evident-dark:                   $cx-color-base-context-dark-default-bg-evident !default;
$bg-inverse-dark:                   $cx-color-base-context-dark-default-bg-inverse !default;
$bg-solid-dark:                     $cx-color-base-context-dark-default-bg-solid !default;
$bg-highlight-dark:                 $cx-color-base-context-dark-default-bg-highlight !default;
$border-main-dark:                  $cx-color-base-context-dark-default-border-main !default;
$border-subtle-dark:                $cx-color-base-context-dark-default-border-subtle !default;
$icon-main-dark:                    $cx-color-base-context-dark-default-icon-main !default;
$icon-subtle-dark:                  $cx-color-base-context-dark-default-icon-subtle !default;
$icon-slight-dark:                  $cx-color-base-context-dark-default-icon-slight !default;
$cue-main-dark:                     $cx-color-base-context-dark-default-cue-main !default;
$cue-slight-dark:                   $cx-color-base-context-dark-default-cue-slight !default;
$dim-main-dark:                     $cx-color-base-context-dark-default-dim-main !default;
$dim-subtle-dark:                   $cx-color-base-context-dark-default-dim-subtle !default;
$dim-slight-dark:                   $cx-color-base-context-dark-default-dim-slight !default;
$link-main-dark:                    $cx-color-base-context-dark-default-link-main !default;
$link-visited-dark:                 $cx-color-base-context-dark-default-link-visited !default;
$link-hover-dark:                   $cx-color-base-context-dark-default-link-hover !default;
$link-active-dark:                  $cx-color-base-context-dark-default-link-active !default;
$fg-idle-dark:                    $cx-color-base-context-dark-default-fg-idle !default;
$fg-disabled-dark:                  $cx-color-base-context-dark-default-fg-disabled !default;
$fg-hover-dark:                     $cx-color-base-context-dark-default-fg-hover !default;
$fg-press-dark:                     $cx-color-base-context-dark-default-fg-press !default;
$bg-idle-dark:                    $cx-color-base-context-dark-default-bg-idle !default;
$bg-disabled-dark:                  $cx-color-base-context-dark-default-bg-disabled !default;
$bg-hover-dark:                     $cx-color-base-context-dark-default-bg-hover !default;
$bg-press-dark:                     $cx-color-base-context-dark-default-bg-press !default;
// scss-docs-end body-color-dark-variables

// scss-docs-start default-context-dark-variables
$default-base-color-dark:           $cx-color-base-context-dark-default-base-color !default;
$default-contrast-color-dark:       $cx-color-base-context-dark-default-contrast-color !default;
$default-transparent-color-dark:    $cx-color-base-context-dark-default-transparent-color !default;
$default-fg-main-dark:              $cx-color-base-context-dark-default-fg-main !default;
$default-fg-subtle-dark:            $cx-color-base-context-dark-default-fg-subtle !default;
$default-fg-slight-dark:            $cx-color-base-context-dark-default-fg-slight !default;
$default-fg-inverse-dark:           $cx-color-base-context-dark-default-fg-inverse !default;
$default-fg-solid-dark:             $cx-color-base-context-dark-default-fg-solid !default;
$default-fg-highlight-dark:         $cx-color-base-context-dark-default-fg-highlight !default;
$default-bg-main-dark:              $cx-color-base-context-dark-default-bg-main !default;
$default-bg-even-dark:              $cx-color-base-context-dark-default-bg-even !default;
$default-bg-evident-dark:           $cx-color-base-context-dark-default-bg-evident !default;
$default-bg-inverse-dark:           $cx-color-base-context-dark-default-bg-inverse !default;
$default-bg-solid-dark:             $cx-color-base-context-dark-default-bg-solid !default;
$default-bg-highlight-dark:         $cx-color-base-context-dark-default-bg-highlight !default;
$default-border-main-dark:          $cx-color-base-context-dark-default-border-main !default;
$default-border-subtle-dark:        $cx-color-base-context-dark-default-border-subtle !default;
$default-icon-main-dark:            $cx-color-base-context-dark-default-icon-main !default;
$default-icon-subtle-dark:          $cx-color-base-context-dark-default-icon-subtle !default;
$default-icon-slight-dark:          $cx-color-base-context-dark-default-icon-slight !default;
$default-cue-main-dark:             $cx-color-base-context-dark-default-cue-main !default;
$default-cue-slight-dark:           $cx-color-base-context-dark-default-cue-slight !default;
$default-dim-main-dark:             $cx-color-base-context-dark-default-dim-main !default;
$default-dim-subtle-dark:           $cx-color-base-context-dark-default-dim-subtle !default;
$default-dim-slight-dark:           $cx-color-base-context-dark-default-dim-slight !default;
$default-link-main-dark:            $cx-color-base-context-dark-default-link-main !default;
$default-link-visited-dark:         $cx-color-base-context-dark-default-link-visited !default;
$default-link-hover-dark:           $cx-color-base-context-dark-default-link-hover !default;
$default-link-active-dark:          $cx-color-base-context-dark-default-link-active !default;
$default-fg-idle-dark:            $cx-color-base-context-dark-default-fg-idle !default;
$default-fg-disabled-dark:          $cx-color-base-context-dark-default-fg-disabled !default;
$default-fg-hover-dark:             $cx-color-base-context-dark-default-fg-hover !default;
$default-fg-press-dark:             $cx-color-base-context-dark-default-fg-press !default;
$default-bg-idle-dark:            $cx-color-base-context-dark-default-bg-idle !default;
$default-bg-disabled-dark:          $cx-color-base-context-dark-default-bg-disabled !default;
$default-bg-hover-dark:             $cx-color-base-context-dark-default-bg-hover !default;
$default-bg-press-dark:             $cx-color-base-context-dark-default-bg-press !default;
// scss-docs-end default-context-dark-variables

// scss-docs-start alternate-context-dark-variables
$alternate-base-color-dark:         $cx-color-base-context-dark-alternate-base-color !default;
$alternate-contrast-color-dark:     $cx-color-base-context-dark-alternate-contrast-color !default;
$alternate-transparent-color-dark:  $cx-color-base-context-dark-alternate-transparent-color !default;
$alternate-fg-main-dark:            $cx-color-base-context-dark-alternate-fg-main !default;
$alternate-fg-subtle-dark:          $cx-color-base-context-dark-alternate-fg-subtle !default;
$alternate-fg-slight-dark:          $cx-color-base-context-dark-alternate-fg-slight !default;
$alternate-fg-inverse-dark:         $cx-color-base-context-dark-alternate-fg-inverse !default;
$alternate-fg-solid-dark:           $cx-color-base-context-dark-alternate-fg-solid !default;
$alternate-fg-highlight-dark:       $cx-color-base-context-dark-alternate-fg-highlight !default;
$alternate-bg-main-dark:            $cx-color-base-context-dark-alternate-bg-main !default;
$alternate-bg-even-dark:            $cx-color-base-context-dark-alternate-bg-even !default;
$alternate-bg-evident-dark:         $cx-color-base-context-dark-alternate-bg-evident !default;
$alternate-bg-inverse-dark:         $cx-color-base-context-dark-alternate-bg-inverse !default;
$alternate-bg-solid-dark:           $cx-color-base-context-dark-alternate-bg-solid !default;
$alternate-bg-highlight-dark:       $cx-color-base-context-dark-alternate-bg-highlight !default;
$alternate-border-main-dark:        $cx-color-base-context-dark-alternate-border-main !default;
$alternate-border-subtle-dark:      $cx-color-base-context-dark-alternate-border-subtle !default;
$alternate-icon-main-dark:          $cx-color-base-context-dark-alternate-icon-main !default;
$alternate-icon-subtle-dark:        $cx-color-base-context-dark-alternate-icon-subtle !default;
$alternate-icon-slight-dark:        $cx-color-base-context-dark-alternate-icon-slight !default;
$alternate-cue-main-dark:           $cx-color-base-context-dark-alternate-cue-main !default;
$alternate-cue-slight-dark:         $cx-color-base-context-dark-alternate-cue-slight !default;
$alternate-dim-main-dark:           $cx-color-base-context-dark-alternate-dim-main !default;
$alternate-dim-subtle-dark:         $cx-color-base-context-dark-alternate-dim-subtle !default;
$alternate-dim-slight-dark:         $cx-color-base-context-dark-alternate-dim-slight !default;
$alternate-link-main-dark:          $cx-color-base-context-dark-alternate-link-main !default;
$alternate-link-visited-dark:       $cx-color-base-context-dark-alternate-link-visited !default;
$alternate-link-hover-dark:         $cx-color-base-context-dark-alternate-link-hover !default;
$alternate-link-active-dark:        $cx-color-base-context-dark-alternate-link-active !default;
$alternate-fg-idle-dark:          $cx-color-base-context-dark-alternate-fg-idle !default;
$alternate-fg-disabled-dark:        $cx-color-base-context-dark-alternate-fg-disabled !default;
$alternate-fg-hover-dark:           $cx-color-base-context-dark-alternate-fg-hover !default;
$alternate-fg-press-dark:           $cx-color-base-context-dark-alternate-fg-press !default;
$alternate-bg-idle-dark:          $cx-color-base-context-dark-alternate-bg-idle !default;
$alternate-bg-disabled-dark:        $cx-color-base-context-dark-alternate-bg-disabled !default;
$alternate-bg-hover-dark:           $cx-color-base-context-dark-alternate-bg-hover !default;
$alternate-bg-press-dark:           $cx-color-base-context-dark-alternate-bg-press !default;
// scss-docs-end alternate-context-dark-variables

// scss-docs-start primary-context-dark-variables
$primary-base-color-dark:           $cx-color-base-context-dark-primary-base-color !default;
$primary-contrast-color-dark:       $cx-color-base-context-dark-primary-contrast-color !default;
$primary-transparent-color-dark:    $cx-color-base-context-dark-primary-transparent-color !default;
$primary-fg-main-dark:              $cx-color-base-context-dark-primary-fg-main !default;
$primary-fg-subtle-dark:            $cx-color-base-context-dark-primary-fg-subtle !default;
$primary-fg-slight-dark:            $cx-color-base-context-dark-primary-fg-slight !default;
$primary-fg-inverse-dark:           $cx-color-base-context-dark-primary-fg-inverse !default;
$primary-fg-solid-dark:             $cx-color-base-context-dark-primary-fg-solid !default;
$primary-fg-highlight-dark:         $cx-color-base-context-dark-primary-fg-highlight !default;
$primary-bg-main-dark:              $cx-color-base-context-dark-primary-bg-main !default;
$primary-bg-even-dark:              $cx-color-base-context-dark-primary-bg-even !default;
$primary-bg-evident-dark:           $cx-color-base-context-dark-primary-bg-evident !default;
$primary-bg-inverse-dark:           $cx-color-base-context-dark-primary-bg-inverse !default;
$primary-bg-solid-dark:             $cx-color-base-context-dark-primary-bg-solid !default;
$primary-bg-highlight-dark:         $cx-color-base-context-dark-primary-bg-highlight !default;
$primary-border-main-dark:          $cx-color-base-context-dark-primary-border-main !default;
$primary-border-subtle-dark:        $cx-color-base-context-dark-primary-border-subtle !default;
$primary-icon-main-dark:            $cx-color-base-context-dark-primary-icon-main !default;
$primary-icon-subtle-dark:          $cx-color-base-context-dark-primary-icon-subtle !default;
$primary-icon-slight-dark:          $cx-color-base-context-dark-primary-icon-slight !default;
$primary-cue-main-dark:             $cx-color-base-context-dark-primary-cue-main !default;
$primary-cue-slight-dark:           $cx-color-base-context-dark-primary-cue-slight !default;
$primary-dim-main-dark:             $cx-color-base-context-dark-primary-dim-main !default;
$primary-dim-subtle-dark:           $cx-color-base-context-dark-primary-dim-subtle !default;
$primary-dim-slight-dark:           $cx-color-base-context-dark-primary-dim-slight !default;
$primary-link-main-dark:            $cx-color-base-context-dark-primary-link-main !default;
$primary-link-visited-dark:         $cx-color-base-context-dark-primary-link-visited !default;
$primary-link-hover-dark:           $cx-color-base-context-dark-primary-link-hover !default;
$primary-link-active-dark:          $cx-color-base-context-dark-primary-link-active !default;
$primary-fg-idle-dark:            $cx-color-base-context-dark-primary-fg-idle !default;
$primary-fg-disabled-dark:          $cx-color-base-context-dark-primary-fg-disabled !default;
$primary-fg-hover-dark:             $cx-color-base-context-dark-primary-fg-hover !default;
$primary-fg-press-dark:             $cx-color-base-context-dark-primary-fg-press !default;
$primary-bg-idle-dark:            $cx-color-base-context-dark-primary-bg-idle !default;
$primary-bg-disabled-dark:          $cx-color-base-context-dark-primary-bg-disabled !default;
$primary-bg-hover-dark:             $cx-color-base-context-dark-primary-bg-hover !default;
$primary-bg-press-dark:             $cx-color-base-context-dark-primary-bg-press !default;
// scss-docs-end primary-context-dark-variables

// scss-docs-start secondary-context-dark-variables
$secondary-base-color-dark:         $cx-color-base-context-dark-secondary-base-color !default;
$secondary-contrast-color-dark:     $cx-color-base-context-dark-secondary-contrast-color !default;
$secondary-transparent-color-dark:  $cx-color-base-context-dark-secondary-transparent-color !default;
$secondary-fg-main-dark:            $cx-color-base-context-dark-secondary-fg-main !default;
$secondary-fg-subtle-dark:          $cx-color-base-context-dark-secondary-fg-subtle !default;
$secondary-fg-slight-dark:          $cx-color-base-context-dark-secondary-fg-slight !default;
$secondary-fg-inverse-dark:         $cx-color-base-context-dark-secondary-fg-inverse !default;
$secondary-fg-solid-dark:           $cx-color-base-context-dark-secondary-fg-solid !default;
$secondary-fg-highlight-dark:       $cx-color-base-context-dark-secondary-fg-highlight !default;
$secondary-bg-main-dark:            $cx-color-base-context-dark-secondary-bg-main !default;
$secondary-bg-even-dark:            $cx-color-base-context-dark-secondary-bg-even !default;
$secondary-bg-evident-dark:         $cx-color-base-context-dark-secondary-bg-evident !default;
$secondary-bg-inverse-dark:         $cx-color-base-context-dark-secondary-bg-inverse !default;
$secondary-bg-solid-dark:           $cx-color-base-context-dark-secondary-bg-solid !default;
$secondary-bg-highlight-dark:       $cx-color-base-context-dark-secondary-bg-highlight !default;
$secondary-border-main-dark:        $cx-color-base-context-dark-secondary-border-main !default;
$secondary-border-subtle-dark:      $cx-color-base-context-dark-secondary-border-subtle !default;
$secondary-icon-main-dark:          $cx-color-base-context-dark-secondary-icon-main !default;
$secondary-icon-subtle-dark:        $cx-color-base-context-dark-secondary-icon-subtle !default;
$secondary-icon-slight-dark:        $cx-color-base-context-dark-secondary-icon-slight !default;
$secondary-cue-main-dark:           $cx-color-base-context-dark-secondary-cue-main !default;
$secondary-cue-slight-dark:         $cx-color-base-context-dark-secondary-cue-slight !default;
$secondary-dim-main-dark:           $cx-color-base-context-dark-secondary-dim-main !default;
$secondary-dim-subtle-dark:         $cx-color-base-context-dark-secondary-dim-subtle !default;
$secondary-dim-slight-dark:         $cx-color-base-context-dark-secondary-dim-slight !default;
$secondary-link-main-dark:          $cx-color-base-context-dark-secondary-link-main !default;
$secondary-link-visited-dark:       $cx-color-base-context-dark-secondary-link-visited !default;
$secondary-link-hover-dark:         $cx-color-base-context-dark-secondary-link-hover !default;
$secondary-link-active-dark:        $cx-color-base-context-dark-secondary-link-active !default;
$secondary-fg-idle-dark:          $cx-color-base-context-dark-secondary-fg-idle !default;
$secondary-fg-disabled-dark:        $cx-color-base-context-dark-secondary-fg-disabled !default;
$secondary-fg-hover-dark:           $cx-color-base-context-dark-secondary-fg-hover !default;
$secondary-fg-press-dark:           $cx-color-base-context-dark-secondary-fg-press !default;
$secondary-bg-idle-dark:          $cx-color-base-context-dark-secondary-bg-idle !default;
$secondary-bg-disabled-dark:        $cx-color-base-context-dark-secondary-bg-disabled !default;
$secondary-bg-hover-dark:           $cx-color-base-context-dark-secondary-bg-hover !default;
$secondary-bg-press-dark:           $cx-color-base-context-dark-secondary-bg-press !default;
// scss-docs-end secondary-context-dark-variables

// scss-docs-start neutral-context-dark-variables
$neutral-base-color-dark:           $cx-color-base-context-dark-neutral-base-color !default;
$neutral-contrast-color-dark:       $cx-color-base-context-dark-neutral-contrast-color !default;
$neutral-transparent-color-dark:    $cx-color-base-context-dark-neutral-transparent-color !default;
$neutral-fg-main-dark:              $cx-color-base-context-dark-neutral-fg-main !default;
$neutral-fg-subtle-dark:            $cx-color-base-context-dark-neutral-fg-subtle !default;
$neutral-fg-slight-dark:            $cx-color-base-context-dark-neutral-fg-slight !default;
$neutral-fg-inverse-dark:           $cx-color-base-context-dark-neutral-fg-inverse !default;
$neutral-fg-solid-dark:             $cx-color-base-context-dark-neutral-fg-solid !default;
$neutral-fg-highlight-dark:         $cx-color-base-context-dark-neutral-fg-highlight !default;
$neutral-bg-main-dark:              $cx-color-base-context-dark-neutral-bg-main !default;
$neutral-bg-even-dark:              $cx-color-base-context-dark-neutral-bg-even !default;
$neutral-bg-evident-dark:           $cx-color-base-context-dark-neutral-bg-evident !default;
$neutral-bg-inverse-dark:           $cx-color-base-context-dark-neutral-bg-inverse !default;
$neutral-bg-solid-dark:             $cx-color-base-context-dark-neutral-bg-solid !default;
$neutral-bg-highlight-dark:         $cx-color-base-context-dark-neutral-bg-highlight !default;
$neutral-border-main-dark:          $cx-color-base-context-dark-neutral-border-main !default;
$neutral-border-subtle-dark:        $cx-color-base-context-dark-neutral-border-subtle !default;
$neutral-icon-main-dark:            $cx-color-base-context-dark-neutral-icon-main !default;
$neutral-icon-subtle-dark:          $cx-color-base-context-dark-neutral-icon-subtle !default;
$neutral-icon-slight-dark:          $cx-color-base-context-dark-neutral-icon-slight !default;
$neutral-cue-main-dark:             $cx-color-base-context-dark-neutral-cue-main !default;
$neutral-cue-slight-dark:           $cx-color-base-context-dark-neutral-cue-slight !default;
$neutral-dim-main-dark:             $cx-color-base-context-dark-neutral-dim-main !default;
$neutral-dim-subtle-dark:           $cx-color-base-context-dark-neutral-dim-subtle !default;
$neutral-dim-slight-dark:           $cx-color-base-context-dark-neutral-dim-slight !default;
$neutral-link-main-dark:            $cx-color-base-context-dark-neutral-link-main !default;
$neutral-link-visited-dark:         $cx-color-base-context-dark-neutral-link-visited !default;
$neutral-link-hover-dark:           $cx-color-base-context-dark-neutral-link-hover !default;
$neutral-link-active-dark:          $cx-color-base-context-dark-neutral-link-active !default;
$neutral-fg-idle-dark:            $cx-color-base-context-dark-neutral-fg-idle !default;
$neutral-fg-disabled-dark:          $cx-color-base-context-dark-neutral-fg-disabled !default;
$neutral-fg-hover-dark:             $cx-color-base-context-dark-neutral-fg-hover !default;
$neutral-fg-press-dark:             $cx-color-base-context-dark-neutral-fg-press !default;
$neutral-bg-idle-dark:            $cx-color-base-context-dark-neutral-bg-idle !default;
$neutral-bg-disabled-dark:          $cx-color-base-context-dark-neutral-bg-disabled !default;
$neutral-bg-hover-dark:             $cx-color-base-context-dark-neutral-bg-hover !default;
$neutral-bg-press-dark:             $cx-color-base-context-dark-neutral-bg-press !default;
// scss-docs-end neutral-context-dark-variables

// scss-docs-start danger-context-dark-variables
$danger-base-color-dark:            $cx-color-base-context-dark-danger-base-color !default;
$danger-contrast-color-dark:        $cx-color-base-context-dark-danger-contrast-color !default;
$danger-transparent-color-dark:     $cx-color-base-context-dark-danger-transparent-color !default;
$danger-fg-main-dark:               $cx-color-base-context-dark-danger-fg-main !default;
$danger-fg-subtle-dark:             $cx-color-base-context-dark-danger-fg-subtle !default;
$danger-fg-slight-dark:             $cx-color-base-context-dark-danger-fg-slight !default;
$danger-fg-inverse-dark:            $cx-color-base-context-dark-danger-fg-inverse !default;
$danger-fg-solid-dark:              $cx-color-base-context-dark-danger-fg-solid !default;
$danger-fg-highlight-dark:          $cx-color-base-context-dark-danger-fg-highlight !default;
$danger-bg-main-dark:               $cx-color-base-context-dark-danger-bg-main !default;
$danger-bg-even-dark:               $cx-color-base-context-dark-danger-bg-even !default;
$danger-bg-evident-dark:            $cx-color-base-context-dark-danger-bg-evident !default;
$danger-bg-inverse-dark:            $cx-color-base-context-dark-danger-bg-inverse !default;
$danger-bg-solid-dark:              $cx-color-base-context-dark-danger-bg-solid !default;
$danger-bg-highlight-dark:          $cx-color-base-context-dark-danger-bg-highlight !default;
$danger-border-main-dark:           $cx-color-base-context-dark-danger-border-main !default;
$danger-border-subtle-dark:         $cx-color-base-context-dark-danger-border-subtle !default;
$danger-icon-main-dark:             $cx-color-base-context-dark-danger-icon-main !default;
$danger-icon-subtle-dark:           $cx-color-base-context-dark-danger-icon-subtle !default;
$danger-icon-slight-dark:           $cx-color-base-context-dark-danger-icon-slight !default;
$danger-cue-main-dark:              $cx-color-base-context-dark-danger-cue-main !default;
$danger-cue-slight-dark:            $cx-color-base-context-dark-danger-cue-slight !default;
$danger-dim-main-dark:              $cx-color-base-context-dark-danger-dim-main !default;
$danger-dim-subtle-dark:            $cx-color-base-context-dark-danger-dim-subtle !default;
$danger-dim-slight-dark:            $cx-color-base-context-dark-danger-dim-slight !default;
$danger-link-main-dark:             $cx-color-base-context-dark-danger-link-main !default;
$danger-link-visited-dark:          $cx-color-base-context-dark-danger-link-visited !default;
$danger-link-hover-dark:            $cx-color-base-context-dark-danger-link-hover !default;
$danger-link-active-dark:           $cx-color-base-context-dark-danger-link-active !default;
$danger-fg-idle-dark:             $cx-color-base-context-dark-danger-fg-idle !default;
$danger-fg-disabled-dark:           $cx-color-base-context-dark-danger-fg-disabled !default;
$danger-fg-hover-dark:              $cx-color-base-context-dark-danger-fg-hover !default;
$danger-fg-press-dark:              $cx-color-base-context-dark-danger-fg-press !default;
$danger-bg-idle-dark:             $cx-color-base-context-dark-danger-bg-idle !default;
$danger-bg-disabled-dark:           $cx-color-base-context-dark-danger-bg-disabled !default;
$danger-bg-hover-dark:              $cx-color-base-context-dark-danger-bg-hover !default;
$danger-bg-press-dark:              $cx-color-base-context-dark-danger-bg-press !default;
// scss-docs-end danger-context-dark-variables

// scss-docs-start success-context-dark-variables
$success-base-color-dark:           $cx-color-base-context-dark-success-base-color !default;
$success-contrast-color-dark:       $cx-color-base-context-dark-success-contrast-color !default;
$success-transparent-color-dark:    $cx-color-base-context-dark-success-transparent-color !default;
$success-fg-main-dark:              $cx-color-base-context-dark-success-fg-main !default;
$success-fg-subtle-dark:            $cx-color-base-context-dark-success-fg-subtle !default;
$success-fg-slight-dark:            $cx-color-base-context-dark-success-fg-slight !default;
$success-fg-inverse-dark:           $cx-color-base-context-dark-success-fg-inverse !default;
$success-fg-solid-dark:             $cx-color-base-context-dark-success-fg-solid !default;
$success-fg-highlight-dark:         $cx-color-base-context-dark-success-fg-highlight !default;
$success-bg-main-dark:              $cx-color-base-context-dark-success-bg-main !default;
$success-bg-even-dark:              $cx-color-base-context-dark-success-bg-even !default;
$success-bg-evident-dark:           $cx-color-base-context-dark-success-bg-evident !default;
$success-bg-inverse-dark:           $cx-color-base-context-dark-success-bg-inverse !default;
$success-bg-solid-dark:             $cx-color-base-context-dark-success-bg-solid !default;
$success-bg-highlight-dark:         $cx-color-base-context-dark-success-bg-highlight !default;
$success-border-main-dark:          $cx-color-base-context-dark-success-border-main !default;
$success-border-subtle-dark:        $cx-color-base-context-dark-success-border-subtle !default;
$success-icon-main-dark:            $cx-color-base-context-dark-success-icon-main !default;
$success-icon-subtle-dark:          $cx-color-base-context-dark-success-icon-subtle !default;
$success-icon-slight-dark:          $cx-color-base-context-dark-success-icon-slight !default;
$success-cue-main-dark:             $cx-color-base-context-dark-success-cue-main !default;
$success-cue-slight-dark:           $cx-color-base-context-dark-success-cue-slight !default;
$success-dim-main-dark:             $cx-color-base-context-dark-success-dim-main !default;
$success-dim-subtle-dark:           $cx-color-base-context-dark-success-dim-subtle !default;
$success-dim-slight-dark:           $cx-color-base-context-dark-success-dim-slight !default;
$success-link-main-dark:            $cx-color-base-context-dark-success-link-main !default;
$success-link-visited-dark:         $cx-color-base-context-dark-success-link-visited !default;
$success-link-hover-dark:           $cx-color-base-context-dark-success-link-hover !default;
$success-link-active-dark:          $cx-color-base-context-dark-success-link-active !default;
$success-fg-idle-dark:            $cx-color-base-context-dark-success-fg-idle !default;
$success-fg-disabled-dark:          $cx-color-base-context-dark-success-fg-disabled !default;
$success-fg-hover-dark:             $cx-color-base-context-dark-success-fg-hover !default;
$success-fg-press-dark:             $cx-color-base-context-dark-success-fg-press !default;
$success-bg-idle-dark:            $cx-color-base-context-dark-success-bg-idle !default;
$success-bg-disabled-dark:          $cx-color-base-context-dark-success-bg-disabled !default;
$success-bg-hover-dark:             $cx-color-base-context-dark-success-bg-hover !default;
$success-bg-press-dark:             $cx-color-base-context-dark-success-bg-press !default;
// scss-docs-end success-context-dark-variables

// scss-docs-start warning-context-vdark-ariables
$warning-base-color-dark:           $cx-color-base-context-dark-warning-base-color !default;
$warning-contrast-color-dark:       $cx-color-base-context-dark-warning-contrast-color !default;
$warning-transparent-color-dark:    $cx-color-base-context-dark-warning-transparent-color !default;
$warning-fg-main-dark:              $cx-color-base-context-dark-warning-fg-main !default;
$warning-fg-subtle-dark:            $cx-color-base-context-dark-warning-fg-subtle !default;
$warning-fg-slight-dark:            $cx-color-base-context-dark-warning-fg-slight !default;
$warning-fg-inverse-dark:           $cx-color-base-context-dark-warning-fg-inverse !default;
$warning-fg-solid-dark:             $cx-color-base-context-dark-warning-fg-solid !default;
$warning-fg-highlight-dark:         $cx-color-base-context-dark-warning-fg-highlight !default;
$warning-bg-main-dark:              $cx-color-base-context-dark-warning-bg-main !default;
$warning-bg-even-dark:              $cx-color-base-context-dark-warning-bg-even !default;
$warning-bg-evident-dark:           $cx-color-base-context-dark-warning-bg-evident !default;
$warning-bg-inverse-dark:           $cx-color-base-context-dark-warning-bg-inverse !default;
$warning-bg-solid-dark:             $cx-color-base-context-dark-warning-bg-solid !default;
$warning-bg-highlight-dark:         $cx-color-base-context-dark-warning-bg-highlight !default;
$warning-border-main-dark:          $cx-color-base-context-dark-warning-border-main !default;
$warning-border-subtle-dark:        $cx-color-base-context-dark-warning-border-subtle !default;
$warning-icon-main-dark:            $cx-color-base-context-dark-warning-icon-main !default;
$warning-icon-subtle-dark:          $cx-color-base-context-dark-warning-icon-subtle !default;
$warning-icon-slight-dark:          $cx-color-base-context-dark-warning-icon-slight !default;
$warning-cue-main-dark:             $cx-color-base-context-dark-warning-cue-main !default;
$warning-cue-slight-dark:           $cx-color-base-context-dark-warning-cue-slight !default;
$warning-dim-main-dark:             $cx-color-base-context-dark-warning-dim-main !default;
$warning-dim-subtle-dark:           $cx-color-base-context-dark-warning-dim-subtle !default;
$warning-dim-slight-dark:           $cx-color-base-context-dark-warning-dim-slight !default;
$warning-link-main-dark:            $cx-color-base-context-dark-warning-link-main !default;
$warning-link-visited-dark:         $cx-color-base-context-dark-warning-link-visited !default;
$warning-link-hover-dark:           $cx-color-base-context-dark-warning-link-hover !default;
$warning-link-active-dark:          $cx-color-base-context-dark-warning-link-active !default;
$warning-fg-idle-dark:            $cx-color-base-context-dark-warning-fg-idle !default;
$warning-fg-disabled-dark:          $cx-color-base-context-dark-warning-fg-disabled !default;
$warning-fg-hover-dark:             $cx-color-base-context-dark-warning-fg-hover !default;
$warning-fg-press-dark:             $cx-color-base-context-dark-warning-fg-press !default;
$warning-bg-idle-dark:            $cx-color-base-context-dark-warning-bg-idle !default;
$warning-bg-disabled-dark:          $cx-color-base-context-dark-warning-bg-disabled !default;
$warning-bg-hover-dark:             $cx-color-base-context-dark-warning-bg-hover !default;
$warning-bg-press-dark:             $cx-color-base-context-dark-warning-bg-press !default;
// scss-docs-end warning-context-dark-variables

// scss-docs-start info-context-dark-variables
$info-base-color-dark:              $cx-color-base-context-dark-info-base-color !default;
$info-contrast-color-dark:          $cx-color-base-context-dark-info-contrast-color !default;
$info-transparent-color-dark:       $cx-color-base-context-dark-info-transparent-color !default;
$info-fg-main-dark:                 $cx-color-base-context-dark-info-fg-main !default;
$info-fg-subtle-dark:               $cx-color-base-context-dark-info-fg-subtle !default;
$info-fg-slight-dark:               $cx-color-base-context-dark-info-fg-slight !default;
$info-fg-inverse-dark:              $cx-color-base-context-dark-info-fg-inverse !default;
$info-fg-solid-dark:                $cx-color-base-context-dark-info-fg-solid !default;
$info-fg-highlight-dark:            $cx-color-base-context-dark-info-fg-highlight !default;
$info-bg-main-dark:                 $cx-color-base-context-dark-info-bg-main !default;
$info-bg-even-dark:                 $cx-color-base-context-dark-info-bg-even !default;
$info-bg-evident-dark:              $cx-color-base-context-dark-info-bg-evident !default;
$info-bg-inverse-dark:              $cx-color-base-context-dark-info-bg-inverse !default;
$info-bg-solid-dark:                $cx-color-base-context-dark-info-bg-solid !default;
$info-bg-highlight-dark:            $cx-color-base-context-dark-info-bg-highlight !default;
$info-border-main-dark:             $cx-color-base-context-dark-info-border-main !default;
$info-border-subtle-dark:           $cx-color-base-context-dark-info-border-subtle !default;
$info-icon-main-dark:               $cx-color-base-context-dark-info-icon-main !default;
$info-icon-subtle-dark:             $cx-color-base-context-dark-info-icon-subtle !default;
$info-icon-slight-dark:             $cx-color-base-context-dark-info-icon-slight !default;
$info-cue-main-dark:                $cx-color-base-context-dark-info-cue-main !default;
$info-cue-slight-dark:              $cx-color-base-context-dark-info-cue-slight !default;
$info-dim-main-dark:                $cx-color-base-context-dark-info-dim-main !default;
$info-dim-subtle-dark:              $cx-color-base-context-dark-info-dim-subtle !default;
$info-dim-slight-dark:              $cx-color-base-context-dark-info-dim-slight !default;
$info-link-main-dark:               $cx-color-base-context-dark-info-link-main !default;
$info-link-visited-dark:            $cx-color-base-context-dark-info-link-visited !default;
$info-link-hover-dark:              $cx-color-base-context-dark-info-link-hover !default;
$info-link-active-dark:             $cx-color-base-context-dark-info-link-active !default;
$info-fg-idle-dark:               $cx-color-base-context-dark-info-fg-idle !default;
$info-fg-disabled-dark:             $cx-color-base-context-dark-info-fg-disabled !default;
$info-fg-hover-dark:                $cx-color-base-context-dark-info-fg-hover !default;
$info-fg-press-dark:                $cx-color-base-context-dark-info-fg-press !default;
$info-bg-idle-dark:               $cx-color-base-context-dark-info-bg-idle !default;
$info-bg-disabled-dark:             $cx-color-base-context-dark-info-bg-disabled !default;
$info-bg-hover-dark:                $cx-color-base-context-dark-info-bg-hover !default;
$info-bg-press-dark:                $cx-color-base-context-dark-info-bg-press !default;
// scss-docs-end info-context-dark-variables

// scss-docs-start black-context-dark-variables
$black-base-color-dark:             $cx-color-base-context-dark-black-base-color !default;
$black-contrast-color-dark:         $cx-color-base-context-dark-black-contrast-color !default;
$black-transparent-color-dark:      $cx-color-base-context-dark-black-transparent-color !default;
$black-fg-main-dark:                $cx-color-base-context-dark-black-fg-main !default;
$black-fg-subtle-dark:              $cx-color-base-context-dark-black-fg-subtle !default;
$black-fg-slight-dark:              $cx-color-base-context-dark-black-fg-slight !default;
$black-fg-inverse-dark:             $cx-color-base-context-dark-black-fg-inverse !default;
$black-fg-solid-dark:               $cx-color-base-context-dark-black-fg-solid !default;
$black-fg-highlight-dark:           $cx-color-base-context-dark-black-fg-highlight !default;
$black-bg-main-dark:                $cx-color-base-context-dark-black-bg-main !default;
$black-bg-even-dark:                $cx-color-base-context-dark-black-bg-even !default;
$black-bg-evident-dark:             $cx-color-base-context-dark-black-bg-evident !default;
$black-bg-inverse-dark:             $cx-color-base-context-dark-black-bg-inverse !default;
$black-bg-solid-dark:               $cx-color-base-context-dark-black-bg-solid !default;
$black-bg-highlight-dark:           $cx-color-base-context-dark-black-bg-highlight !default;
$black-border-main-dark:            $cx-color-base-context-dark-black-border-main !default;
$black-border-subtle-dark:          $cx-color-base-context-dark-black-border-subtle !default;
$black-icon-main-dark:              $cx-color-base-context-dark-black-icon-main !default;
$black-icon-subtle-dark:            $cx-color-base-context-dark-black-icon-subtle !default;
$black-icon-slight-dark:            $cx-color-base-context-dark-black-icon-slight !default;
$black-cue-main-dark:               $cx-color-base-context-dark-black-cue-main !default;
$black-cue-slight-dark:             $cx-color-base-context-dark-black-cue-slight !default;
$black-dim-main-dark:               $cx-color-base-context-dark-black-dim-main !default;
$black-dim-subtle-dark:             $cx-color-base-context-dark-black-dim-subtle !default;
$black-dim-slight-dark:             $cx-color-base-context-dark-black-dim-slight !default;
$black-link-main-dark:              $cx-color-base-context-dark-black-link-main !default;
$black-link-visited-dark:           $cx-color-base-context-dark-black-link-visited !default;
$black-link-hover-dark:             $cx-color-base-context-dark-black-link-hover !default;
$black-link-active-dark:            $cx-color-base-context-dark-black-link-active !default;
$black-fg-idle-dark:              $cx-color-base-context-dark-black-fg-idle !default;
$black-fg-disabled-dark:            $cx-color-base-context-dark-black-fg-disabled !default;
$black-fg-hover-dark:               $cx-color-base-context-dark-black-fg-hover !default;
$black-fg-press-dark:               $cx-color-base-context-dark-black-fg-press !default;
$black-bg-idle-dark:              $cx-color-base-context-dark-black-bg-idle !default;
$black-bg-disabled-dark:            $cx-color-base-context-dark-black-bg-disabled !default;
$black-bg-hover-dark:               $cx-color-base-context-dark-black-bg-hover !default;
$black-bg-press-dark:               $cx-color-base-context-dark-black-bg-press !default;
// scss-docs-end black-context-dark-variables

// scss-docs-start white-context-dark-variables
$white-base-color-dark:             $cx-color-base-context-dark-white-base-color !default;
$white-contrast-color-dark:         $cx-color-base-context-dark-white-contrast-color !default;
$white-transparent-color-dark:      $cx-color-base-context-dark-white-transparent-color !default;
$white-fg-main-dark:                $cx-color-base-context-dark-white-fg-main !default;
$white-fg-subtle-dark:              $cx-color-base-context-dark-white-fg-subtle !default;
$white-fg-slight-dark:              $cx-color-base-context-dark-white-fg-slight !default;
$white-fg-inverse-dark:             $cx-color-base-context-dark-white-fg-inverse !default;
$white-fg-solid-dark:               $cx-color-base-context-dark-white-fg-solid !default;
$white-fg-highlight-dark:           $cx-color-base-context-dark-white-fg-highlight !default;
$white-bg-main-dark:                $cx-color-base-context-dark-white-bg-main !default;
$white-bg-even-dark:                $cx-color-base-context-dark-white-bg-even !default;
$white-bg-evident-dark:             $cx-color-base-context-dark-white-bg-evident !default;
$white-bg-inverse-dark:             $cx-color-base-context-dark-white-bg-inverse !default;
$white-bg-solid-dark:               $cx-color-base-context-dark-white-bg-solid !default;
$white-bg-highlight-dark:           $cx-color-base-context-dark-white-bg-highlight !default;
$white-border-main-dark:            $cx-color-base-context-dark-white-border-main !default;
$white-border-subtle-dark:          $cx-color-base-context-dark-white-border-subtle !default;
$white-icon-main-dark:              $cx-color-base-context-dark-white-icon-main !default;
$white-icon-subtle-dark:            $cx-color-base-context-dark-white-icon-subtle !default;
$white-icon-slight-dark:            $cx-color-base-context-dark-white-icon-slight !default;
$white-cue-main-dark:               $cx-color-base-context-dark-white-cue-main !default;
$white-cue-slight-dark:             $cx-color-base-context-dark-white-cue-slight !default;
$white-dim-slight-dark:             $cx-color-base-context-dark-white-dim-slight !default;
$white-dim-main-dark:               $cx-color-base-context-dark-white-dim-main !default;
$white-dim-subtle-dark:             $cx-color-base-context-dark-white-dim-subtle !default;
$white-link-main-dark:              $cx-color-base-context-dark-white-link-main !default;
$white-link-visited-dark:           $cx-color-base-context-dark-white-link-visited !default;
$white-link-hover-dark:             $cx-color-base-context-dark-white-link-hover !default;
$white-link-active-dark:            $cx-color-base-context-dark-white-link-active !default;
$white-fg-idle-dark:              $cx-color-base-context-dark-white-fg-idle !default;
$white-fg-disabled-dark:            $cx-color-base-context-dark-white-fg-disabled !default;
$white-fg-hover-dark:               $cx-color-base-context-dark-white-fg-hover !default;
$white-fg-press-dark:               $cx-color-base-context-dark-white-fg-press !default;
$white-bg-idle-dark:              $cx-color-base-context-dark-white-bg-idle !default;
$white-bg-disabled-dark:            $cx-color-base-context-dark-white-bg-disabled !default;
$white-bg-hover-dark:               $cx-color-base-context-dark-white-bg-hover !default;
$white-bg-press-dark:               $cx-color-base-context-dark-white-bg-press !default;
// scss-docs-end white-context-dark-variables
