// scss-docs-start typography-tokens
$font-family-text:                    $cx-typography-font-family-text !default;
$font-family-display:                 $cx-typography-font-family-display !default;
$font-family-code:                    $cx-typography-font-family-code !default;
$font-family-html:                    $cx-typography-font-family-html !default;
$font-family-icon:                    $cx-typography-font-family-icon !default;

$font-family-body:                    $cx-typography-font-family-body !default;
$font-family-heading:                 $cx-typography-font-family-heading !default;
$font-family-hero:                    $cx-typography-font-family-hero !default;
$font-family-highlight:               $cx-typography-font-family-highlight !default;
$font-family-jumbo:                   $cx-typography-font-family-jumbo !default;
$font-family-label:                   $cx-typography-font-family-label !default;
$font-family-lead:                    $cx-typography-font-family-lead !default;
$font-family-link:                    $cx-typography-font-family-link !default;
$font-family-number:                  $cx-typography-font-family-number !default;
$font-family-price:                   $cx-typography-font-family-price !default;
$font-family-title:                   $cx-typography-font-family-title !default;

$font-size-text-5xlarge:              $cx-typography-font-size-text-5xlarge !default;
$font-size-text-4xlarge:              $cx-typography-font-size-text-4xlarge !default;
$font-size-text-3xlarge:              $cx-typography-font-size-text-3xlarge !default;
$font-size-text-2xlarge:              $cx-typography-font-size-text-2xlarge !default;
$font-size-text-xlarge:               $cx-typography-font-size-text-xlarge !default;
$font-size-text-large:                $cx-typography-font-size-text-large !default;
$font-size-text-medium:               $cx-typography-font-size-text-medium !default;
$font-size-text-small:                $cx-typography-font-size-text-small !default;
$font-size-text-xsmall:               $cx-typography-font-size-text-xsmall !default;
$font-size-text-2xsmall:              $cx-typography-font-size-text-2xsmall !default;

$font-weight-text-normal:             $cx-typography-font-weight-text-normal-weight !default;
$font-weight-text-strong:             $cx-typography-font-weight-text-strong-weight !default;
$font-weight-text-mass:               $cx-typography-font-weight-text-mass-weight !default;
$font-weight-text-elegant:            $cx-typography-font-weight-text-elegant-weight !default;

$line-height-text-5xlarge:            $cx-typography-line-height-text-5xlarge !default;
$line-height-text-4xlarge:            $cx-typography-line-height-text-4xlarge !default;
$line-height-text-3xlarge:            $cx-typography-line-height-text-3xlarge !default;
$line-height-text-2xlarge:            $cx-typography-line-height-text-2xlarge !default;
$line-height-text-xlarge:             $cx-typography-line-height-text-xlarge !default;
$line-height-text-large:              $cx-typography-line-height-text-large !default;
$line-height-text-medium:             $cx-typography-line-height-text-medium !default;
$line-height-text-small:              $cx-typography-line-height-text-small !default;
$line-height-text-xsmall:             $cx-typography-line-height-text-xsmall !default;
$line-height-text-2xsmall:            $cx-typography-line-height-text-2xsmall !default;

$font-size-display-5xlarge:           $cx-typography-font-size-display-5xlarge !default;
$font-size-display-4xlarge:           $cx-typography-font-size-display-4xlarge !default;
$font-size-display-3xlarge:           $cx-typography-font-size-display-3xlarge !default;
$font-size-display-2xlarge:           $cx-typography-font-size-display-2xlarge !default;
$font-size-display-xlarge:            $cx-typography-font-size-display-xlarge !default;
$font-size-display-large:             $cx-typography-font-size-display-large !default;
$font-size-display-medium:            $cx-typography-font-size-display-medium !default;
$font-size-display-small:             $cx-typography-font-size-display-small !default;
$font-size-display-xsmall:            $cx-typography-font-size-display-xsmall !default;
$font-size-display-2xsmall:           $cx-typography-font-size-display-2xsmall !default;

$font-weight-display-normal:          $cx-typography-font-weight-display-normal-weight !default;
$font-weight-display-strong:          $cx-typography-font-weight-display-strong-weight !default;
$font-weight-display-mass:            $cx-typography-font-weight-display-mass-weight !default;
$font-weight-display-elegant:         $cx-typography-font-weight-display-elegant-weight !default;

$line-height-display-5xlarge:         $cx-typography-line-height-display-5xlarge !default;
$line-height-display-4xlarge:         $cx-typography-line-height-display-4xlarge !default;
$line-height-display-3xlarge:         $cx-typography-line-height-display-3xlarge !default;
$line-height-display-2xlarge:         $cx-typography-line-height-display-2xlarge !default;
$line-height-display-xlarge:          $cx-typography-line-height-display-xlarge !default;
$line-height-display-large:           $cx-typography-line-height-display-large !default;
$line-height-display-medium:          $cx-typography-line-height-display-medium !default;
$line-height-display-small:           $cx-typography-line-height-display-small !default;
$line-height-display-xsmall:          $cx-typography-line-height-display-xsmall !default;
$line-height-display-2xsmall:         $cx-typography-line-height-display-2xsmall !default;

$font-size-html-body:                 $cx-typography-font-size-html-body !default;
$font-size-html-h1:                   $cx-typography-font-size-html-h1 !default;
$font-size-html-h2:                   $cx-typography-font-size-html-h2 !default;
$font-size-html-h3:                   $cx-typography-font-size-html-h3 !default;
$font-size-html-h4:                   $cx-typography-font-size-html-h4 !default;
$font-size-html-h5:                   $cx-typography-font-size-html-h5 !default;
$font-size-html-h6:                   $cx-typography-font-size-html-h6 !default;
$font-size-html-paragraph:            $cx-typography-font-size-html-paragraph !default;
$font-size-html-blockquote:           $cx-typography-font-size-html-blockquote !default;
$font-size-html-cite:                 $cx-typography-font-size-html-cite !default;
$font-size-html-list:                 $cx-typography-font-size-html-list !default;
$font-size-html-code:                 $cx-typography-font-size-html-code !default;

$font-weight-html-paragraph:          $cx-typography-font-weight-html-paragraph-weight !default;
$font-weight-html-heading:            $cx-typography-font-weight-html-heading-weight !default;
$font-weight-html-paragraph:          $cx-typography-font-weight-html-paragraph-weight !default;
$font-weight-html-blockquote:         $cx-typography-font-weight-html-blockquote-weight !default;
$font-weight-html-cite:               $cx-typography-font-weight-html-cite-weight !default;
$font-weight-html-list:               $cx-typography-font-weight-html-list-weight !default;
$font-weight-html-code:               $cx-typography-font-weight-html-code-weight !default;
$font-weight-html-bold:               $cx-typography-font-weight-html-bold-weight !default;

$line-height-html-body:               $cx-typography-line-height-html-body !default;
$line-height-html-h1:                 $cx-typography-line-height-html-h1 !default;
$line-height-html-h2:                 $cx-typography-line-height-html-h2 !default;
$line-height-html-h3:                 $cx-typography-line-height-html-h3 !default;
$line-height-html-h4:                 $cx-typography-line-height-html-h4 !default;
$line-height-html-h5:                 $cx-typography-line-height-html-h5 !default;
$line-height-html-h6:                 $cx-typography-line-height-html-h6 !default;
$line-height-html-paragraph:          $cx-typography-line-height-html-paragraph !default;
$line-height-html-blockquote:         $cx-typography-line-height-html-blockquote !default;
$line-height-html-cite:               $cx-typography-line-height-html-cite !default;
$line-height-html-list:               $cx-typography-line-height-html-list !default;
$line-height-html-code:               $cx-typography-line-height-html-code !default;

$font-size-code-large:                $cx-typography-font-size-code-large !default;
$font-size-code-medium:               $cx-typography-font-size-code-medium !default;
$font-size-code-small:                $cx-typography-font-size-code-small !default;

$font-weight-code-normal:             $cx-typography-font-weight-code-normal-weight !default;
$font-weight-code-strong:             $cx-typography-font-weight-code-strong-weight !default;

$line-height-code-large:              $cx-typography-line-height-code-large !default;
$line-height-code-medium:             $cx-typography-line-height-code-medium !default;
$line-height-code-small:              $cx-typography-line-height-code-small !default;

$font-context-jumbo:                  $cx-font-context-jumbo !default;
$font-context-hero:                   $cx-font-context-hero !default;
$font-context-heading:                $cx-font-context-heading !default;
$font-context-lead:                   $cx-font-context-lead !default;
$font-context-title-large:            $cx-font-context-title-large !default;
$font-context-title-medium:           $cx-font-context-title-medium !default;
$font-context-title-small:            $cx-font-context-title-small !default;
$font-context-body-large:             $cx-font-context-body-large !default;
$font-context-body-medium:            $cx-font-context-body-medium !default;
$font-context-body-small:             $cx-font-context-body-small !default;
// scss-docs-end typography-tokens
