// scss-docs-start form-tokens
// scss-docs-start form-icon-tokens
$form-feedback-valid-icon:                svg-icon($cx-icon-common-form-input-feedback-valid) !default;
$form-feedback-invalid-icon:              svg-icon($cx-icon-common-form-input-feedback-invalid) !default;
// scss-docs-end form-icon-tokens

// scss-docs-start form-option-tokens
$form-option-check-icon:                  svg-icon($cx-icon-common-form-input-option-check) !default;
$form-option-indeterminate-icon:          svg-icon($cx-icon-common-form-input-option-partial) !default;
$form-option-radio-icon:                  svg-icon($cx-icon-common-form-input-option-radio) !default;
// scss-docs-end form-option-tokens

$form-medium-icon-size:                   $cx-size-common-form-input-medium-icon !default;
$form-large-icon-size:                    $cx-size-common-form-input-large-icon !default;
$form-small-icon-size:                    $cx-size-common-form-input-small-icon !default;

// scss-docs-start form-select-tokens
$form-select-caret-icon:                  svg-icon($cx-icon-common-form-input-select-caret) !default;
$form-medium-caret-size:                  $cx-size-common-form-input-medium-caret !default;
$form-large-caret-size:                   $cx-size-common-form-input-large-caret !default;
$form-small-caret-size:                   $cx-size-common-form-input-small-caret !default;
// scss-docs-end form-select-tokens

// scss-docs-start form-border-tokens
$form-regular-border-width:               $cx-border-width-common-form-input-regular !default;
$form-floating-border-width:              $cx-border-width-common-form-input-floating !default;
$form-active-border-width:                $cx-border-width-common-form-input-active !default;
// $form-inactive-border-width:              $cx-border-width-common-form-input-inactive !default;

$form-medium-border-radius:               $cx-border-radius-common-form-input-medium !default;
$form-large-border-radius:                $cx-border-radius-common-form-input-large !default;
$form-small-border-radius:                $cx-border-radius-common-form-input-small !default;

$form-floating-blunt-border-radius:       $cx-border-radius-common-form-input-floating-blunt !default;
$form-floating-sharp-border-radius:       $cx-border-radius-common-form-input-floating-sharp !default;
// scss-docs-end form-border-tokens

// scss-docs-start form-spacing-tokens
$form-medium-padding-y:                   $cx-space-common-form-input-medium-padding-y !default;
$form-medium-padding-x:                   $cx-space-common-form-input-medium-padding-x !default;
$form-medium-gap:                         $cx-space-common-form-input-medium-gap !default;
$form-large-padding-y:                    $cx-space-common-form-input-large-padding-y !default;
$form-large-padding-x:                    $cx-space-common-form-input-large-padding-x !default;
$form-large-gap:                          $cx-space-common-form-input-large-gap !default;
$form-small-padding-y:                    $cx-space-common-form-input-small-padding-y !default;
$form-small-padding-x:                    $cx-space-common-form-input-small-padding-x !default;
$form-small-gap:                          $cx-space-common-form-input-small-gap !default;
// scss-docs-end form-spacing-tokens

// fusv-disable
// scss-docs-start form-font-tokens
$form-medium-label-font:                  $cx-font-common-form-input-medium-label !default;
$form-large-label-font:                   $cx-font-common-form-input-large-label !default;
$form-small-label-font:                   $cx-font-common-form-input-small-label !default;
$form-medium-text-font:                   $cx-font-common-form-input-medium-text !default;
$form-large-text-font:                    $cx-font-common-form-input-large-text !default;
$form-small-text-font:                    $cx-font-common-form-input-small-text !default;
$form-floating-text-font:                 $cx-font-common-form-input-floating-text !default;
$form-floating-label-font:                $cx-font-common-form-input-floating-label !default;
// scss-docs-end form-font-tokens
// fusv-enable

// scss-docs-start form-color-tokens
$form-default-idle-bg-regular:            $cx-color-common-form-input-default-idle-bg-regular !default;
$form-default-idle-bg-floating:           $cx-color-common-form-input-default-idle-bg-floating !default;
$form-default-idle-fg-active:             $cx-color-common-form-input-default-idle-fg-active !default;
$form-default-idle-fg-inactive:           $cx-color-common-form-input-default-idle-fg-inactive !default;
$form-default-idle-border-color:          $cx-color-common-form-input-default-idle-border !default;
$form-default-idle-assist-color:          $cx-color-common-form-input-default-idle-assist !default;
$form-default-idle-caret-color:           $cx-color-common-form-input-default-idle-caret !default;

$form-default-disabled-bg-regular:        $cx-color-common-form-input-default-disabled-bg-regular !default;
$form-default-disabled-bg-floating:       $cx-color-common-form-input-default-disabled-bg-floating !default;
$form-default-disabled-fg-active:         $cx-color-common-form-input-default-disabled-fg-active !default;
$form-default-disabled-fg-inactive:       $cx-color-common-form-input-default-disabled-fg-inactive !default;
$form-default-disabled-border-color:      $cx-color-common-form-input-default-disabled-border !default;
$form-default-disabled-assist-color:      $cx-color-common-form-input-default-disabled-assist !default;
$form-default-disabled-caret-color:       $cx-color-common-form-input-default-disabled-caret !default;

$form-default-focus-bg-regular:           $cx-color-common-form-input-default-focus-bg-regular !default;
$form-default-focus-bg-floating:          $cx-color-common-form-input-default-focus-bg-floating !default;
$form-default-focus-fg-active:            $cx-color-common-form-input-default-focus-fg-active !default;
$form-default-focus-fg-inactive:          $cx-color-common-form-input-default-focus-fg-inactive !default;
$form-default-focus-border-color:         $cx-color-common-form-input-default-focus-border !default;
$form-default-focus-assist-color:         $cx-color-common-form-input-default-focus-assist !default;
// $form-default-focus-caret-color:          $cx-color-common-form-input-default-focus-caret !default;

$form-default-invalid-bg-regular:         $cx-color-common-form-input-default-error-bg-regular !default;
$form-default-invalid-bg-floating:        $cx-color-common-form-input-default-error-bg-floating !default;
$form-default-invalid-fg-active:          $cx-color-common-form-input-default-error-fg-active !default;
$form-default-invalid-fg-inactive:        $cx-color-common-form-input-default-error-fg-inactive !default;
$form-default-invalid-border-color:       $cx-color-common-form-input-default-error-border !default;
$form-default-invalid-assist-color:       $cx-color-common-form-input-default-error-assist !default;
// $form-default-invalid-caret-color:        $cx-color-common-form-input-default-error-caret !default;

$form-default-valid-bg-regular:           $cx-color-common-form-input-default-success-bg-regular !default;
$form-default-valid-bg-floating:          $cx-color-common-form-input-default-success-bg-floating !default;
$form-default-valid-fg-active:            $cx-color-common-form-input-default-success-fg-active !default;
$form-default-valid-fg-inactive:          $cx-color-common-form-input-default-success-fg-inactive !default;
$form-default-valid-border-color:         $cx-color-common-form-input-default-success-border !default;
$form-default-valid-assist-color:         $cx-color-common-form-input-default-success-assist !default;
// $form-default-valid-caret-color:          $cx-color-common-form-input-default-success-caret !default;

$form-alternate-idle-bg-regular:          $cx-color-common-form-input-alternate-idle-bg-regular !default;
$form-alternate-idle-bg-floating:         $cx-color-common-form-input-alternate-idle-bg-floating !default;
$form-alternate-idle-fg-active:           $cx-color-common-form-input-alternate-idle-fg-active !default;
$form-alternate-idle-fg-inactive:         $cx-color-common-form-input-alternate-idle-fg-inactive !default;
$form-alternate-idle-border-color:        $cx-color-common-form-input-alternate-idle-border !default;
$form-alternate-idle-assist-color:        $cx-color-common-form-input-alternate-idle-assist !default;
$form-alternate-idle-caret-color:         $cx-color-common-form-input-alternate-idle-caret !default;

$form-alternate-disabled-bg-regular:      $cx-color-common-form-input-alternate-disabled-bg-regular !default;
$form-alternate-disabled-bg-floating:     $cx-color-common-form-input-alternate-disabled-bg-floating !default;
$form-alternate-disabled-fg-active:       $cx-color-common-form-input-alternate-disabled-fg-active !default;
$form-alternate-disabled-fg-inactive:     $cx-color-common-form-input-alternate-disabled-fg-inactive !default;
$form-alternate-disabled-border-color:    $cx-color-common-form-input-alternate-disabled-border !default;
$form-alternate-disabled-assist-color:    $cx-color-common-form-input-alternate-disabled-assist !default;
$form-alternate-disabled-caret-color:     $cx-color-common-form-input-alternate-disabled-caret !default;

$form-alternate-focus-bg-regular:         $cx-color-common-form-input-alternate-focus-bg-regular !default;
$form-alternate-focus-bg-floating:        $cx-color-common-form-input-alternate-focus-bg-floating !default;
$form-alternate-focus-fg-active:          $cx-color-common-form-input-alternate-focus-fg-active !default;
$form-alternate-focus-fg-inactive:        $cx-color-common-form-input-alternate-focus-fg-inactive !default;
$form-alternate-focus-border-color:       $cx-color-common-form-input-alternate-focus-border !default;
$form-alternate-focus-assist-color:       $cx-color-common-form-input-alternate-focus-assist !default;
// $form-alternate-focus-caret-color:        $cx-color-common-form-input-alternate-focus-caret !default;

$form-alternate-invalid-bg-regular:       $cx-color-common-form-input-alternate-error-bg-regular !default;
$form-alternate-invalid-bg-floating:      $cx-color-common-form-input-alternate-error-bg-floating !default;
$form-alternate-invalid-fg-active:        $cx-color-common-form-input-alternate-error-fg-active !default;
$form-alternate-invalid-fg-inactive:      $cx-color-common-form-input-alternate-error-fg-inactive !default;
$form-alternate-invalid-border-color:     $cx-color-common-form-input-alternate-error-border !default;
$form-alternate-invalid-assist-color:     $cx-color-common-form-input-alternate-error-assist !default;
// $form-alternate-invalid-caret-color:      $cx-color-common-form-input-alternate-error-caret !default;

$form-alternate-valid-bg-regular:         $cx-color-common-form-input-alternate-success-bg-regular !default;
$form-alternate-valid-bg-floating:        $cx-color-common-form-input-alternate-success-bg-floating !default;
$form-alternate-valid-fg-active:          $cx-color-common-form-input-alternate-success-fg-active !default;
$form-alternate-valid-fg-inactive:        $cx-color-common-form-input-alternate-success-fg-inactive !default;
$form-alternate-valid-border-color:       $cx-color-common-form-input-alternate-success-border !default;
$form-alternate-valid-assist-color:       $cx-color-common-form-input-alternate-success-assist !default;
// $form-alternate-valid-caret-color:        $cx-color-common-form-input-alternate-success-caret !default;
// scss-docs-end form-color-tokens
// scss-docs-end form-tokens
