// scss-docs-start form-tokens
// scss-docs-start form-icon-tokens
$input-select-caret-icon:                 svg-icon($cx-icon-common-form-input-select-caret) !default;
$input-feedback-valid-icon:               svg-icon($cx-icon-common-form-input-feedback-valid) !default;
$input-feedback-invalid-icon:             svg-icon($cx-icon-common-form-input-feedback-invalid) !default;
$form-option-input-check-icon:            svg-icon($cx-icon-common-form-input-option-check) !default;
$form-option-input-indeterminate-icon:    svg-icon($cx-icon-common-form-input-option-partial) !default;
$form-option-input-radio-icon:            svg-icon($cx-icon-common-form-input-option-radio) !default;

$input-medium-icon-size:                  $cx-size-common-form-input-medium-icon !default;
$input-large-icon-size:                   $cx-size-common-form-input-large-icon !default;
$input-small-icon-size:                   $cx-size-common-form-input-small-icon !default;

$input-medium-caret-size:                 $cx-size-common-form-input-medium-caret !default;
$input-large-caret-size:                  $cx-size-common-form-input-large-caret !default;
$input-small-caret-size:                  $cx-size-common-form-input-small-caret !default;
// scss-docs-end form-icon-tokens

// scss-docs-start form-border-tokens
$input-regular-border-width:              $cx-border-width-common-form-input-regular !default;
$input-floating-border-width:             $cx-border-width-common-form-input-floating !default;
$input-active-border-width:               $cx-border-width-common-form-input-active !default;
// $input-inactive-border-width:             $cx-border-width-common-form-input-inactive !default;

$input-medium-border-radius:              $cx-border-radius-common-form-input-medium !default;
$input-large-border-radius:               $cx-border-radius-common-form-input-large !default;
$input-small-border-radius:               $cx-border-radius-common-form-input-small !default;

$input-floating-blunt-border-radius:      $cx-border-radius-common-form-input-floating-blunt !default;
$input-floating-sharp-border-radius:      $cx-border-radius-common-form-input-floating-sharp !default;
// scss-docs-end form-border-tokens

// scss-docs-start form-spacing-tokens
$input-medium-padding-y:                  $cx-space-common-form-input-medium-padding-y !default;
$input-medium-padding-x:                  $cx-space-common-form-input-medium-padding-x !default;
$input-medium-gap:                        $cx-space-common-form-input-medium-gap !default;
$input-large-padding-y:                   $cx-space-common-form-input-large-padding-y !default;
$input-large-padding-x:                   $cx-space-common-form-input-large-padding-x !default;
$input-large-gap:                         $cx-space-common-form-input-large-gap !default;
$input-small-padding-y:                   $cx-space-common-form-input-small-padding-y !default;
$input-small-padding-x:                   $cx-space-common-form-input-small-padding-x !default;
$input-small-gap:                         $cx-space-common-form-input-small-gap !default;
// scss-docs-end form-spacing-tokens

// fusv-disable
// scss-docs-start form-font-tokens
$input-medium-label-font:                 $cx-font-common-form-input-medium-label !default;
$input-large-label-font:                  $cx-font-common-form-input-large-label !default;
$input-small-label-font:                  $cx-font-common-form-input-small-label !default;
$input-medium-text-font:                  $cx-font-common-form-input-medium-text !default;
$input-large-text-font:                   $cx-font-common-form-input-large-text !default;
$input-small-text-font:                   $cx-font-common-form-input-small-text !default;
$input-floating-text-font:                $cx-font-common-form-input-floating-text !default;
$input-floating-label-font:               $cx-font-common-form-input-floating-label !default;
// scss-docs-end form-font-tokens
// fusv-enable

// scss-docs-start form-color-tokens
$input-default-idle-bg-regular:           $cx-color-common-form-input-default-idle-bg-regular !default;
$input-default-idle-bg-floating:          $cx-color-common-form-input-default-idle-bg-floating !default;
$input-default-idle-fg-active:            $cx-color-common-form-input-default-idle-fg-active !default;
$input-default-idle-fg-inactive:          $cx-color-common-form-input-default-idle-fg-inactive !default;
$input-default-idle-border-color:         $cx-color-common-form-input-default-idle-border !default;
$input-default-idle-assist-color:         $cx-color-common-form-input-default-idle-assist !default;
$input-default-idle-caret-color:          $cx-color-common-form-input-default-idle-caret !default;

$input-default-disabled-bg-regular:       $cx-color-common-form-input-default-disabled-bg-regular !default;
$input-default-disabled-bg-floating:      $cx-color-common-form-input-default-disabled-bg-floating !default;
$input-default-disabled-fg-active:        $cx-color-common-form-input-default-disabled-fg-active !default;
$input-default-disabled-fg-inactive:      $cx-color-common-form-input-default-disabled-fg-inactive !default;
$input-default-disabled-border-color:     $cx-color-common-form-input-default-disabled-border !default;
$input-default-disabled-assist-color:     $cx-color-common-form-input-default-disabled-assist !default;
$input-default-disabled-caret-color:      $cx-color-common-form-input-default-disabled-caret !default;

$input-default-focus-bg-regular:          $cx-color-common-form-input-default-focus-bg-regular !default;
$input-default-focus-bg-floating:         $cx-color-common-form-input-default-focus-bg-floating !default;
$input-default-focus-fg-active:           $cx-color-common-form-input-default-focus-fg-active !default;
$input-default-focus-fg-inactive:         $cx-color-common-form-input-default-focus-fg-inactive !default;
$input-default-focus-border-color:        $cx-color-common-form-input-default-focus-border !default;
$input-default-focus-assist-color:        $cx-color-common-form-input-default-focus-assist !default;
// $input-default-focus-caret-color:         $cx-color-common-form-input-default-focus-caret !default;

$input-default-error-bg-regular:          $cx-color-common-form-input-default-error-bg-regular !default;
$input-default-error-bg-floating:         $cx-color-common-form-input-default-error-bg-floating !default;
$input-default-error-fg-active:           $cx-color-common-form-input-default-error-fg-active !default;
$input-default-error-fg-inactive:         $cx-color-common-form-input-default-error-fg-inactive !default;
$input-default-error-border-color:        $cx-color-common-form-input-default-error-border !default;
$input-default-error-assist-color:        $cx-color-common-form-input-default-error-assist !default;
// $input-default-error-caret-color:         $cx-color-common-form-input-default-error-caret !default;

$input-default-success-bg-regular:        $cx-color-common-form-input-default-success-bg-regular !default;
$input-default-success-bg-floating:       $cx-color-common-form-input-default-success-bg-floating !default;
$input-default-success-fg-active:         $cx-color-common-form-input-default-success-fg-active !default;
$input-default-success-fg-inactive:       $cx-color-common-form-input-default-success-fg-inactive !default;
$input-default-success-border-color:      $cx-color-common-form-input-default-success-border !default;
$input-default-success-assist-color:      $cx-color-common-form-input-default-success-assist !default;
// $input-default-success-caret-color:       $cx-color-common-form-input-default-success-caret !default;

$input-alternate-idle-bg-regular:         $cx-color-common-form-input-alternate-idle-bg-regular !default;
$input-alternate-idle-bg-floating:        $cx-color-common-form-input-alternate-idle-bg-floating !default;
$input-alternate-idle-fg-active:          $cx-color-common-form-input-alternate-idle-fg-active !default;
$input-alternate-idle-fg-inactive:        $cx-color-common-form-input-alternate-idle-fg-inactive !default;
$input-alternate-idle-border-color:       $cx-color-common-form-input-alternate-idle-border !default;
$input-alternate-idle-assist-color:       $cx-color-common-form-input-alternate-idle-assist !default;
$input-alternate-idle-caret-color:        $cx-color-common-form-input-alternate-idle-caret !default;

$input-alternate-disabled-bg-regular:     $cx-color-common-form-input-alternate-disabled-bg-regular !default;
$input-alternate-disabled-bg-floating:    $cx-color-common-form-input-alternate-disabled-bg-floating !default;
$input-alternate-disabled-fg-active:      $cx-color-common-form-input-alternate-disabled-fg-active !default;
$input-alternate-disabled-fg-inactive:    $cx-color-common-form-input-alternate-disabled-fg-inactive !default;
$input-alternate-disabled-border-color:   $cx-color-common-form-input-alternate-disabled-border !default;
$input-alternate-disabled-assist-color:   $cx-color-common-form-input-alternate-disabled-assist !default;
$input-alternate-disabled-caret-color:    $cx-color-common-form-input-alternate-disabled-caret !default;

$input-alternate-focus-bg-regular:        $cx-color-common-form-input-alternate-focus-bg-regular !default;
$input-alternate-focus-bg-floating:       $cx-color-common-form-input-alternate-focus-bg-floating !default;
$input-alternate-focus-fg-active:         $cx-color-common-form-input-alternate-focus-fg-active !default;
$input-alternate-focus-fg-inactive:       $cx-color-common-form-input-alternate-focus-fg-inactive !default;
$input-alternate-focus-border-color:      $cx-color-common-form-input-alternate-focus-border !default;
$input-alternate-focus-assist-color:      $cx-color-common-form-input-alternate-focus-assist !default;
// $input-alternate-focus-caret-color:       $cx-color-common-form-input-alternate-focus-caret !default;

$input-alternate-error-bg-regular:        $cx-color-common-form-input-alternate-error-bg-regular !default;
$input-alternate-error-bg-floating:       $cx-color-common-form-input-alternate-error-bg-floating !default;
$input-alternate-error-fg-active:         $cx-color-common-form-input-alternate-error-fg-active !default;
$input-alternate-error-fg-inactive:       $cx-color-common-form-input-alternate-error-fg-inactive !default;
$input-alternate-error-border-color:      $cx-color-common-form-input-alternate-error-border !default;
$input-alternate-error-assist-color:      $cx-color-common-form-input-alternate-error-assist !default;
// $input-alternate-error-caret-color:       $cx-color-common-form-input-alternate-error-caret !default;

$input-alternate-success-bg-regular:      $cx-color-common-form-input-alternate-success-bg-regular !default;
$input-alternate-success-bg-floating:     $cx-color-common-form-input-alternate-success-bg-floating !default;
$input-alternate-success-fg-active:       $cx-color-common-form-input-alternate-success-fg-active !default;
$input-alternate-success-fg-inactive:     $cx-color-common-form-input-alternate-success-fg-inactive !default;
$input-alternate-success-border-color:    $cx-color-common-form-input-alternate-success-border !default;
$input-alternate-success-assist-color:    $cx-color-common-form-input-alternate-success-assist !default;
// $input-alternate-success-caret-color:     $cx-color-common-form-input-alternate-success-caret !default;
// scss-docs-end form-color-tokens
// scss-docs-end form-tokens
