// scss-docs-start shadow-tokens
// scss-docs-start default-shadow-tokens
$shadow-default-95:         $cx-shadow-elevation-default-95 !default;
$shadow-default-90:         $cx-shadow-elevation-default-90 !default;
$shadow-default-80:         $cx-shadow-elevation-default-80 !default;
$shadow-default-70:         $cx-shadow-elevation-default-70 !default;
$shadow-default-60:         $cx-shadow-elevation-default-60 !default;
$shadow-default-50:         $cx-shadow-elevation-default-50 !default;
$shadow-default-40:         $cx-shadow-elevation-default-40 !default;
$shadow-default-30:         $cx-shadow-elevation-default-30 !default;
$shadow-default-20:         $cx-shadow-elevation-default-20 !default;
$shadow-default-10:         $cx-shadow-elevation-default-10 !default;
$shadow-default-05:         $cx-shadow-elevation-default-05 !default;
// scss-docs-end default-shadow-tokens
// scss-docs-end shadow-tokens
