// scss-docs-start table-tokens
$table-td-fg-color:               $cx-color-table-fg-data !default;
$table-td-bg-color:               $cx-color-table-bg-data !default;
$table-th-fg-color:               $cx-color-table-fg-head !default;
$table-th-bg-color:               $cx-color-table-bg-head !default;
$table-striped-fg-color:          $cx-color-table-fg-data !default;
$table-striped-bg-color:          $cx-color-table-bg-alt !default;
$table-active-fg-color:           $cx-color-table-fg-data !default;
$table-active-bg-color:           $cx-color-table-bg-active !default;
$table-hover-fg-color:            $cx-color-table-fg-data !default;
$table-hover-bg-color:            $cx-color-table-bg-hover !default;
$table-cue-color:                 $cx-color-table-cue-active !default;
$table-border-color:              $cx-color-table-border-main !default;

$table-cell-padding-y:            $cx-space-table-cell-padding-y !default;
$table-cell-padding-x:            $cx-space-table-cell-padding-x !default;
$table-border-width:              $cx-border-width-table-main !default;
$table-border-radius:             $cx-border-radius-table-main !default;
$table-active-indicator-size:     $cx-size-asset-indicator !default;
$table-th-font:                   $cx-font-table-head-text !default;
$table-td-font:                   $cx-font-table-data-text !default;
// scss-docs-end table-tokens
