---
import { getConfig } from '@libs/config'
import DropletFillIcon from '@components/svgs/DropletFillIcon.astro'
import ResponsiveImage from '@layouts/partials/ResponsiveImage.astro'
---

<hr class="my-xlarge" />
<div class="container">
  <div class="text-center">
    <div class="masthead-followup-icon d-inline-block mb-xsmall bg-contrast fg-danger">
      <DropletFillIcon height={32} width={32} />
    </div>
    <h2 class="display-6 fw-normal">Go further with Chassis Themes</h2>
    <p class="col-medium-10 col-large-8 mx-auto lead">
      Need something more than these examples? Take Chassis to the next level with premium themes from the <a
        href={getConfig().themes}>official Chassis Themes marketplace</a
      >. They’re built as their own extended frameworks, rich with new components and plugins, documentation, and
      powerful build tools.
    </p>
    <a href={getConfig().themes} class="button large outline-primary mb-medium">Browse themes</a>
  </div>
  <ResponsiveImage
    imgPath="/assets/img/chassis-themes-collage.png"
    alt="Chassis Themes"
    width={1150}
    height={320}
    classes="image-fluid mx-auto d-block mt-medium"
  />
</div>
